[Desktop Entry]
Encoding=UTF-8
Name=Grab2eLog
Type=Application
Exec=grab2log.py
Icon=/dls_sw/i06/etc/grab2elog01.png
Terminal=false
Name[en_GB]=Grab2eLog
GenericName[en_GB]=Grab2eLog
Comment[en_GB]=To capture a screen snapshot and post to eLog
Categories=X-ogda;
