<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="script_projects.xml"/>
	<import resource="terminal_logger.xml"/>
	<import resource="GDAMetadata.xml"/>
	<import resource="devices/all_devices.xml"/>

</beans>
