<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="Beamline I22">
         <property
               name="appName"
               value="Beamline I22">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>         
      </product>
   </extension>

   <extension
          point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="*">
       <perspectiveShortcut
             id="gda.rcp.ncd.perspectives.SetupPerspective">
       </perspectiveShortcut>      
       <perspectiveShortcut id="gda.rcp.ncd.perspectives.NcdDetectorPerspective"/>
       <perspectiveShortcut
             id="gda.rcp.ncd.perspectives.SaxsPerspective">
       </perspectiveShortcut>
       <perspectiveShortcut
             id="gda.rcp.ncd.perspectives.SaxsProcessingPerspective">
       </perspectiveShortcut>
       <perspectiveShortcut
             id="gda.rcp.ncd.perspectives.WaxsPerspective">
       </perspectiveShortcut>
       <perspectiveShortcut
             id="uk.ac.gda.client.scripting.JythonPerspective">
       </perspectiveShortcut>
       <perspectiveShortcut
             id="gda.rcp.ncd.perspectives.GridScanPerspective">
       </perspectiveShortcut>
    </perspectiveExtension>
   </extension>
   <extension
      point="uk.ac.gda.client.dashboard.objects">
   <Scannable
         name="bs2diode"
         tooltip="beamstop diode reading.">
   </Scannable>
   <Scannable
         name="d4d2"
         tooltip="d4d2 diode reading.">
   </Scannable>
</extension>
<extension
      point="uk.ac.gda.client.preferences">
   <preference
         name="gda.client.max.size.cached.points"
         value="10000">
   </preference>
</extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
		      allPopups="false"
		      locationURI="menu:window?after=showView">
		   <menu
		         label="Area Detectors">
		      <command
		            commandId="org.eclipse.ui.views.showView"
		            label="Pilatus2M"
		            style="push">
		         <parameter
		               name="org.eclipse.ui.views.showView.viewId"
		               value="uk.ac.gda.epics.adviewer.mpegview">
		         </parameter>
		         <parameter
		               name="org.eclipse.ui.views.showView.secondaryId"
		               value="pv//Pilatus2M//BL22I-EA-PILAT-01@//saxsDetectorSuffixes">
		         </parameter>
		      </command>
		   </menu>
		</menuContribution>
   </extension>
</plugin>
