<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.diamond.ac.uk/schema/gda/gda	http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd">

	<import resource="scannables/_all_scannables.xml"/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="GDAMetadata.xml"/>
	<import resource="file://${gda.core.dir}/servers/_common/plot_server.xml" />
	<import resource="scanDataPointServer.xml"/>
	<import resource="commandQueueProcessor.xml"/>
	<import resource="commandServer.xml"/>
	<import resource="beanAdder.xml"/>
	<!-- Removed include of dataArchieval.xml -->
	<!-- If you want to restore file registrar functionality, uncomment the following two lines -->
	<!-- <import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" /> -->
	<!-- <import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" /> -->
	<import resource="dataWriter.xml"/>
	<import resource="terminal_logger.xml"/>
	
</beans>
