<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Command Server -->
	<import resource="file:${gda.config}/servers/main/_common/rcpController.xml" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!-- =========================================================== -->
	<!-- 	mode specific files -->
	<!-- =========================================================== -->

	<!-- Detectors -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/axis_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/axis_information.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/d7_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/d8_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/dark_field_collector.xml" />

	<!-- Devices -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/valves.xml" />
	<import resource="file:${gda.config.shared}/servers/${gda.mode}/devices/frontEnd.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d7.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d8.xml" />
	<import resource="file:${gda.config.shared}/servers/${gda.mode}/devices/optics1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/optics2.xml" />
	<import resource="file:${gda.config.shared}/servers/${gda.mode}/devices/opticsShutter.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/osa.xml" />
	<import resource="file:${gda.config.shared}/servers/${gda.mode}/devices/photodiode.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/sample_stage.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/shutters.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/zone_plate.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/led.xml" />

	<!-- Monitors -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/processing_monitor.xml" />

	<!-- =========================================================== -->
	<!-- 	shared files -->
	<!-- =========================================================== -->

	<!-- Detectors -->
	<import resource="file:${gda.config}/servers/main/_common/detectors/axis_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/axis_information.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/d7_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/d8_addetector.xml" />

	<!-- Devices -->
	<import resource="file:${gda.config}/servers/main/_common/devices/d7.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d8.xml" />
 	<import resource="file:${gda.config}/servers/main/_common/devices/energyFocus.xml"/>
 	<import resource="file:${gda.config.shared}/servers/_common/devices/frontEnd.xml"/>
	<import resource="file:${gda.config}/servers/main/_common/devices/optics2.xml" />
 	<import resource="file:${gda.config.shared}/servers/_common/devices/opticsScannables1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/osa.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/sample_stage.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/zone_plate.xml" />

	<import resource="file:${gda.config}/servers/main/_common/metadata.xml" />

	<import resource="file:${gda.config}/servers/main/_common/data_writer.xml" />

	<!-- Dummies -->
	<import resource="file:${gda.config}/servers/main/_common/devices/dummy_scannables.xml" />

	<bean id="DashboardObserver" class="gda.jython.scriptcontroller.ScriptControllerBase" />

 	<!-- Initialise Jython late on, as localStation refers to beans -->
	<import resource="jythonServerFacade.xml" />

</beans>
