<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.diamond.org.jacorb/jars/jacorb.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jacorb.naming.namemanager.NameManager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.ac.diamond.org.jacorb"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djacorb.config.dir=/dls_sw/b21/software/gda_versions/8.24/workspace/b21-config/properties &#10;-Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB &#10;-Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton &#10;-DOAPort=6700"/>
</launchConfiguration>
