<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<import resource="cam1_motors.xml" />
	<import resource="Ioeh1.xml" />
	<import resource="Ioeh2.xml" />
	<import resource="Iooh2.xml" />
	<import resource="mono_motors.xml" />
	<!-- <import resource="pipediode.xml" /> -->
	<import resource="ss1_motors.xml" />
	<import resource="ss2.xml" />
	<import resource="t1_motors.xml" />
	<import resource="t3_motors.xml" />
	<import resource="t4_motors.xml" />
	<import resource="t5.xml" />
	<import resource="t7.xml" />
	<import resource="t8.xml" />

	<import resource="../GDAMetadata.xml" />

	<import resource="../cam1.xml" />
	<import resource="../dummies.xml" />

	<import resource="../filters.xml" />
	<import resource="../pco2.xml" />
	
	<import resource="../edxd.xml" />
	<import resource="../ring.xml" />
	<import resource="../s2_new.xml" />
	<import resource="../scaler1.xml" />
	<import resource="../shutters.xml" />

	<import resource="../t1.xml" />
	<import resource="../t3.xml" />
	<import resource="../t4.xml" />
	<import resource="../t5.xml" />
	<import resource="../t8.xml" />

	<import resource="../ss1.xml" />
	<import resource="../lut_energymodule.xml" />
	<import resource="../lut_ball_position.xml" />
	<import resource="../lut_moduleposition.xml" />
	<import resource="../lut_camera_motion.xml" />
	<import resource="../lut_sample_weight.xml" />
	<import resource="../lut_scan_resolution.xml" />
	<import resource="../simpleScannables.xml" />
	<import resource="../dummyAD.xml" />
	<import resource="../../servers_common.xml" />
</beans>
