<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            description="A GDA client for the beamline B07-1"
            name="Beamline B05-1">
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="appName"
               value="Beamline B05-1">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D1C Cam0"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1C Cam0//BL07C-DI-PHDGN-01:DCAM0@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D1C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1C Cam1//BL07C-DI-PHDGN-01:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D2C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D2C Cam1//BL07C-DI-PHDGN-02:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D3C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D3C Cam1//BL07C-DI-PHDGN-03:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D4C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D4C Cam1//BL07C-DI-PHDGN-04:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D5C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5C Cam1//BL07C-DI-PHDGN-05:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D5C Cam2"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5C Cam2//BL07C-DI-PHDGN-05:DCAM2@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D6C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D6C Cam1//BL07C-DI-PHDGN-06:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D8C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D8C Cam1//BL07C-DI-PHDGN-08:DCAM1@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D9C Cam1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D9C Cam1//BL07C-DI-PHDGN-09:DCAM1@">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1C Cam0//BL07C-DI-PHDGN-01:DCAM0@"
            name="D1C Cam0 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1C Cam1//BL07C-DI-PHDGN-01:DCAM1@"
            name="D1C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D2C Cam1//BL07C-DI-PHDGN-02:DCAM1@"
            name="D2C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D3C Cam1//BL07C-DI-PHDGN-03:DCAM1@"
            name="D3C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D4C Cam1//BL07C-DI-PHDGN-04:DCAM1@"
            name="D4C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5C Cam1//BL07C-DI-PHDGN-05:DCAM1@"
            name="D5C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5C Cam2//BL07C-DI-PHDGN-05:DCAM2@"
            name="D5C Cam2 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D6C Cam1//BL07C-DI-PHDGN-06:DCAM1@"
            name="D6C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D8C Cam1//BL07C-DI-PHDGN-08:DCAM1@"
            name="D8C Cam1 Array"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D9C Cam1//BL07C-DI-PHDGN-09:DCAM1@"
            name="D9C Cam1 Array"
            restorable="true">
      </view>
   </extension>

</plugin>
