<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda" xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.1.xsd
		http://www.diamond.ac.uk/schema/gda/gda	http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd">

	<import resource="scannables/_all_scannables.xml"/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="GDAMetadata.xml"/>
	<import resource="plotServer.xml"/>
	<import resource="scanDataPointServer.xml"/>
	<import resource="commandQueueProcessor.xml"/>
	<import resource="commandServer.xml"/>
	<import resource="dataArchieval.xml"/>
	<import resource="dataWriter.xml"/>
	
	
</beans>
