<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I20 EDE">
         <property
               name="appName"
               value="GDA I20 EDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="topup"
            tooltip="The time before the next topup">
      </Scannable>
      <Scannable
            name="wigglerGap"
            tooltip="Current wiggler gap">
      </Scannable>
      <Scannable
            name="ringCurrent">
      </Scannable>
      <Scannable
            name="ringEnergy">
      </Scannable>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i20_1.StartupService">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.exafs.ui.views.BeamlineAlignmentView"
            icon="icons/crosshairs.gif"
            id="uk.ac.gda.exafs.ui.views.beamlinealignmentview"
            name="Optics"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.exafs.ui.views.SingleSpectrumView"
            icon="icons/1-star.gif"
            id="uk.ac.gda.exafs.ui.views.singlespectrumview"
            name="Single Collection"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.views.FocusingView"
            id="uk.ac.gda.exafs.ui.views.focusingview"
            name="Focusing View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.exafs.ui.views.DetectorLiveModeView"
            icon="icons/chart_curve.png"
            id="uk.ac.diamond.scisoft.analysis.rcp.liveModePlot"
            name="Live Mode"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.exafs.ui.views.EdeManualCalibrationPlotView"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.exafs.ui.views.calibrationreference"
            name="Reference Spectrum"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="uk.ac.gda.exafs.ui.views.EdeManualCalibrationPlotView"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.exafs.ui.views.calibrationEdeData"
            name="EDE Data Spectrum"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.views.AlignmentStageCalibrationView"
            icon="icons/brick.png"
            id="uk.ac.gda.exafs.ui.views.alignmentstagecalibration"
            name="Alignment Stage"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            id="uk.ac.gda.beamline.i20_1.SingleSpectrumPlot"
            name="Single spectrum plot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.exafs.ui.perspectives.AlignmentPerspective"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.beamline.i20_1.AlignmentPerspective"
            name="Alignment">
      </perspective>
      <perspective
            class="uk.ac.gda.exafs.ui.perspectives.ExperimentPerspective"
            id="uk.ac.gda.beamline.i20_1.ExperimentPerspective"
            name="EDE Experiment">
      </perspective>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.gda.beamline.i20_1.I20_1PreferenceInitializer">
      </initializer>
   </extension>
   
   
</plugin>
