<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="scannables/_all_scannables.xml"/>
	
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="../../../../i06-shared/servers/main/_common/GDAMetadata.xml"/>
	<import resource="file://${gda.core.dir}/servers/_common/plot_server.xml" />
	<import resource="commandServer.xml"/>
	<import resource="../../../../i06-shared/servers/main/_common/commandQueueProcessor.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />
	<import resource="../../../../i06-shared/servers/main/_common/dataWriter.xml"/>	
	
	<import resource="terminal_logger.xml"/>
	<import resource="nxmetadata.xml"/>

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />

</beans>
