<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I14 Beamline">
         <property
               name="appName"
               value="GDA I14 Beamline">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i14.perspectives.ExperimentPerspective"
            id="uk.ac.gda.microscopy.ExperimentPerspective"
            name="X-ray Microscopy Experiment">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.gda.microscopy.ExperimentPerspective">

         <view
               closeable="false"
               id="gda.rcp.jythonterminalview"
               minimized="false"
               moveable="true"
               ratio="0.95"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
<!--         
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.TestView"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.nano.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
-->         
         <view
               closeable="false"
               id="uk.ac.gda.client.liveplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.exafs.ui.dashboardView"
               moveable="false"
               ratio="0.75"
               relationship="right"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="uk.ac.gda.client.navigator"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="uk.ac.gda.client.liveplotview">
         </view>
         <view
               id="uk.ac.gda.epics.adviewer.mpegview"
               minimized="false"
               ratio="0.2"
               relationship="right"
               relative="uk.ac.gda.client.liveplotview"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
  
   <extension
         point="org.eclipse.ui.menus">
   </extension>
  
  
</plugin>
