<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="Diamond Beamline I14">
         <property
               name="appName"
               value="Diamond Beamline I14">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="Diamond Beamline I14&#x0A;&#x0A;Based on GDA See &lt;http://www.opengda.org/&gt;">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D1 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1//BL14I-OP-DCAM-01@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D2 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D2//BL14I-OP-DCAM-02@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D3 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D3//BL14I-OP-DCAM-03@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D4 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D4//BL14I-OP-DCAM-04@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D5 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5//BL14I-OP-DCAM-05@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D6 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D6//BL14I-OP-DCAM-06@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D7 Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//D7//BL14I-OP-DCAM-07@">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i14"
            class="gda.rcp.views.ViewFactory:shuttersView"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.diamond.daq.mapping.ui.ShuttersView"
            name="Shutters">
      </view>
      <category
            name="I14 Views"
            id="uk.ac.gda.beamline.i14">
      </category>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D1//BL14I-OP-DCAM-01@"
            name="D1 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D2//BL14I-OP-DCAM-02@"
            name="D2 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D3//BL14I-OP-DCAM-03@"
            name="D3 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D4//BL14I-OP-DCAM-04@"
            name="D4 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D5//BL14I-OP-DCAM-05@"
            name="D5 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D6//BL14I-OP-DCAM-06@"
            name="D6 Array View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.gda.beamline.i14"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//D7//BL14I-OP-DCAM-07@"
            name="D7 Array View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.daq.mapping.ui.experiment.MappingPerspective">
         <view
               id="uk.ac.diamond.daq.mapping.ui.ShuttersView"
               minimized="false"
               relationship="stack"
               relative="gda.rcp.jythonterminalview">
         </view>
      </perspectiveExtension>
   </extension>
  
</plugin>
