<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gda.rcp.views.JythonTerminalView"
            id="uk.ac.gda.beamline.i11.lde.terminalView"
            name="Terminal"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.gda.beamline.synoptics.views.DetectorFilePlotView"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.beamline.i11.views.DetectorFilePlotView"
            name="DetectorPlot"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.beamline.i11.lde.dataPlot"
            name="DataPlot"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="gda.rcp.views.ViewFactory:statusView"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png"
            id="uk.ac.gda.beamline.i11.lde.views.statusView"
            name="Beamline Status"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            description="GDA for I11 Long Duration Experiments"
            name="I11-1 GDA">
         <property
               name="appName"
               value="I11-1 GDA">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="icons/i11GDA.png">
         </property>
         <property
               name="aboutText"
               value="GDA for I11-1 Long Duration Experiments Station&#x0A;&#x0A;Version: 8.44&#x0A;Build Date: Thu 22 Oct 2015&#x0A;&#x0A;Copyright © 2009 2015 Diamond Light Source Ltd. &#x0A;All rights reserved.&#x0A;Visit http://www.opengda.org">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i11.lde.persepctives.LDEPerspective"
            id="uk.ac.gda.beamline.i11.lde.perspective"
            name="LDE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i11.lde.OpenDeafultLdeFile">
      </startup>
   </extension>

</plugin>
