[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=No name
Type=Application
Exec=/dls_sw/dasc/jdk-i686/bin/java -jar /dls/i22/scripts/dream/dream.jar
TryExec=
Icon=/usr/share/pixmaps/glade-2.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=Dream
GenericName[en_GB]=
Comment[en_GB]=
