[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/dls_sw/i22/software/gda/bin/gdalog
TryExec=
Icon=/usr/share/icons/Bluecurve/48x48/apps/gedit-icon.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=gda.logging
GenericName[en_GB]=
Comment[en_GB]=
