[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=No name
Type=Application
Exec=/dls_sw/i22/software/gda/bin/GDA_StartClient
TryExec=
Icon=/dls_sw/i22/software/gda/config/desktop/gda.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=gda.client
GenericName[en_GB]=
Comment[en_GB]=
