[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Synoptic Launcher
Type=Application
Exec= sh -c "EPICS_CA_SERVER_PORT=5064 EPICS_CA_REPEATER_PORT=5065 /dls_sw/work/R3.14.11/ioc/BL22I/BL/bin/linux-x86/stBL22I-gui"
TryExec=
Icon=/usr/share/pixmaps/gnome-eyes.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=Synoptic Launcher
GenericName[en_GB]=
Comment[en_GB]=
