[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PCO4000 EDM Screens
Type=Application
Exec=/dls/i12/software/medm/livesetup.sh
TryExec=
Icon=/dls_sw/i12/software/gda/config/desktop/gda.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=PCO4000 EDM Screens
GenericName[en_GB]=
Comment[en_GB]=
