<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins">
        <setEntry value="org.apache.felix.scr:2.2.2:default:true:2:true"/>
        <setEntry value="org.eclipse.core.runtime:3.26.0.v20220813-0916:default:true:default:true"/>
        <setEntry value="org.eclipse.equinox.common:3.16.200.v20220817-1601:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.event:1.6.100.v20211021-1418:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator:1.4.100.v20220620-1617:default:true:1:true"/>
    </setAttribute>
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="uk.ac.diamond.daq.server.application"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticIncludeRequirements" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bad_container_name" value="/i09-2config"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/i09-1.dummy.server.product"/>
    <booleanAttribute key="default" value="false"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-i09-1.dummy.server.product"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="GDA_CONFIG" value="${project_loc:i09-1-config}"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog --launcher.suppressErrors --launcher.appendVmargs -console -clean"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Dosgi.gda.application=true -Dequinox.ds.print=true -Dvisualvm.display.name=gda-server -Djava.awt.headless=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="uk.ac.diamond.daq.server.product"/>
    <stringAttribute key="productFile" value="/uk.ac.diamond.daq.server.feature/uk.ac.diamond.daq.server.product"/>
    <setAttribute key="selected_features">
        <setEntry value="uk.ac.diamond.daq.server.feature:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-xml@default:default"/>
        <setEntry value="com.fasterxml.jackson.datatype.jackson-datatype-jdk8@default:default"/>
        <setEntry value="com.fasterxml.jackson.datatype.jackson-datatype-jsr310@default:default"/>
        <setEntry value="com.fasterxml.jackson.module.jackson-module-jaxb-annotations@default:default"/>
        <setEntry value="com.fasterxml.woodstox.woodstox-core@default:default"/>
        <setEntry value="com.github.tschoonj.xraylib@default:default"/>
        <setEntry value="com.globalphasing.astra.messagebus@default:default"/>
        <setEntry value="com.globalphasing.astra.messages@default:default"/>
        <setEntry value="com.globalphasing.gcal.aux@default:default"/>
        <setEntry value="com.globalphasing.sdcp.abstract_beamline@default:default"/>
        <setEntry value="com.globalphasing.sdcp.common@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.googlecode.efficient-java-matrix-library.core@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.ibm.icu*67.1.0.v20200706-1749@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.springsource.javax.media.jai.codec@default:default"/>
        <setEntry value="com.springsource.javax.media.jai.core@default:default"/>
        <setEntry value="com.springsource.net.sf.cglib@default:default"/>
        <setEntry value="com.springsource.org.castor@default:default"/>
        <setEntry value="com.sun.el@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.mail.javax.mail@default:default"/>
        <setEntry value="derby@default:default"/>
        <setEntry value="io.netty.buffer@default:default"/>
        <setEntry value="io.netty.codec-dns@default:default"/>
        <setEntry value="io.netty.codec-http2@default:default"/>
        <setEntry value="io.netty.codec-http@default:default"/>
        <setEntry value="io.netty.codec-socks@default:default"/>
        <setEntry value="io.netty.codec@default:default"/>
        <setEntry value="io.netty.common@default:default"/>
        <setEntry value="io.netty.handler-proxy@default:default"/>
        <setEntry value="io.netty.handler@default:default"/>
        <setEntry value="io.netty.resolver-dns@default:default"/>
        <setEntry value="io.netty.resolver@default:default"/>
        <setEntry value="io.netty.transport-native-epoll@default:default"/>
        <setEntry value="io.netty.transport-native-unix-common@default:default"/>
        <setEntry value="io.netty.transport@default:default"/>
        <setEntry value="io.projectreactor.netty.reactor-netty-core@default:default"/>
        <setEntry value="io.projectreactor.netty.reactor-netty-http@default:default"/>
        <setEntry value="io.projectreactor.reactor-core@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.ejb@default:default"/>
        <setEntry value="javax.el@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.jms@default:default"/>
        <setEntry value="javax.management.j2ee-api@default:default"/>
        <setEntry value="javax.management@default:default"/>
        <setEntry value="javax.measure.unit-api@default:default"/>
        <setEntry value="javax.servlet.jsp-api@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.transaction@default:default"/>
        <setEntry value="javax.vecmath@default:default"/>
        <setEntry value="javax.websocket@default:default"/>
        <setEntry value="javax.xml.bind@default:default"/>
        <setEntry value="javax.xml.rpc@default:default"/>
        <setEntry value="javax.xml.soap@default:default"/>
        <setEntry value="javax.xml.stream@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="jul.to.slf4j@default:default"/>
        <setEntry value="log4j.over.slf4j@default:default"/>
        <setEntry value="me.moocar.logback-gelf@default:default"/>
        <setEntry value="org.aopalliance@default:default"/>
        <setEntry value="org.apache.activemq.osgi@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.aries.blueprint.core@default:default"/>
        <setEntry value="org.apache.aries.proxy.api@default:default"/>
        <setEntry value="org.apache.aries.proxy@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.beanutils@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-csv@default:default"/>
        <setEntry value="org.apache.commons.configuration@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jexl@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.math3@default:default"/>
        <setEntry value="org.apache.commons.math@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@2:true"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.jasper.glassfish@default:default"/>
        <setEntry value="org.apache.lucene.analyzers-common@default:default"/>
        <setEntry value="org.apache.lucene.analyzers-smartcn@default:default"/>
        <setEntry value="org.apache.lucene.core@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-aop@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-beans@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-context-support@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-context@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-core@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-expression@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-jdbc@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-jms@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-tx@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-web@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-webflux@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-webmvc@default:default"/>
        <setEntry value="org.apache.sshd.osgi@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.bouncycastle.bcpg@default:default"/>
        <setEntry value="org.bouncycastle.bcprov@default:default"/>
        <setEntry value="org.ddogleg@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.beans@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.externaltools@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.linux@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.dawnsci.remotedataset.client@default:default"/>
        <setEntry value="org.eclipse.dawnsci.remotedataset.core@default:default"/>
        <setEntry value="org.eclipse.dawnsci.remotedataset.server@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.debug.ui.launchview@default:default"/>
        <setEntry value="org.eclipse.debug.ui@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk@default:default"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emf.transaction@default:default"/>
        <setEntry value="org.eclipse.emf.validation@default:default"/>
        <setEntry value="org.eclipse.emf.workspace@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@2:true"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.console@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director.app@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui.importexport@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:default"/>
        <setEntry value="org.eclipse.equinox.security.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.help.base@default:default"/>
        <setEntry value="org.eclipse.help.ui@default:default"/>
        <setEntry value="org.eclipse.help.webapp@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.january@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.jsch.core@default:default"/>
        <setEntry value="org.eclipse.jsch.ui@default:default"/>
        <setEntry value="org.eclipse.justj.openjdk.hotspot.jre.minimal.stripped.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.justj.openjdk.hotspot.jre.minimal.stripped@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@default:default"/>
        <setEntry value="org.eclipse.platform.doc.user@default:default"/>
        <setEntry value="org.eclipse.platform@default:default"/>
        <setEntry value="org.eclipse.rcp@default:default"/>
        <setEntry value="org.eclipse.richbeans.annot@default:default"/>
        <setEntry value="org.eclipse.richbeans.api@default:default"/>
        <setEntry value="org.eclipse.search@default:default"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.team.genericeditor.diff.extension@default:default"/>
        <setEntry value="org.eclipse.team.ui@default:default"/>
        <setEntry value="org.eclipse.text.quicksearch@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.browser@default:default"/>
        <setEntry value="org.eclipse.ui.cheatsheets@default:default"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.externaltools@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.genericeditor@default:default"/>
        <setEntry value="org.eclipse.ui.ide.application@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.intro.quicklinks@default:default"/>
        <setEntry value="org.eclipse.ui.intro.universal@default:default"/>
        <setEntry value="org.eclipse.ui.intro@default:default"/>
        <setEntry value="org.eclipse.ui.monitoring@default:default"/>
        <setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.net@default:default"/>
        <setEntry value="org.eclipse.ui.themes@default:default"/>
        <setEntry value="org.eclipse.ui.views.log@default:default"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.update.configurator@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.epics.jca@default:default"/>
        <setEntry value="org.epics.ntypes@default:default"/>
        <setEntry value="org.epics.pvaccess@default:default"/>
        <setEntry value="org.epics.pvaclient@default:default"/>
        <setEntry value="org.epics.pvdata@default:default"/>
        <setEntry value="org.epics.pvdatabase@default:default"/>
        <setEntry value="org.epics.util@default:default"/>
        <setEntry value="org.georegression@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.jetbrains.kotlin.osgi-bundle@default:default"/>
        <setEntry value="org.jline@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.mariadb.jdbc@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.objenesis@default:default"/>
        <setEntry value="org.osgi.service.blueprint@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.jdbc@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
        <setEntry value="org.reactivestreams.reactive-streams@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.uncommons.maths@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
        <setEntry value="si.uom.si-quantity@default:default"/>
        <setEntry value="si.uom.si-units@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="stax2-api@default:default"/>
        <setEntry value="tec.units.indriya@default:default"/>
        <setEntry value="tec.uom.lib.uom-lib-common@default:default"/>
        <setEntry value="uk.ac.diamond.com.mindprod.ledatastream@default:default"/>
        <setEntry value="uk.ac.diamond.daq.application.persistence@default:default"/>
        <setEntry value="uk.ac.diamond.daq.bluesky-document-serialisation-templates@default:default"/>
        <setEntry value="uk.ac.diamond.daq.dgs@default:default"/>
        <setEntry value="uk.ac.diamond.daq.diffcalc-client@default:default"/>
        <setEntry value="uk.ac.diamond.daq.gda-astra-workflows@default:default"/>
        <setEntry value="uk.ac.diamond.daq.gda-native@default:default"/>
        <setEntry value="uk.ac.diamond.daq.jms@default:default"/>
        <setEntry value="uk.ac.diamond.daq.logging-utils@default:default"/>
        <setEntry value="uk.ac.diamond.daq.spring.boot@default:default"/>
        <setEntry value="uk.ac.diamond.daq.thirdparty.bssc.sdk@default:default"/>
        <setEntry value="uk.ac.diamond.daq.thirdparty.tango@default:default"/>
        <setEntry value="uk.ac.diamond.gnu.regexp@default:default"/>
        <setEntry value="uk.ac.diamond.ispyb.api@default:default"/>
        <setEntry value="uk.ac.diamond.jama@default:default"/>
        <setEntry value="uk.ac.diamond.jython@default:default"/>
        <setEntry value="uk.ac.diamond.org.epics.pvmarshaller@default:default"/>
        <setEntry value="uk.ac.diamond.org.nfunk.jep@default:default"/>
        <setEntry value="uk.ac.diamond.platform-messaging@default:default"/>
        <setEntry value="uk.ac.diamond.platform-observables@default:default"/>
        <setEntry value="uk.ac.diamond.rxtx@default:default"/>
        <setEntry value="wrapped.com.github.wendykierp.JTransforms@default:default"/>
        <setEntry value="wrapped.commons-httpclient.commons-httpclient@default:default"/>
        <setEntry value="wrapped.org.apache.poi.poi-ooxml-schemas@default:default"/>
        <setEntry value="wrapped.org.apache.poi.poi-ooxml@default:default"/>
        <setEntry value="wrapped.org.apache.poi.poi@default:default"/>
        <setEntry value="wrapped.org.apache.ws.commons.util.ws-commons-util@default:default"/>
        <setEntry value="wrapped.org.apache.xmlbeans.xmlbeans@default:default"/>
        <setEntry value="wrapped.org.apache.xmlrpc.xmlrpc-client@default:default"/>
        <setEntry value="wrapped.org.apache.xmlrpc.xmlrpc-common@default:default"/>
        <setEntry value="wrapped.org.apache.xmlrpc.xmlrpc-server@default:default"/>
        <setEntry value="wrapped.pl.edu.icm.JLargeArrays@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="hdf.hdf5lib@default:default"/>
        <setEntry value="org.apache.derby.fragment.daq.persistence@default:default"/>
        <setEntry value="org.dawb.common.services@default:default"/>
        <setEntry value="org.dawb.common.util@default:default"/>
        <setEntry value="org.dawnsci.boofcv@default:default"/>
        <setEntry value="org.dawnsci.ede@default:default"/>
        <setEntry value="org.dawnsci.jexl@default:default"/>
        <setEntry value="org.dawnsci.persistence@default:default"/>
        <setEntry value="org.eclipse.dawnsci.analysis.api@default:default"/>
        <setEntry value="org.eclipse.dawnsci.analysis.dataset@default:default"/>
        <setEntry value="org.eclipse.dawnsci.analysis.tree@default:default"/>
        <setEntry value="org.eclipse.dawnsci.hdf5@default:default"/>
        <setEntry value="org.eclipse.dawnsci.json@default:default"/>
        <setEntry value="org.eclipse.dawnsci.nexus.scan@default:default"/>
        <setEntry value="org.eclipse.dawnsci.nexus.template.application@default:default"/>
        <setEntry value="org.eclipse.dawnsci.nexus.template@default:default"/>
        <setEntry value="org.eclipse.dawnsci.nexus.validation.application@default:default"/>
        <setEntry value="org.eclipse.dawnsci.nexus@default:default"/>
        <setEntry value="org.eclipse.dawnsci.plotting.api@default:default"/>
        <setEntry value="org.eclipse.scanning.api@default:default"/>
        <setEntry value="org.eclipse.scanning.command@default:default"/>
        <setEntry value="org.eclipse.scanning.connector.epics@default:default"/>
        <setEntry value="org.eclipse.scanning.connector.jms@default:default"/>
        <setEntry value="org.eclipse.scanning.device@default:default"/>
        <setEntry value="org.eclipse.scanning.event@default:default"/>
        <setEntry value="org.eclipse.scanning.example@default:default"/>
        <setEntry value="org.eclipse.scanning.malcolm.core@default:default"/>
        <setEntry value="org.eclipse.scanning.points@default:default"/>
        <setEntry value="org.eclipse.scanning.sequencer@default:default"/>
        <setEntry value="org.eclipse.scanning.server@default:default"/>
        <setEntry value="org.epics.jca.fragment.gov.aps.jca.event@default:default"/>
        <setEntry value="org.gda.tango@default:default"/>
        <setEntry value="org.opengda.detector.electronanalyser@default:default"/>
        <setEntry value="org.opengda.lde.model.edit@default:default"/>
        <setEntry value="org.opengda.lde.model@default:default"/>
        <setEntry value="org.opengda.lde@default:default"/>
        <setEntry value="uk.ac.diamond.CBFlib@default:default"/>
        <setEntry value="uk.ac.diamond.connect@default:default"/>
        <setEntry value="uk.ac.diamond.daq.beamline.i06-shared@default:default"/>
        <setEntry value="uk.ac.diamond.daq.beamline.i15-1.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.beamline.i15-1.server@default:default"/>
        <setEntry value="uk.ac.diamond.daq.beamline.i18.controls@default:default"/>
        <setEntry value="uk.ac.diamond.daq.beamline.i21.server@default:default"/>
        <setEntry value="uk.ac.diamond.daq.bluesky@default:default"/>
        <setEntry value="uk.ac.diamond.daq.classloading@default:default"/>
        <setEntry value="uk.ac.diamond.daq.client.microfocus.scan@default:default"/>
        <setEntry value="uk.ac.diamond.daq.configuration@default:default"/>
        <setEntry value="uk.ac.diamond.daq.detectors.addetector.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.detectors.addetector@default:default"/>
        <setEntry value="uk.ac.diamond.daq.detectors.vgscienta.electronanalyser.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.detectors.vgscienta.electronanalyser@default:default"/>
        <setEntry value="uk.ac.diamond.daq.devices.mbs.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.devices.mbs@default:default"/>
        <setEntry value="uk.ac.diamond.daq.devices.specs.phoibos.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.devices.specs.phoibos@default:default"/>
        <setEntry value="uk.ac.diamond.daq.diffcalc.gda@default:default"/>
        <setEntry value="uk.ac.diamond.daq.dls.controls@default:default"/>
        <setEntry value="uk.ac.diamond.daq.experiment.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.experiment.scans@default:default"/>
        <setEntry value="uk.ac.diamond.daq.experiment@default:default"/>
        <setEntry value="uk.ac.diamond.daq.gasrig.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.gasrig@default:default"/>
        <setEntry value="uk.ac.diamond.daq.jython.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.logback.fragment@default:default"/>
        <setEntry value="uk.ac.diamond.daq.mapping.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.mapping@default:default"/>
        <setEntry value="uk.ac.diamond.daq.messaging@default:default"/>
        <setEntry value="uk.ac.diamond.daq.msgbus@default:default"/>
        <setEntry value="uk.ac.diamond.daq.mx.astra.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.mx.astra@default:default"/>
        <setEntry value="uk.ac.diamond.daq.persistence.classloader@default:default"/>
        <setEntry value="uk.ac.diamond.daq.persistence.manager@default:default"/>
        <setEntry value="uk.ac.diamond.daq.persistence@default:default"/>
        <setEntry value="uk.ac.diamond.daq.pes.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.scm.api@default:default"/>
        <setEntry value="uk.ac.diamond.daq.server.rcpcontroller@default:default"/>
        <setEntry value="uk.ac.diamond.daq.server.services@default:default"/>
        <setEntry value="uk.ac.diamond.daq.server@default:default"/>
        <setEntry value="uk.ac.diamond.daq.splitpackagesresolver@default:default"/>
        <setEntry value="uk.ac.diamond.daq.stage@default:default"/>
        <setEntry value="uk.ac.diamond.datamodel@default:default"/>
        <setEntry value="uk.ac.diamond.dna@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.analysis.plotclient@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.analysis.plotserver@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.analysis.processing@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.analysis.xmlrpc@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.analysis@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.deprecated@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.diffraction.powder@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.jython@default:default"/>
        <setEntry value="uk.ac.diamond.scisoft.python@default:default"/>
        <setEntry value="uk.ac.gda.analysis@default:default"/>
        <setEntry value="uk.ac.gda.api@default:default"/>
        <setEntry value="uk.ac.gda.arpes.server@default:default"/>
        <setEntry value="uk.ac.gda.beamline.b18.server@default:default"/>
        <setEntry value="uk.ac.gda.beamline.i02-1.server.api@default:default"/>
        <setEntry value="uk.ac.gda.beamline.i19.server.api@default:default"/>
        <setEntry value="uk.ac.gda.beamline.i19.server.common@default:default"/>
        <setEntry value="uk.ac.gda.beamline.i20.server@default:default"/>
        <setEntry value="uk.ac.gda.beamline.i20_1.server@default:default"/>
        <setEntry value="uk.ac.gda.bimorph@default:default"/>
        <setEntry value="uk.ac.gda.common@default:default"/>
        <setEntry value="uk.ac.gda.component.beamline.common@default:default"/>
        <setEntry value="uk.ac.gda.component.beamline@default:default"/>
        <setEntry value="uk.ac.gda.component.model.core@default:default"/>
        <setEntry value="uk.ac.gda.component.model@default:default"/>
        <setEntry value="uk.ac.gda.component.samplehandling@default:default"/>
        <setEntry value="uk.ac.gda.core@default:default"/>
        <setEntry value="uk.ac.gda.devices.andor@default:default"/>
        <setEntry value="uk.ac.gda.devices.bssc@default:default"/>
        <setEntry value="uk.ac.gda.devices.excalibur@default:default"/>
        <setEntry value="uk.ac.gda.devices.hatsaxs@default:default"/>
        <setEntry value="uk.ac.gda.devices.hidenrga@default:default"/>
        <setEntry value="uk.ac.gda.devices.hplc@default:default"/>
        <setEntry value="uk.ac.gda.devices.insitu.api@default:default"/>
        <setEntry value="uk.ac.gda.devices.insitu@default:default"/>
        <setEntry value="uk.ac.gda.devices.mythen@default:default"/>
        <setEntry value="uk.ac.gda.devices.odin@default:default"/>
        <setEntry value="uk.ac.gda.devices.pco@default:default"/>
        <setEntry value="uk.ac.gda.devices.pixium@default:default"/>
        <setEntry value="uk.ac.gda.devices.pressurecell@default:default"/>
        <setEntry value="uk.ac.gda.devices.tenma.api@default:default"/>
        <setEntry value="uk.ac.gda.devices.tenma@default:default"/>
        <setEntry value="uk.ac.gda.devices.vgscienta@default:default"/>
        <setEntry value="uk.ac.gda.devices.xmap.api@default:default"/>
        <setEntry value="uk.ac.gda.devices.xmap.epics@default:default"/>
        <setEntry value="uk.ac.gda.devices.xmap@default:default"/>
        <setEntry value="uk.ac.gda.devices.xspress2@default:default"/>
        <setEntry value="uk.ac.gda.devices.xspress3.epics@default:default"/>
        <setEntry value="uk.ac.gda.devices.xspress3@default:default"/>
        <setEntry value="uk.ac.gda.devices.xspress4@default:default"/>
        <setEntry value="uk.ac.gda.dls@default:default"/>
        <setEntry value="uk.ac.gda.edxd.calibration@default:default"/>
        <setEntry value="uk.ac.gda.edxd.common@default:default"/>
        <setEntry value="uk.ac.gda.edxd.detector@default:default"/>
        <setEntry value="uk.ac.gda.epics@default:default"/>
        <setEntry value="uk.ac.gda.exafs.api@default:default"/>
        <setEntry value="uk.ac.gda.exafs.datawriter@default:default"/>
        <setEntry value="uk.ac.gda.example.server@default:default"/>
        <setEntry value="uk.ac.gda.hrpd@default:default"/>
        <setEntry value="uk.ac.gda.logging.dependencies.fragment@default:default"/>
        <setEntry value="uk.ac.gda.message.api@default:default"/>
        <setEntry value="uk.ac.gda.mx.api@default:default"/>
        <setEntry value="uk.ac.gda.mx.ispyb.api@default:default"/>
        <setEntry value="uk.ac.gda.mx.ispyb@default:default"/>
        <setEntry value="uk.ac.gda.mx@default:default"/>
        <setEntry value="uk.ac.gda.nexus@default:default"/>
        <setEntry value="uk.ac.gda.px.actor@default:default"/>
        <setEntry value="uk.ac.gda.px.eiger@default:default"/>
        <setEntry value="uk.ac.gda.px.pilatus@default:default"/>
        <setEntry value="uk.ac.gda.px.stac.bridge.api@default:default"/>
        <setEntry value="uk.ac.gda.px.stac.bridge@default:default"/>
        <setEntry value="uk.ac.gda.px@default:default"/>
        <setEntry value="uk.ac.gda.server.exafs.epics@default:default"/>
        <setEntry value="uk.ac.gda.server.exafs@default:default"/>
        <setEntry value="uk.ac.gda.server.ncd.epics@default:default"/>
        <setEntry value="uk.ac.gda.server.ncd@default:default"/>
        <setEntry value="uk.ac.gda.service.hutch@default:default"/>
        <setEntry value="uk.ac.gda.services.common.core@default:default"/>
        <setEntry value="uk.ac.gda.services.common@default:default"/>
        <setEntry value="uk.ac.gda.services.impl@default:default"/>
        <setEntry value="uk.ac.gda.services.samplemovementservice@default:default"/>
        <setEntry value="uk.ac.gda.services@default:default"/>
        <setEntry value="uk.ac.gda.stage.attenuator@default:default"/>
        <setEntry value="uk.ac.gda.stage.hutch@default:default"/>
        <setEntry value="uk.ac.gda.tomography.scan@default:default"/>
        <setEntry value="uk.ac.gda.tomography@default:default"/>
        <setEntry value="uk.ac.gda.video.mjpeg@default:default"/>
        <setEntry value="uk.ac.gda.video@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.datacollection@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.lims.api@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.lims@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.match.api@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.match@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.model@default:default"/>
        <setEntry value="uk.ac.gda.vmxi.samplehandling@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="true"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
