<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />

	<import resource="required_at_start.xml" />

    <bean id="terminallog_path_provider" class="gda.data.ObservablePathConstructor">
		<property name="template"
			value="${gda.data.scan.datawriter.datadir}/gda_terminal.log" />
		<property name="gdaMetadata" ref="GDAMetadata" />
	</bean>

	<import resource="terminal_logger.xml" />

    <import resource="abstract_command_server.xml" />

    <bean id="script_paths" parent="common_script_paths">
        <property name="projects">
            <list merge="true">
                <ref bean="gda_epics_script_project" />
            </list>
        </property>
    </bean>

    <bean id="command_server" parent="abstract_command_server">
        <property name="jythonScriptPaths" ref="script_paths" />
        <property name="disableBatonControlOverVisitMetadataEntry" value="false" />
    </bean>

	<import resource="ebe.xml" />
	<import resource="dcm.xml" />
	<import resource="detectors/excalibur.xml"/>

    <bean id="subdirectory" class="gda.data.metadata.SubdirectoryMetadataEntry" />

    <bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata">
        <property name="metadataEntries">
            <list>
                <bean class="gda.data.metadata.PropertyMetadataEntry">
                    <property name="name" value="instrument"/>
                    <property name="propertyName" value="gda.instrument"/>
                </bean>
                <bean class="gda.data.metadata.PropertyMetadataEntry">
                    <property name="name" value="defVisit"/>
                    <property name="propertyName" value="gda.defVisit"/>
                </bean>
                <bean class="gda.data.metadata.StoredMetadataEntry">
                    <property name="name" value="federalid" />
                </bean>
                <bean class="gda.data.metadata.StoredMetadataEntry">
                    <property name="name" value="visitid" />
                </bean>
                <bean class="gda.data.metadata.StoredScanMetadataEntry">
                    <property name="name" value="title" />
                    <property name="value" value="undefined" />
                </bean>
                <bean class="gda.data.metadata.StoredMetadataEntry">
                    <property name="name" value="note" />
                    <property name="value" value="undefined" />
                </bean>
                <ref bean="subdirectory" />
            </list>
        </property>
    </bean>

    <import resource="slits.xml" />
    <import resource="server_scannables.xml" />
    <import resource="server_dummies.xml" />
    <import resource="eh2_scannables.xml" />

    <import resource="detectors/xrayeye.xml" />
    <import resource="detectors/dcam8.xml" />
    <import resource="detectors/xmap.xml" />

    <import resource="devices/fastshutter.xml" />

    <import resource="file:${gda.facility.dir}/servers/_common/solstice_scanning.xml"/>

</beans>
