<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.diamond.ac.uk/schema/gda/gda
                http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd">
    <context:property-placeholder/>

    <bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable"/>
    <!--  object to provide recording of metadata in Nexus files -->

    <bean id="metashop" class="gda.data.metadata.NXMetaDataProvider">
        <property name="name" value="metashop"/>
    </bean>

    <bean id="dataPointCache" class="gda.scan.SortedScanDataPointCache"/>

	<!-- GDA REST Server -->
	<bean class="uk.ac.diamond.daq.server.services.rest.RestContext"/>

    <import resource="beam_monitor.xml"/>
    <import resource="command_queue_processor.xml"/>
    <import resource="metadata.xml" />
    <import resource="datawriter.xml"/>
    <import resource="devices/*.xml"/>
    <import resource="devices/slits/*.xml"/>
    <!--
    <import resource="gisaxs/gisaxs/*.xml"/>
     -->
    <import resource="ncddetectors.xml"/>
    <import resource="terminal_logger.xml"/>
    <import resource="bragg_calibration.xml"/>
    <import resource="sample_rack.xml" />
</beans>
