<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.diamond.ac.uk/schema/gda/gda http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd
	http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">

	<bean id="sockpuppet" class="gda.data.fileregistrar.ClientFileAnnouncer" />
	<bean id="FileRegistrar" class="gda.data.fileregistrar.FileRegistrar">
		<property name="name" value="FileRegistrar" />
		<property name="directory" value="/tmp/i05-" />
		<property name="clientFileAnnouncer" ref="sockpuppet" />
	</bean>
	<bean id="twodplot" class="gda.data.scan.TwoDPlotListener">
		<property name="plotPanel" value="2D Scan Plot" />
	</bean>
	<bean id="DefaultDataWriterFactory" class="gda.data.scan.datawriter.DefaultDataWriterFactory">
		<property name="name" value="DataWriterFactory" />
		<property name="dataWriterExtenders">
			<list>
				<ref bean="FileRegistrar" />
				<ref bean="twodplot" />
			</list>
		</property>
	</bean>
	<bean id="localscriptproject" class="gda.jython.ScriptProject">
 		<property name="path" value="${gda.data}" /> <!-- In dummy mode just use data folder for user scripts -->
		<property name="name" value="Scripts: User" />
		<property name="type" value="USER" />
	</bean>
	<import resource="../_common/server.xml"/>
</beans>