<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:${gda.config}/properties/java.properties" />
    </bean>

    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/server_dummies.xml" />
        <property name="doPropertySubstitution" value="${gda.factory.doStringInterpolation}"/>
        <property name="useDefaultSchema" value="True"/>
        <property name="useDefaultMapping" value="True"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}" />
    </bean>
    
<!--    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/i07_server.xml" />
        <property name="doPropertySubstitution" value="${gda.factory.doStringInterpolation}"/>
        <property name="useDefaultSchema" value="True"/>
        <property name="useDefaultMapping" value="True"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}" />
    </bean>
-->
    
    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/i07_server_epics.xml"/>
        <property name="doPropertySubstitution" value="True"/>
        <property name="useDefaultSchema" value="False"/>
        <property name="useDefaultMapping" value="False"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}"/>
        <property name="mappingFile" value="classpath:gda/factory/mapping_epics.xml"/>
    </bean>
    
    
    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/i07_server_oe.xml" />
        <property name="doPropertySubstitution" value="${gda.factory.doStringInterpolation}"/>
        <property name="useDefaultSchema" value="False"/>
        <property name="useDefaultMapping" value="False"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}" />
        <property name="mappingFile" value="classpath:gda/factory/mapping_oe.xml"/>
    </bean>
    
    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/i07_server_dls.xml" />
        <property name="doPropertySubstitution" value="${gda.factory.doStringInterpolation}"/>
        <property name="useDefaultSchema" value="False"/>
        <property name="useDefaultMapping" value="False"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}" />
        <property name="mappingFile" value="classpath:gda/factory/mapping_dls.xml"/>
    </bean>

    <bean class="gda.factory.SpringObjectCreator">
        <property name="name" value="${gda.factory.factoryName}"></property>
        <property name="corbariseObjects" value="true"></property>
        <property name="xmlFile" value="${gda.config}/xml/i07_server_beans.xml" />
    </bean>

    <bean class="gda.factory.ServerXmlObjectCreator">
        <property name="xmlFile" value="${gda.config}/xml/server_core.xml" />
        <property name="doPropertySubstitution" value="${gda.factory.doStringInterpolation}"/>
        <property name="useDefaultSchema" value="True"/>
        <property name="useDefaultMapping" value="True"/>
        <property name="buildProxies" value="${gda.accesscontrol.useAccessControl}" />
    </bean>
    
    <bean class="gda.factory.AdapterObjectCreator">
        <property name="name" value="${gda.factory.factoryName}" />
    </bean>
    
</beans>
