<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.gda.core/src/gda/util/ObjectServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${workspace_loc:uk.ac.gda.core}/lib/Linux-i386"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gda.util.ObjectServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.ac.gda.core"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dgda.root=${project_loc:uk.ac.gda.core}/ &#10;-Dgda.users=${project_loc:i12}/users&#10;-Dgda.config=${project_loc:i12}/&#10;-Dgda.propertiesFile=${project_loc:i12}/properties_epicssim/java.properties&#10;-Djacorb.config.dir=${project_loc:i12}/properties_epicssim&#10;-Djava.library.path=${project_loc:uk.ac.gda.core}/lib/Linux-i386&#10;-Dgov.aps.jca.JCALibrary.properties=${project_loc:i12}/properties_epicssim/JCALibrary.properties&#10;-Xms128m -Xmx1024m&#10;-Dgda.objectserver.xml=${project_loc:i12}/xml/PhantomServer.xml"/>
</launchConfiguration>
