<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties</value>
			</list>
		</property>
	</bean>

	<gda:rmi-export
		service="plot_server"
		serviceName="gda/plotserver"
		serviceInterface="uk.ac.diamond.scisoft.analysis.PlotServer" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />
	
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<bean id="metashop" class="gda.data.metadata.NXMetaDataProvider">
		<property name="name" value="metashop"/>
	</bean>

	<import resource="../../../common_beans/common.xml"/>
	
	<bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata">
		<property name="metadataEntries">
			<list>

				<bean class="gda.data.metadata.PropertyMetadataEntry">
					<property name="name" value="instrument" />
					<property name="propertyName" value="gda.instrument" />
				</bean>

				<bean class="gda.data.metadata.PropertyMetadataEntry">
					<property name="name" value="facility" />
					<property name="propertyName" value="gda.facility" />
				</bean>

				<bean class="gda.data.metadata.PropertyMetadataEntry">
					<property name="name" value="facilityType" />
					<property name="propertyName" value="gda.facility.type" />
				</bean>

				<bean class="gda.data.metadata.PropertyMetadataEntry">
					<property name="name" value="probe" />
					<property name="propertyName" value="gda.facility.probe" />
				</bean>

				<bean class="gda.data.metadata.EpicsMetadataEntry">
					<property name="name" value="instrument.source.current" />
					<property name="pvName" value="SR-DI-DCCT-01:SIGNAL" />
				</bean>
				<bean class="gda.data.metadata.EpicsMetadataEntry">
					<property name="name" value="instrument.source.energy" />
					<property name="pvName" value="CS-CS-MSTAT-01:BEAMENERGY" />
				</bean>

				<bean class="gda.data.metadata.EpicsMetadataEntry">
					<property name="name" value="facility.message" />
					<property name="pvName" value="CS-CS-MSTAT-01:SCROLLM" />
				</bean>

				<bean class="gda.data.metadata.EpicsMetadataEntry">
					<property name="name" value="facility.mode" />
					<property name="pvName" value="CS-CS-MSTAT-01:MODE" />
				</bean>

				<bean class="gda.data.metadata.EpicsMetadataEntry">
					<property name="name" value="source.fillMode" />
					<property name="pvName" value="LI-TI-MTGEN-01:MODE" />
				</bean>

				<bean class="gda.data.metadata.StoredMetadataEntry">
					<property name="name" value="federalid" />
				</bean>
				<bean class="gda.data.metadata.StoredMetadataEntry">
					<property name="name" value="visitid" />
				</bean>
				<bean class="gda.data.metadata.StoredMetadataEntry">
					<property name="name" value="title" />
					<property name="value" value="undefined" />
				</bean>
				<ref bean="subdirectory" />
			</list>
		</property>
	</bean>
	<bean id="visitPathConstructor" class="gda.data.ObservablePathConstructor">
		<property name="template" value="${gda.data.scan.datawriter.datadir}" />
		<property name="gdaMetadata" ref="GDAMetadata" />
		<property name="local" value="true" />
	</bean>

	<import resource="commandQueueProcessor.xml" />
	<import resource="beamlineEnergyController.xml" />
	<bean id="plot_server" class="uk.ac.diamond.scisoft.analysis.plotserver.PlotServerBase" />
	<!-- Replaces ScanDataStore -->
	<bean class="uk.ac.gda.remoting.server.GdaRmiServiceExporter">
		<property name="serviceName" value="gda/ScanDataPointServer" />
		<property name="service" value="#{ T(gda.scan.ScanDataPointServer).getInstance() }" />
		<property name="serviceInterface" value="gda.scan.IScanDataPointServer" />
	</bean>

	<bean id="imageFitter" class="gda.device.detector.nexusprocessor.DataSetFitter">
		<property name="enable" value="false" />
	</bean>
	<bean id="imageStats" class="gda.device.detector.nexusprocessor.DatasetStats" >
		<property name="enable" value="false" />
	</bean>
	<bean id="imagePlotter" class="gda.device.detector.nexusprocessor.DataSetPlotter">
		<property name="plotName" value="Image Plot 1" />
		<property name="enable" value="false" />
	</bean>
	<bean id="imageROI" class="gda.device.detector.nexusprocessor.DatasetCreatorFromROI" >
		<property name="enable" value="false" />
	</bean>
	

	<util:list id="imageProcessors"
		value-type="gda.device.detector.nexusprocessor.DataSetProcessor">
		<ref bean="imageFitter" />
		<ref bean="imageStats" />
		<ref bean="imagePlotter" />
	</util:list>

	<bean id="cam_ad_processor" class="gda.device.detector.nexusprocessor.NexusProviderDatasetProcessor">
		<constructor-arg value="" />
		<constructor-arg value="data" />
		<constructor-arg value="SDS" />
		<constructor-arg ref="imageProcessors"/>
		<constructor-arg ref="imageROI"/>
	</bean>

	<bean id="cam_ad_filename_processor" class="gda.device.detector.nexusprocessor.NexusProviderFilenameProcessor">
		<constructor-arg value="" />
		<constructor-arg value="image_data" />
		<constructor-arg value="SDS" />
		<constructor-arg ref="imageProcessors"/>
		<constructor-arg ref="imageROI"/>
	</bean>

	<bean id="cam_ad_processors" class="gda.device.detector.nexusprocessor.NexusTreeProviderProcessors">
		<property name="processors">
			<list>
				<ref bean="cam_ad_processor" />
			</list>
		</property>
	</bean>

	<import resource="../../../devices/_common/abstract_nxplugins.xml"/>
	<import resource="../../../devices/_common/simpleScannables.xml" />
	<import resource="../../../devices/_common/cameraViewPartScannables.xml" />

	<!-- Start of real device list -->

	<import resource="../../../devices/_common/undulator.xml" />
	<import resource="../../../devices/_common/front_end.xml" />
	
	<!-- start of internal building -->
		
	<import resource="../../../devices/_common/s1.xml" />
	<import resource="../../../devices/_common/filters.xml" />
	<import resource="../../../devices/_common/m1.xml" />

	
	<!-- End of internal Building/ Start of external Building -->
	<import resource="../../../devices/_common/optics_hutch4_shutter.xml" />
	<import resource="../../../devices/_common/s3.xml" />
	<import resource="../../../devices/_common/dcm.xml" />
	<import resource="../../../devices/_common/s4.xml" />
	<import resource="../../../devices/_common/kb.xml" />
	<import resource="../../../devices/_common/sample_stage.xml" />
	<import resource="../../../devices/_common/table.xml" />
	<import resource="../../../devices/_common/camera_stage.xml" />
	<import resource="../../../devices/_common/sample_stage_hexapod.xml"/>
	<import resource="../../../devices/_common/smaract_stage.xml"/>
	<import resource="../../../devices/_common/newport_stage.xml"/>
	<import resource="../../../devices/_common/pinhole.xml" />
	<import resource="../../../devices/_common/zone_plate.xml" />
	<import resource="../../../devices/_common/phase_ring.xml" />
	<import resource="../../../devices/_common/translation_stage.xml" />
	
	<import resource="../../../devices/_common/d1.xml" />
	<import resource="../../../devices/_common/d2.xml" />
	<import resource="../../../devices/_common/d3.xml" />
	<import resource="../../../devices/_common/d4.xml" />
	<import resource="../../../devices/_common/d5.xml" />
	
	<import resource="../../../devices/_common/s2.xml" />
	
	<import resource="../../../devices/_common/float1.xml" />
	<import resource="../../../devices/_common/float2.xml" />
	<import resource="../../../devices/_common/float3.xml" />

	<import resource="../../../devices/_common/pco1.xml" />
	<import resource="../../../devices/_common/zebra.xml" />
	<import resource="../../../devices/_common/p2r.xml" />
	<import resource="../../../devices/_common/deben_rig.xml"/>
	<import resource="../../../devices/_common/pco_binning.xml"/>


	<!--  dummy motors for testing tomoscan  -->
	<bean id="ss1_rot_dummy_motor" class="gda.device.motor.DummyMotor">
	<property name="speed" value="200"/>
	</bean>
	<bean id="ss1_rot_dummy" class="gda.device.scannable.ScannableMotor">
		<property name="motor" ref="ss1_rot_dummy_motor" />
	</bean>
	<bean id="eh_shtr_dummy" class="gda.device.enumpositioner.DummyEnumPositioner"> 
		<property name="positions" value="Open, Close, Reset"/>
	</bean> 
	<bean id="ss1_X_dummy_motor" class="gda.device.motor.DummyMotor">
	<property name="speed" value="200"/>
	</bean>
	<bean id="ss1_X_dummy" class="gda.device.scannable.ScannableMotor">
		<property name="motor" ref="ss1_X_dummy_motor" />
	</bean>
	
	<import resource="../../../devices/_common/dummyAD.xml"/>
	
	<!-- end of device list -->

 	<import resource="../../../devices/_common/cameraScaleProviders.xml"/>
 	
	<bean id="rotationAxisXScannable" class="gda.device.scannable.RotationAxisXScannable">
		<property name="sampleStageXScannable" ref="ss1_X" />
		<property name="cameraStageXScannable" ref="cs1_x" />
		<property name="cameraScaleProvider" ref="displayScaleProvider" />
		<property name="lensScannable" ref="lens"/>
	</bean>

	<bean id="cameraXYScannable" class="gda.device.scannable.CameraXYScannable">
		<property name="cameraStageXScannable" ref="cs1_x" />
		<property name="cameraStageYScannable" ref="cs1_y" />
		<property name="cameraScaleProvider" ref="displayScaleProvider" />
		<property name="lensScannable" ref="lens"/>
	</bean>
 	

	<bean id="highestExistingFileMonitor"
		class="gda.device.detectorfilemonitor.impl.SimpleHighestExistingFileMonitor" />
	<bean class="uk.ac.gda.remoting.server.GdaRmiServiceExporter">
		<property name="serviceName" value="gda/highestExistingFileMonitor" />
		<property name="service" ref="highestExistingFileMonitor" />
		<property name="serviceInterface"
			value="gda.device.detectorfilemonitor.HighestExistingFileMonitor" />
	</bean>

	<bean id="RCPController" class="gda.gui.RCPControllerImpl"/>
	<bean class="uk.ac.gda.remoting.server.GdaRmiServiceExporter">
		<property name="serviceName" value="gda/rcpController" />
		<property name="service" ref="RCPController" />
		<property name="serviceInterface" value="gda.gui.RCPController" />
	</bean>
	
	<bean id="subdirectory" class="gda.data.metadata.SubdirectoryMetadataEntry">
		<property name="defaultSubdirectory" value="raw" />
	</bean>


	<import resource="jythonServerFacade.xml" />
	
	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="${gda.factory.factoryName}" />

</beans>
