<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


	<context:property-placeholder/>

	<gda:rmi-export
		service="plot_server"
		serviceName="gda/plotserver"
		serviceInterface="uk.ac.diamond.scisoft.analysis.PlotServer" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<import resource="commandQueueProcessor.xml" />
	<import resource="beamlineEnergyController.xml" />
	<import resource="metadata.xml" />
	<import resource="imageProcessors.xml" />
	<import resource="jythonServerFacade.xml" />
	<import resource="mapping_scan_server.xml" />
	
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<bean id="plot_server" class="uk.ac.diamond.scisoft.analysis.plotserver.PlotServerBase" />

	<!-- Replaces ScanDataStore -->
	<bean class="uk.ac.gda.remoting.server.GdaRmiServiceExporter">
		<property name="serviceName" value="gda/ScanDataPointServer" />
		<property name="service" value="#{ T(gda.scan.ScanDataPointServer).getInstance() }" />
		<property name="serviceInterface" value="gda.scan.IScanDataPointServer" />
	</bean>

	<import resource="../../../devices/_common/abstract_nxplugins.xml"/>
	<import resource="../../../devices/_common/simpleScannables.xml" />
	<import resource="../../../devices/_common/cameraViewPartScannables.xml" />

	<!-- Start of real device list -->

	<import resource="../../../devices/_common/undulator.xml" />
	<import resource="../../../devices/_common/front_end.xml" />
	
	<!-- start of internal building -->
		
	<import resource="../../../devices/_common/s1.xml" />
	<import resource="../../../devices/_common/filters.xml" />
	<import resource="../../../devices/_common/m1.xml" />
	<import resource="../../../devices/_common/absorbers.xml" />

	
	<!-- End of internal Building/ Start of external Building -->
	<import resource="../../../devices/_common/optics_hutch4_shutter.xml" />
	<import resource="../../../devices/_common/s3.xml" />
	<import resource="../../../devices/_common/dcm.xml" />
	<import resource="../../../devices/_common/s4.xml" />
	<!-- <import resource="../../../devices/_common/kb.xml" /> -->
	<import resource="../../../devices/_common/sample_stage.xml" />
	<import resource="../../../devices/_common/table.xml" />
	<import resource="../../../devices/_common/camera_stage.xml" />
	<import resource="../../../devices/_common/cs2.xml" />
	<import resource="../../../devices/_common/sample_stage_hexapod.xml"/>
	<import resource="../../../devices/_common/smaract_stage.xml"/>
	<import resource="../../../devices/_common/newport_stage.xml"/>
	<import resource="../../../devices/_common/pinhole.xml" />
	<import resource="../../../devices/_common/zone_plate.xml" />
	<import resource="../../../devices/_common/phase_ring.xml" />
	<import resource="../../../devices/_common/translation_stage.xml" />
	
	<import resource="../../../devices/_common/d1.xml" />
	<import resource="../../../devices/_common/d2.xml" />
	<import resource="../../../devices/_common/d3.xml" />
	<import resource="../../../devices/_common/d4.xml" />
	<import resource="../../../devices/_common/d5.xml" />
	
	<import resource="../../../devices/_common/s2.xml" />
	
	<import resource="../../../devices/_common/float1.xml" />
	<import resource="../../../devices/_common/float2.xml" />
	<import resource="../../../devices/_common/float3.xml" />

	<import resource="../../../devices/_common/pco1.xml" />
	<import resource="../../../devices/_common/zebra.xml" />
	<import resource="../../../devices/_common/p2r.xml" />
	<import resource="../../../devices/_common/deben_rig.xml"/>
	<import resource="../../../devices/_common/pco_binning.xml"/>

	<!--  dummy motors for testing tomoscan  -->
	<import resource="../../../devices/_common/tomoscan_dummies.xml" />
	
	<import resource="../../../devices/_common/dummyAD.xml"/>
	
	<!-- end of device list -->

 	<import resource="../../../devices/_common/cameraScaleProviders.xml"/>
 	<import resource="cameraStageScannables.xml" />
 	<import resource="dataFileMonitor.xml" />
 	<import resource="rcpController.xml" />

	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="${gda.factory.factoryName}" />

</beans>
