<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">


	<import resource="../../../properties/_common/gdaProperties.xml"/>
	
	<import resource="devices/_all.xml"/>
	
	<!-- add dummy motors from dls-config for solstice scanning testing-->
	<import resource="../../../../../dls-config/servers/dummy/mapping_motors.xml"/>
	<import resource="../../../../../dls-config/servers/dummy/det.xml"/>
	
	<import resource="../../../../../dls-config/servers/live/icat_xml_creator.xml" />
	<!-- do not remove anything below here -->
	<import resource="../_common/server.xml" />
	
	<beans profile="xcamlive">
		<import resource="nxmetadata.xml"/>
	</beans>
	<beans profile="xcamsimulation">
		<import resource="nxmetadata_xcam_simulation.xml"/>
	</beans>	

</beans>
