<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Command Server -->
	<import resource="file:${gda.config}/servers/main/_common/jythonServerFacade.xml" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<bean id="RCPController" class="uk.ac.diamond.daq.server.rcpcontroller.RCPControllerImpl" />

	<!-- =========================================================== -->
	<!-- Files with separate live and dummy versions                 -->
	<!-- =========================================================== -->

	<!-- ID & front end -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/id.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/frontEnd.xml" />

	<!--  shutters -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/shutters.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/dcm.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/kb1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s3.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s4.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/sjj.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d4.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d5.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d6.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d7.xml" />

	<!-- detectors -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/excalibur_motions.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/merlin_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/sample_dtab_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/sample_microscope_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/xreye_motors.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/xspress3_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/zebraControllers.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/detector_cover.xml" />

	<!-- stages -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/detector_table.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/stage1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/sample_beamstop.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/xrf.xml" />

	<!-- ion chamber -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/ion_chamber.xml" />

	<!-- monitors -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/eh2_bpm.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/processing_monitor.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/radiant_panel_monitors.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/topup_watchdog.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/monitors/malcolm_monitor.xml" />

	<!-- =========================================================== -->
	<!-- Shared files                                                -->
	<!-- =========================================================== -->
	<import resource="file:${gda.config}/servers/main/_common/metadata.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/abstract_nxplugins.xml" />
	<!-- ID & front end-->
	<import resource="file:${gda.config}/servers/main/_common/devices/id.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/frontEnd.xml" />

	<!--  shutters -->
	<import resource="file:${gda.config}/servers/main/_common/devices/shutters.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/_common/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/dcm.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/kb1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s3.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s4.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/sjj.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/_common/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d4.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d5.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d6.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d7.xml" />

	<!-- detectors -->
	<import resource="file:${gda.config}/servers/main/_common/detectors/excalibur_motions.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/merlin_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/sample_dtab_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/sample_microscope_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/xreye_scannables.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/xspress3_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/detector_cover.xml" />

	<!-- stages -->
	<import resource="file:${gda.config}/servers/main/_common/devices/detector_table.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/stage1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/sample_beamstop.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/xrf.xml" />

	<!-- ion chamber -->
	<import resource="file:${gda.config}/servers/main/_common/devices/ion_chamber.xml" />

	<!-- monitors -->
	<import resource="file:${gda.config}/servers/main/_common/monitors/eh2_bpm.xml" />
	<import resource="file:${gda.config}/servers/main/_common/monitors/radiant_panel_monitors.xml" />
	<import resource="file:${gda.config}/servers/main/_common/monitors/topup_watchdog.xml" />
	<import resource="file:${gda.config}/servers/main/_common/monitors/malcolm_monitor.xml" />

	<!-- Beam dimensions -->
	<import resource="file:${gda.config}/servers/main/_common/beamDimensions.xml" />

	<!-- file registration -->
	<import resource="file:${gda.config}/servers/main/_common/data_writer.xml" />

	<!-- Dummies -->
	<import resource="file:${gda.config}/servers/main/_common/devices/dummy_scannables.xml" />

	<bean id="DashboardObserver" class="gda.jython.scriptcontroller.ScriptControllerBase" />

	<import resource="file:${gda.config}/servers/main/_common/nexus_datawriter.xml"/>
	
	<!-- Automated experiments -->
	<context:component-scan	base-package="uk.ac.diamond.daq.experiment" />
	<context:component-scan	base-package="uk.ac.diamond.daq.experiment.structure" />
	<context:component-scan base-package="uk.ac.gda.core.tool.spring" />

	<bean class="uk.ac.diamond.daq.experiment.structure.NodeInsertionRequestResponder"  init-method="connect">
        <property name="broker" value="${gda.message.broker.uri}" />
        <property name="requestTopic" value="${experiment.structure.job.request.topic}" />
        <property name="responseTopic" value="${experiment.structure.job.response.topic}" />
    </bean>

</beans>
