<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.diamond.ac.uk/schema/gda/corba
        http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
 		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	
	<!-- This must be included early on, as configuration of ROI/Stats modules requires plot service  -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/core.xml" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!-- =========================================================== --> 
	<!-- Files with separate live and dummy versions                 -->
	<!-- =========================================================== -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/machine.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/xspress3_daserver.xml" />

	<!-- ID & front end -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/id.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/frontEnd.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/dcm.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d4.xml" />

	<!-- =========================================================== --> 
	<!-- Shared files                                                -->
	<!-- =========================================================== --> 
	<import resource="file:${gda.config}/servers/main/_common/metadata.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/abstract_nxplugins.xml" />

	<!-- ID -->
	<import resource="file:${gda.config}/servers/main/_common/devices/id.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/_common/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/dcm.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/_common/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d4.xml" />

	<!-- Command Server at the end -->
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	
	<gda:rmi-export
		service="plot_server"
		serviceName="gda/plotserver"
		serviceInterface="uk.ac.diamond.scisoft.analysis.PlotServer" />

	<bean id="DashboardObserver" class="gda.jython.scriptcontroller.ScriptControllerBase" />
	<corba:export namespace="${gda.factory.factoryName}" />

</beans>
