<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.diamond.ac.uk/schema/gda/corba
        http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
 		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<!-- This must be included early on, as configuration of ROI/Stats modules requires plot service  -->
	<import resource="file:${gda.config}/servers/main/_common/plotServer.xml" />

	<!-- Command Server -->
	<import resource="file:${gda.config}/servers/main/_common/jythonServerFacade.xml" />
	<import resource="file:${gda.config}/servers/main/_common/rcpController.xml" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!-- =========================================================== -->
	<!-- Files with separate live and dummy versions                 -->
	<!-- =========================================================== -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/machine.xml" />

	<!-- ID & front end -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/id.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/frontEnd.xml" />

	<!--  shutters -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/shutters.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s3.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/s4.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/dcm.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d2.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d4.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d5.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d6.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/d7.xml" />

	<!-- detectors -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/andor_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors/xspress3_addetector.xml" />

	<!-- sample stages -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices/mapping_motors.xml" />

	<!-- movable devices -->
	<!-- <import resource="file:${gda.config}/servers/main/${gda.mode}/movable/me07m/all.xml" /> -->

	<!-- =========================================================== -->
	<!-- Shared files                                                -->
	<!-- =========================================================== -->
	<import resource="file:${gda.config}/servers/main/_common/metadata.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/abstract_nxplugins.xml" />

	<!-- ID -->
	<import resource="file:${gda.config}/servers/main/_common/devices/id.xml" />

	<!--  shutters -->
	<import resource="file:${gda.config}/servers/main/_common/devices/shutters.xml" />

	<!-- optics -->
	<import resource="file:${gda.config}/servers/main/_common/devices/s1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s3.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/s4.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/a1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/m2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/dcm.xml" />

	<!-- diagnostics and shutters -->
	<import resource="file:${gda.config}/servers/main/_common/devices/d1.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d2.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d3.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d4.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d5.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d6.xml" />
	<import resource="file:${gda.config}/servers/main/_common/devices/d7.xml" />

	<!-- detectors -->
	<import resource="file:${gda.config}/servers/main/_common/detectors/andor_addetector.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/example_detectors.xml" />
	<import resource="file:${gda.config}/servers/main/_common/detectors/xspress3_addetector.xml" />

	<!-- sample stages -->
	<import resource="file:${gda.config}/servers/main/_common/devices/mapping_stage.xml" />

	<!-- Dummies -->
	<import resource="file:${gda.config}/servers/main/_common/devices/dummy_scannables.xml" />

	<!-- movable devices -->
	<!-- <import resource="file:${gda.config}/servers/main/_common/movable/me07m/all.xml" /> -->

	<bean id="DashboardObserver" class="gda.jython.scriptcontroller.ScriptControllerBase" />

	<bean id="ScanDataStore" class="gda.util.simpleServlet.FindableSimpleServlet" />

	<!--
		Mapping scans
		IMPORTANT: this will start processing the scanning queue.
		Detectors must be created before doing this.
		ADVISED: do it last or towards the end, scan will now start to run!
	 -->
	<import resource="file:${gda.config}/servers/p45/_common/solstice_scanning.xml"/>

	<corba:export namespace="${gda.factory.factoryName}" />

</beans>
