<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties</value>
			</list>
		</property>
	</bean>

	<import resource="../_common/server.xml"/>

	<import resource="device/all.xml"/>
	<import resource="transient/all.xml"/>

	<import resource="metadata.xml"/>
	<import resource="terminal_logger.xml"/>

	<import resource="file://${gda.facility.dir}/servers/dummy/mapping_motors.xml"/>

	<!-- VVV From p45/_common/server.xml  -->
	<context:property-placeholder/>
	<!-- ? -->

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<import resource="file://${gda.facility.dir}/servers/_common/mandelbrotDetector.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/command_queue_processor.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/mapping_motors.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/mandelbrot_detectors.xml"/>

	<!--  
	      IMPORTANT: this will start processing the scanning queue. 
	      detectors must be created before doing this.
	      ADVISED: do it last or towards the end, scan will now start to run!
	 --> 
	<import resource="file://${gda.facility.dir}/servers/_common/solstice_scanning.xml"/>

	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />

	<bean id="DefaultDataWriterFactory" class="gda.data.scan.datawriter.DefaultDataWriterFactory">
		<property name="name" value="DataWriterFactory" />
		<property name="dataWriterExtenders">
			<list>
				<ref bean="file_registrar" />
			</list>
		</property>
	</bean>

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
</beans>