<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="Diamond Light Source Beamline I16">
         <property
               name="appName"
               value="Diamond Light Source Beamline I16">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Queue Views">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Scan Queue"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=org.eclipse.scanning.api.event.scan.ScanBean;queueName=org.eclipse.scanning.status.set;topicName=org.eclipse.scanning.status.topic;submissionQueueName=org.eclipse.scanning.submission.queue;partName=Scan Queue">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Processing Queue"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=uk.ac.diamond.scisoft.analysis.processing.bean.OperationBean;queueName=scisoft.operation.STATUS_QUEUE;topicName=scisoft.operation.STATUS_TOPIC;submissionQueueName=scisoft.operation.SUBMISSION_QUEUE;partName=Processing Queue">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gda.rcp.EmptyPerspective"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.gda.beamline.I16ScanPerspective"
            name="I16 Scan Perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="uk.ac.gda.beamline.I16ScanPerspective">
         <view
               id="gda.rcp.jythonterminalview"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               ratio="0.15f"
               relationship="left"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="uk.ac.gda.client.liveplotview"
               ratio="0.5f"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="uk.ac.gda.rcp.views.dashboardView"
               ratio="0.21f"
               relationship="top"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="uk.ac.diamond.sda.navigator.views.FileView"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false"/>
         <view
               id="uk.ac.gda.client.navigator"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.eclipse.search.ui.views.SearchView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.eclipse.ui.views.ProgressView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.dawb.workbench.plotting.views.toolPageView.1D"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.dawb.workbench.plotting.views.toolPageView.2D"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.dawb.workbench.plotting.views.toolPageView.1D_and_2D"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="gda.rcp.views.baton.BatonView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="uk.ac.gda.rcp.views.baton.MessageView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="org.dawb.passerelle.views.ValueView"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               visible="false"/>
         <view
               id="uk.ac.diamond.scisoft.analysis.rcp.plotView1"
               relationship="stack"
               relative="uk.ac.gda.client.liveplotview"/>
         <view
               id="org.dawb.workbench.views.dataSetView"
               relationship="stack"
               relative="uk.ac.gda.client.liveplotview"
               visible="false"/>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               relationship="stack"
               relative="uk.ac.gda.client.liveplotview"/>
         <view
               id="org.dawb.workbench.plotting.views.toolPageView.fixed:org.dawnsci.plotting.histogram.histogram_tool_page_2"
               relationship="stack"
               relative="uk.ac.gda.rcp.views.dashboardView"
               visible="false"/>
         <view
               id="uk.ac.diamond.scisoft.analysis.rcp.plotViewMultiple:Pilatus"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="org.dawb.workbench.plotting.views.toolPageView.2D"
               relationship="stack"
               relative="uk.ac.diamond.scisoft.analysis.rcp.plotViewMultiple:Pilatus"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.scanning.event.ui.view.StatusQueueView"
            id="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=org.eclipse.scanning.api.event.scan.ScanBean;queueName=org.eclipse.scanning.status.set;topicName=org.eclipse.scanning.status.topic;submissionQueueName=org.eclipse.scanning.submission.queue;partName=Scan Queue"
            name="Scan Queue View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.scanning.event.ui.view.StatusQueueView"
            id="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=uk.ac.diamond.scisoft.analysis.processing.bean.OperationBean;queueName=scisoft.operation.STATUS_QUEUE;topicName=scisoft.operation.STATUS_TOPIC;submissionQueueName=scisoft.operation.SUBMISSION_QUEUE;partName=Processing Queue"
            name="Processing Queue View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="diode">
      </Scannable>
      <Scannable
            name="ic1">
      </Scannable>
   </extension>
</plugin>

