<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/i-config/launchers"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.gda.core"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${project_loc:uk.ac.gda.core}/lib/${target.os}-${target.arch}:${workspace_loc:uk.ac.gda.nexus}/lib/${target.os}-${target.arch}"/>
</mapAttribute>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;uk.ac.gda.core&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry id=&quot;org.eclipse.jdt.launching.classpathentry.defaultClasspath&quot;&gt;&#10;&lt;memento exportedEntriesOnly=&quot;false&quot; project=&quot;uk.ac.gda.core&quot;/&gt;&#10;&lt;/runtimeClasspathEntry&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;uk.ac.gda.swingclient&quot; type=&quot;1&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gda.util.LogPanel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.ac.gda.core"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dgda.mode=dummy&#10;-Dgda.root=${project_loc:uk.ac.gda.core}/../&#10;-Dgda.config=${project_loc:i10-config}&#10;-Dgda.users=${project_loc:i10-config}/users&#10;-Djacorb.config.dir=${project_loc:i10-config}/jacorb/dummy&#10;-Dgov.aps.jca.JCALibrary.properties=${project_loc:i10-config}/jca/dummy/JCALibrary.properties&#10;-Xms128m -Xmx1024m&#10;-XX:MaxPermSize=256m&#10;-XX:+DisableExplicitGC&#10;-Dgda.propertiesFile=${project_loc:i10-config}/properties/dummy/java.properties&#10;-DXXgda.var=${project_loc:i06-config}/users/var&#10;-DXXgda.data=${project_loc:i06-config}/users/data&#10;-DXXgda.logs.dir=${project_loc:i06-config}/users/logs"/>
</launchConfiguration>
