<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	<import resource="../../../../i06-shared/servers/main/dummy/server.xml"/>
	<import resource="devices/_all_devices.xml"/>

<!-- do not remove anything below here -->
	<import resource="../_common/server.xml" />
	<import resource="nxmetadata.xml"/>

</beans>
