<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<bean id="twodplot" class="gda.data.scan.TwoDPlotListener">
		<property name="plotPanel" value="2D Scan Plot" />
	</bean>

	<import resource="datawriter.xml" />
	<import resource="gda_metadata.xml" />
	<import resource="command_server.xml" />

</beans>
