<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%r  %-5level [%logger{36}] - %m%n%rEx</pattern>
        </layout>
    </appender>
    
    <appender name="LogServer" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>6010</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>
    <logger name="gda">
        <level value="INFO"/>
    </logger>
    <root>
        <level value="WARN"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="LogServer"/>
    </root>
    <consolePlugin />
</configuration>
