<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product
			application="uk.ac.gda.client.application"
			description="GDA nanoARPES"
			name="Beamline I05-1">
			<property
				name="appName"
				value="Beamline I05-1">
			</property>
			<property
				name="windowImages"
				value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
			</property>
			<property
				name="aboutImage"
				value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
			</property>
		</product>
	</extension>
	<extension
		id="uk.ac.gda.beamline.i05d1.fragment"
		point="org.eclipse.e4.workbench.model">
		<fragment
			apply="always"
			uri="fragment.e4xmi">
		</fragment>
	</extension>
</plugin>
