<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sockpuppet" class="gda.data.fileregistrar.ClientFileAnnouncer" />

	<bean id="FileRegistrar" class="gda.data.fileregistrar.FileRegistrar" init-method="register">
		<property name="name" value="FileRegistrar" />
		<property name="directory" value="/dls/bl-misc/dropfiles2/icat/dropZone/i05-1-" />
		<property name="clientFileAnnouncer" ref="sockpuppet" />
	</bean>

	<bean id="localscriptproject" class="gda.jython.ScriptProject">
		<!-- This is deliberately pointed to i05 not i05-1 so that both endstations 
			can share scripts. See ticket ARPES-361 -->
		<property name="path" value="/dls_sw/i05/scripts/" />
		<property name="name" value="Scripts: User" />
		<property name="type" value="USER" />
	</bean>

	<import resource="../_common/server.xml" />

</beans>
