<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/uk.ac.gda.beamline.i13i.product live"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="location" value=""/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${project_loc:uk.ac.gda.nexus}/lib/linux-x86_64:${project_loc:uk.ac.gda.core}/lib/linux-x86_64:/dls_sw/dasc/jprofiler5/bin/linux-x64"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dagentlib:jprofilerti=port=8849&#10;-DXbootclasspath/a:/dls_sw/dasc/jprofiler5/bin/agent.jar&#10;-Declipse.pluginCustomization=${project_loc:i13i-config}/pluginCustomization.ini&#10;-Dentry=EntryGdaShipment&#10;-DidaEmbedded=yes&#10;-Duk.ac.diamond.analysis.rcp.plotting.useSoftware=true&#10;-Duk.ac.diamond.scisoft.analysis.io.nocaching=true&#10;-Dgda.mode=live&#10;-Dgda.root=${project_loc:uk.ac.gda.core}/../&#13;&#10;-Dgda.config=${project_loc:i13i-config}&#10;-Dgda.users=${project_loc:i13i-config}/users&#13;&#10;-Dgda.propertiesFile=${project_loc:i13i-config}/properties/live/java.properties&#13;&#10;-Djacorb.config.dir=${project_loc:i13i-config}/jacorb/live&#13;&#10;-Dgov.aps.jca.JCALibrary.properties=${project_loc:i13i-config}/jca/live/JCALibrary.properties&#13;&#10;-Xms256m&#10;-Xmx2048m&#10;-XX:MaxPermSize=256m&#10;-XX:+DisableExplicitGC"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="uk.ac.gda.beamline.i13i.product"/>
<stringAttribute key="productFile" value="\uk.ac.gda.beamline.skeleton-feature\uk.ac.gda.beamline.skeleton.product"/>
<setAttribute key="selected_features">
<setEntry value="org.dawb.eclipse.feature:default"/>
<setEntry value="org.dawnsci.workbench.plotting.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jdt:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.python.pydev.feature:default"/>
<setEntry value="uk.ac.diamond.scisoft.core.feature:default"/>
<setEntry value="uk.ac.diamond.scisoft.gda.feature:default"/>
<setEntry value="uk.ac.diamond.scisoft.ui.feature:default"/>
<setEntry value="uk.ac.gda.beamline.i13i.feature:default"/>
<setEntry value="uk.ac.gda.client.feature:default"/>
<setEntry value="uk.ac.gda.dal.feature:default"/>
<setEntry value="uk.ac.gda.diamond.feature:default"/>
<setEntry value="uk.ac.gda.xmleditor.feature:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="true"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
