<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="EPICS_CA_MAX_ARRAY_BYTES" value="400000"/>
<mapEntry key="EPICS_CA_REPEATER_PORT" value="6065"/>
<mapEntry key="EPICS_CA_SERVER_PORT" value="6064"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/scratch/work/ioc/BL12I/BL12I-EA-IOC-07/bin/linux-x86/stBL12I-EA-IOC-07-gui"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="6064"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/dls_sw/work/R3.14.11/ioc/BL12I/BL12I-EA-IOC-07_sim"/>
</launchConfiguration>
