<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd" >

	<import resource="detectors/malcolm.xml"/>
	<import resource="detectors/mic.xml" />

	<bean id="imaging_camera_control"
		class="uk.ac.gda.epics.camera.EpicsCameraControl">
		<constructor-arg ref="det_adbase" />
		<constructor-arg ref="det_roi" />
	</bean>

<!-- Do not remove anything below here -->
	<import resource="../../main/_common/server.xml" />

</beans>
