<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<bean id="fastshutter" class="gda.device.scannable.SimplePVScannable">
		<property name="name" value="fastshutter" />
		<property name="pvName" value="BL07I-EA-SHTR-01:CON" />
		<property name="level" value="6" />
	</bean>

	<bean id="_fshutterDelay" class="gda.device.scannable.scannablegroup.ScannableGroup">
		<property name="groupMembers">
			<list>
				<ref bean="fastshutter" />
				<bean id="_fsWait" class="gda.device.scannable.TimeDelayScannable">
					<property name="name" value="_fsWait" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="fastshutterScan" class="gda.device.scannable.TogglerScannable">
		<constructor-arg ref="_fshutterDelay" />
		<property name="startValue">
			<list>
				<value>1</value>
				<value>0.5</value>
			</list>
		</property>
		<property name="endValue">
			<list>
				<value>0</value>
				<value>0</value>
			</list>
		</property>
		<property name="hook">
			<value>AT_LEVEL</value>
		</property>
		<property name="level" value="100" />
	</bean>

	<import resource="slits.xml" />

	<import resource="server_dummies.xml" />

	<import resource="server_epics.xml" />
	<import resource="eh2_epics.xml" />


	<import resource="flight_tube.xml" />

	<!-- Pilatus using the AreaDetector Interface -->

	<import resource="fastpil1.xml" />
	<import resource="fastpil2.xml" />
	<import resource="fastpil3.xml" />

	<import resource="pilatus1_824.xml" />
	<import resource="pilatus2_824.xml" />
	<import resource="pilatus3_824.xml" />

	<import resource="mpxAreaDetector.xml" />

	<!-- <import resource="devices_KB2.xml" /> -->

	<import resource="ebe.xml" />

	<import resource="fleacamera3_08.xml" />
	<import resource="fleacamera5_09.xml" />
	<import resource="fleacamera4_06.xml" />

	<import resource="detectors/xraycam.xml" />

	<import resource="server_core.xml" />
	<import resource="../_common/server.xml" />

	<import resource="lakeshore.xml" />
	
	<import resource="vortex.xml"/>
	<!--
	<import resource="pie.xml" />
	<import resource="zone_plates.xml" />
	-->

	<import resource="commandQueueProcessor.xml" />
</beans>
