<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<import resource="slits.xml" />

	<import resource="server_epics.xml" />
	<import resource="eh2_epics.xml" />

	<!-- Pilatus using the AreaDetector Interface -->

	<import resource="fastpil1.xml" />
	<import resource="fastpil2.xml" />
	<import resource="fastpil3.xml" />

	<import resource="pilatus1_824.xml" />
	<import resource="pilatus2_824.xml" />
	<import resource="pilatus3_824.xml" />

	<import resource="mpxAreaDetector.xml" />

	<!-- <import resource="devices_KB2.xml" /> -->

	<import resource="ebe.xml" />

	<import resource="detectors/xrayeye.xml" />
	<import resource="detectors/dcam8.xml" />

	<import resource="devices/fastshutter.xml" />

	<import resource="server_core.xml" />
	
	<import resource="transient.xml" />
	
	
	<import resource="../_common/server.xml" />

	<import resource="lakeshore.xml" />

	<import resource="detectors/excalibur.xml" />

	<!--
	<import resource="pie.xml" />
	<import resource="zone_plates.xml" />
	-->

	<import resource="commandQueueProcessor.xml" />
</beans>
