<?xml version="1.0" encoding="UTF-8"?>

<configuration>

<!-- address where the messages from Object Servers send to - the LogServer-->
    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
       	<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      		<evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        		<expression>return message.contains("Could not acquire access to file: ");</expression>
      		</evaluator>
      		<OnMismatch>NEUTRAL</OnMismatch>
      		<OnMatch>DENY</OnMatch>
      	</filter>
        <RemoteHost>i10-control.diamond.ac.uk</RemoteHost>
        <Port>6788</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level %logger{36} - %m %rEx%n</Pattern>
        </layout>
    </appender>    
    <logger name="gda">
        <level value="DEBUG"/>
    </logger>
    <logger name="gda.device.motor.MoveEventQueue">
        <level value="INFO"/>
    </logger>
    <logger name="gda.device.motor.EpicsMotor">
        <level value="INFO"/>
    </logger>
    <logger name="gda.device.corba.impl">
        <level value="INFO"/>
    </logger>
    <logger name="gda.device.temperature">
        <level value="INFO"/>
    </logger>
    <logger name="gda.jython.corba.impl">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.commons">
    	<level value="INFO"/>
    </logger>

    <logger name="gda.jython.GDAInteractiveConsole">
        <level value="INFO"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="SOCKET"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <consolePlugin />
</configuration>
