<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.diamond.ac.uk/schema/gda/corba
           http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
           http://www.diamond.ac.uk/schema/gda/gda
           http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd">

<gda:rbac/>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/live/java.properties</value>
				<value>file:${gda.config}/properties/common/java.properties</value>
			</list>
		</property>
	</bean>

	<!-- This gda.data.ObservablePathConstructor should only be in live -->
	<bean id="terminallog_path_provider" class="gda.data.ObservablePathConstructor">
		<property name="template" value="${gda.data.scan.datawriter.datadir}/gdaterminal.log" />
		<property name="gdaMetadata" ref="GDAMetadata" />
		<property name="local" value="true" />
	</bean>

	<import resource="metadata.xml"/>
	<import resource="device/all.xml"/>
	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/i10-shared/servers/main/live/device/all.xml"/>
	<import resource="../common/server.xml"/>

	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />

	<bean id="DefaultDataWriterFactory" class="gda.data.scan.datawriter.DefaultDataWriterFactory">
		<property name="name" value="DataWriterFactory" />
		<property name="dataWriterExtenders">
			<list>
				<ref bean="file_registrar" />
				<!-- <bean class="gda.data.scan.datawriter.SrsDataFile" /> -->
				<!-- <bean class="gda.data.scan.datawriter.NexusDataWriter" /> -->
				<!-- <ref bean="NexusDataWriter" /> -->
			</list>
		</property>
	</bean>
</beans>