<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.diamond.ac.uk/schema/gda/gda
	http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties</value>
			</list>
		</property>
	</bean>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<import resource="file://${gda.core.dir}/servers/_common/plot_server.xml" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<bean id="twodplot" class="gda.data.scan.TwoDPlotListener">
		<property name="plotPanel" value="2D Scan Plot" />
	</bean>

	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />

	<import resource="datawriter.xml" />
	<import resource="../../../xml/devices/common_devices.xml" />
	<import resource="gda_metadata.xml" />

	<import resource="solstice_scanning.xml"/>
	<import resource="example_detectors.xml"/>

	<!-- Machine Status Scannables -->
	<import resource="file://${gda.facility.dir}/servers/_common/machine_status.xml" />

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />

	<import resource="jython_server.xml" />

</beans>