<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.diamond.ac.uk/schema/gda/gda http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd
	http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties,file:${gda.config}/properties/_common/common_instance_java.properties" />

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<bean id="SimpleServlet" class="gda.util.simpleServlet.FindableSimpleServlet" />

	<bean id="ScanDataStore" class="gda.util.simpleServlet.FindableSimpleServlet" />

	<bean id="plot_server" class="uk.ac.diamond.scisoft.analysis.plotserver.PlotServerBase" />

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<bean class="gda.factory.corba.util.AdapterFactory">
		<constructor-arg index="0" value="${gda.factory.factoryName}" />
		<constructor-arg index="1">
			<bean class="gda.spring.NetServiceFactoryBean" />
		</constructor-arg>
	</bean>

	<bean id="twodplot" class="gda.data.scan.TwoDPlotListener">
		<property name="plotPanel" value="Plot 2D" />
	</bean>

	<import resource="datawriter.xml" />

	<import resource="../../../xml/devices/${gda.mode}/i05-1_server_devices.xml" />
	<corba:export namespace="i05-1" />

	<import resource="gda_metadata.xml" />
	<import resource="jython_server.xml" />

	<gda:rbac />

</beans>