<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan
		base-package="uk.ac.diamond.daq.experiment.structure"></context:component-scan>
	<context:component-scan
		base-package="uk.ac.gda.core.tool.spring"></context:component-scan>

	<context:property-placeholder />
	<context:property-placeholder
		properties-ref="configProperties" />

	<util:properties id="configProperties">
		<prop key="BSEL_PV_PREFIX">BL11K-MO-BSEL-</prop>
		<prop key="CRYO_PV_PREFIX">BL11K-CG-CRYO-</prop>
		<prop key="DCM_PV_PREFIX">BL11K-OP-DCM-</prop>
		<prop key="DIAGNOSTIC_CAMERAS_PV_PREFIX">BL11K-DI-PHDGN-</prop>
		<prop key="FE_ABSORBER_PV_PREFIX">FE11K-RS-ABSB-</prop>
		<prop key="FE_SHUTTER_PV_PREFIX">FE11K-PS-SHTR-</prop>
		<prop key="KBM_PV_PREFIX">BL11K-OP-KBM-</prop>
		<prop key="MR_PV_PREFIX">BL11K-OP-MR-</prop>
	</util:properties>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<!-- This must be included early on, as configuration of ROI/Stats modules 
		requires plot service -->
	<import resource="file://${gda.core.dir}/servers/_common/plot_server.xml" />

	<!-- Command Server -->
	<import resource="file:${gda.config}/servers/main/_common/rcpController.xml" />

	<bean id="GDAHashtable"
		class="gda.util.findableHashtable.FindableHashtable" />

	<!-- =========================================================== -->
	<!-- 					mode specific files 			 		 -->
	<!-- =========================================================== -->

	<!-- stages -->
	<import	resource="file:${gda.config}/servers/main/${gda.mode}/stages/base_x.xml" />

	<!-- detectors -->
	<import	resource="file:${gda.config}/servers/main/${gda.mode}/detectors/imaging/pco_addetector.xml" />

	<import	resource="file:${gda.config}/servers/main/${gda.mode}/detectors/diffraction/pilatus_addetector.xml" />
	<import	resource="file:${gda.config}/servers/main/${gda.mode}/detectors/diffraction/pilatus_motion.xml" />

	<!-- shutters -->
	<import	resource="file:${gda.config}/servers/main/${gda.mode}/shutters/fe_shutter.xml" />
	<import	resource="file:${gda.config}/servers/main/${gda.mode}/shutters/eh_shutter.xml" />

	<!-- file registration -->
	<import
		resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />

	<!-- ExperimentService -->
	<bean id="serverExperimentService"
		class="uk.ac.diamond.daq.experiment.api.FileSystemBasedExperimentService" />

	<!-- Plan request handler -->
	<bean id="planRequestHandler"
		class="uk.ac.diamond.daq.experiment.plan.BasicPlanRequestHandler" />

	<!-- =========================================================== -->
	<!-- 						shared files 						 -->
	<!-- =========================================================== -->

	<!-- beam -->
	<import	resource="file:${gda.config}/servers/main/_common/beam/energy.xml" />

	<!-- cryo -->
	<import	resource="file:${gda.config}/servers/main/_common/cryo/cryo.xml" />

	<!-- dcms -->
	<import	resource="file:${gda.config}/servers/main/_common/dcms/dcms.xml" />

	<!-- mirrors -->
	<import	resource="file:${gda.config}/servers/main/_common/mirrors/mirrors.xml" />

	<!-- others -->
	<import	resource="file:${gda.config}/servers/main/_common/others/others.xml" />
		
	<!-- slits -->
	<import	resource="file:${gda.config}/servers/main/_common/slits/s1.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/slits/s2.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/slits/s3.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/slits/s4.xml" />

	<!-- stages -->
	<import	resource="file:${gda.config}/servers/main/_common/stages/gts.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/stages/smaract.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/stages/tr6.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/stages/stage_manager.xml" />

	<!-- detectors -->
	<import	resource="file:${gda.config}/servers/main/_common/detectors/imaging/pco_addetector.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/detectors/imaging/imaging_rail.xml" />

	<import	resource="file:${gda.config}/servers/main/_common/detectors/diffraction/pilatus_addetector.xml" />

	<import	resource="file:${gda.config}/servers/main/_common/detectors/diagnostics/diagnostics.xml" />

	<import	resource="file:${gda.config}/servers/main/_common/metadata.xml" />

	<import	resource="file://${gda.facility.dir}/servers/_common/machine_status.xml" />

	<!-- file registration -->
	<import	resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import	resource="file:${gda.config}/servers/main/_common/data_writer.xml" />

	<!-- Dummies -->
	<import resource="temporary_dummy_objects.xml" />

	<bean id="DashboardObserver"
		class="gda.jython.scriptcontroller.ScriptControllerBase" />

	<import	resource="file:${gda.config}/servers/main/_common/experiment_driver.xml" />

	<!-- Mapping scans IMPORTANT: this will start processing the scanning queue. 
		Detectors must be created before doing this. ADVISED: do it last or towards 
		the end, scan will now start to run! -->
	<import	resource="file:${gda.config}/servers/main/_common/solstice_scanning.xml" />

	<!-- Initialise Jython late on, as localStation refers to beans -->
	<import resource="jythonServerFacade.xml" />

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />

</beans>
