[Desktop Entry]
Encoding=UTF-8
Name=gda-client
Type=Application
Exec=gdaclient
Icon=/dls_sw/i10/software/gda/workspace_git/gda-diamond.git/configurations/i10-config/bin/icons/cgda.png
Icon[en_GB]=/dls_sw/i10/software/gda/workspace_git/gda-diamond.git/configurations/i10-config/bin/icons/cgda.png
Terminal=false
Name[en_GB]=3. Start GDA Client
GenericName[en_GB]=Start GDA Client
Comment[en_GB]=Start GDA Client
Categories=X-ogda;
