<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Data Server -->
	<bean id="dataServer" class="org.eclipse.dawnsci.remotedataset.server.DataServer" init-method="start">
		<property name="port" value="${gda.dataserver.port}" />
	</bean>

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!--  object to provide recording of metadata in Nexus files -->
	<bean id="metashop" class="gda.data.metadata.NXMetaDataProvider">
		<property name="name" value="metashop"/>
	</bean>

	<import resource="common_nxplugins.xml"/>
	<import resource="command_server.xml" />
	<import resource="sample_metadata.xml"/>
	<import resource="beam_metadata.xml"/>
	<import resource="notes_metadata.xml"/>
	<import resource="nexus_datawriter.xml"/>

</beans>
