<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" >

    <import resource="mapping_motors.xml" />

    <import resource="metadata.xml" />
    <import resource="datawriter.xml" />
    <import resource="jython_server.xml" />
    <import resource="ncddetectors.xml" />

    <import resource="devices/devices.xml"/>
<!-- Do not remove anything below here -->
    <import resource="file:${gda.config}/servers/main/_common/server.xml" />

</beans>
