<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            description="GDA for Diamond Light Source Beamline I06-2 - SPELEEM"
            name="GDA for Diamond Light Source Beamline I06">
         <property
               name="appName"
               value="GDA for Diamond Light Source Beamline I06">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="GDA for DLS Beamone i06-2.&#x0A;&#x0A;Build id: &#x0A;&#x0A;Copyright © 2009-2017 Diamond Light Source Ltd.&#x0A;&#x0A;http://www.opengda.org">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.daq.beamline.i06_2.perspectives.PEEM"
            id="uk.ac.diamond.daq.beamline.i06-2.perspective.Peem"
            name="PEEM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gda.rcp.views.ViewFactoryFinder:medipixControlWidgetFactory"
            id="uk.ac.diamond.daq.beamline.i06-2.medipix.live.stream.view.LiveStreamViewWithHistogram"
            name="Medipix"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:camc1ControlWidgetFactory"
            id="uk.ac.diamond.daq.beamline.i06-2.camc1.live.stream.view.LiveStreamViewWithHistogram"
            name="camc1"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:camc2ControlWidgetFactory"
            id="uk.ac.diamond.daq.beamline.i06-2.camc2.live.stream.view.LiveStreamViewWithHistogram"
            name="camc2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.daq.beamline.i06-2.medipix.live.stream.view.LiveStreamViewWithHistogram?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Start camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.medipix.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.medipix.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.freezecommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_freeze_blue.png"
               label="Freeze"
               style="toggle"
               tooltip="Enable/disable image update">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.medipix.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Sanpshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.diamond.daq.beamline.i06-2.medipix.live.stream.view.LiveStreamViewWithHistogram">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.daq.beamline.i06-2.camc1.live.stream.view.LiveStreamViewWithHistogram?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Start camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc1.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc1.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.freezecommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_freeze_blue.png"
               label="Freeze"
               style="toggle"
               tooltip="Enable/disable image update">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc1.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Sanpshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.diamond.daq.beamline.i06-2.camc1.live.stream.view.LiveStreamViewWithHistogram">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.daq.beamline.i06-2.camc2.live.stream.view.LiveStreamViewWithHistogram?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Start camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc2.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc2.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.freezecommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_freeze_blue.png"
               label="Freeze"
               style="toggle"
               tooltip="Enable/disable image update">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i06-2.camc2.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Sanpshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.diamond.daq.beamline.i06-2.camc2.live.stream.view.LiveStreamViewWithHistogram">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.gda.client.live.stream.controls.camera.state.EpicsCameraState">
         <variable
               name="i06-2.medipix.live.stream.active"
               priorityLevel="workbench">
         </variable>
         <variable
               name="i06-2.camc1.live.stream.active"
               priorityLevel="workbench">
         </variable>
         <variable
               name="i06-2.camc2.live.stream.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.diamond.daq.beamline.i06_2.EarlyStartup">
      </startup>
   </extension>
   <extension
         id="dummy_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="uk.ac.diamond.daq.beamline.i06-2.dummy.product">
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="GDA for DLS Beamone i06-2">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>
         <property
               name="appName"
               value="uk.ac.diamond.daq.beamline.i06-2.dummy.product">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
