<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<import resource="required_at_start.xml"/>

	<import resource="abstract_command_server.xml"/>

	<bean id="i15x_user_script_project" class="gda.jython.ScriptProject">
		<property name="path" value="/dls_sw/${gda.beamline.name}/scripts/i15x" />
		<property name="name" value="Scripts: Shared between i15 and i15-1" />
		<property name="type" value="USER" />
	</bean>

	<bean id="script_paths" class="gda.jython.ScriptPaths" parent="common_script_paths">
		<property name="projects">
			<list merge="true">
				<ref bean="i15x_user_script_project" />
			</list>
		</property>
	</bean>

	<bean id="command_server" parent="abstract_command_server">
		<property name="jythonScriptPaths" ref="script_paths"/>
		<property name="stopJythonScannablesOnStopAll" value="false" />
		<property name="disableBatonControlOverVisitMetadataEntry" value="false" />
	</bean>

	<import resource="terminal_logger.xml" />

	<import resource="device/all.xml"/>
	<import resource="scannable/all.xml"/>
	<import resource="transient/all.xml"/>
</beans>