<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true"> <!-- Add debug="true" in here to log logback configuration -->

    <!-- The include statement in the following java.properties file is not read so you need to reference both -->
    <property file="${gda.config}/properties/${gda.mode}/java.properties" />
    <property file="${gda.config}/properties/common/java.properties" />

    <!-- include file is relative to the application directory -->

    <!-- Console                                                               servers/log/common/logSharedWithClients.xml -->
    <include file="${gda.install.git.loc}/gda-mt.git/configurations/i15-config/servers/log/common/logSharedWithClients.xml"/>

    <!-- address where the messages from Object Servers send to - the LogServer-->
    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>${gda.logserver.host}</RemoteHost>
        <Port>${gda.server.logging.port}</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="SOCKET"/>
        <appender-ref ref="Console"/>
    </root>
    <consolePlugin />
</configuration>
