[Desktop Entry]
Encoding=UTF-8
Name=Beamline Wiki
Type=Application
Exec=firefox http://wiki.diamond.ac.uk/Wiki/Wiki.jsp?page=I06Entry
Icon=/usr/share/pixmaps/nautilus/Bluecurve/emblem-web.png
Icon[en_GB]=/usr/share/pixmaps/nautilus/Bluecurve/emblem-web.png
Terminal=false
Name[en_GB]=Beamline I06 Wiki
GenericName[en_GB]=Beamline Wiki
Comment[en_GB]=Beamline Wiki
Categories=X-ogda;

