<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">


	<import resource="GDAMetadata.xml"/>
	<import resource="devices/all_devices.xml"/>
	<import resource="../../../servers/main/_common/server.xml"/>
	
</beans>
