[Desktop Entry]
Encoding=UTF-8
Name=gda-startup-guide
Type=Application
Exec=firefox file:///dls_sw/i11-1/software/gda/config/doc/Starting_GDA_Help.html
Icon=/usr/share/pixmaps/gnome-html.png
Icon[en_GB]=/usr/share/pixmaps/gnome-html.png
Terminal=false
Name[en_GB]=How To Start GDA
GenericName[en_GB]=How To Start GDA
Comment[en_GB]=Instruction on how To Start GDA
Categories=X-opengda;
