[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gda-servers
Type=Application
Exec=startgda
Terminal=false
Name[en_GB]=6. Interactive GDA launcher - First Servers then Swing Client
GenericName[en_GB]=Interactive GDA launcher - First Servers then Swing Client
Comment[en_GB]=Interactive GDA launcher - First Servers then Swing Client
Icon=/dls_sw/i11-1/software/gda/config/bin/icons/gda.png
Icon[en_GB]=/dls_sw/i11-1/software/gda/config/bin/icons/gda.png
Categories=X-opengda;
