<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I08-1 Beamline">
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="Diamond Beamline I08-1&#x0A;&#x0A;Based on GDA See &lt;http://www.opengda.org/&gt;">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="appName"
               value="GDA I08-1 Beamline">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">

      <perspectiveExtension
            targetID="uk.ac.diamond.daq.mapping.ui.experiment.MappingPerspective">
         <view
               closeable="true"
               id="uk.ac.gda.rcp.views.dashboardView"
               moveable="true"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="uk.ac.gda.beamline.i08_1.views.I08_1StatusView"
               minimized="false"
               relative="org.dawnsci.mapping.ui.mappeddataview"
               relationship="bottom"
               ratio="0.70">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="I08-1 Views"
            id="uk.ac.gda.beamline.i08-1">
      </category>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i08-1"
            class="gda.rcp.views.ViewFactory:statusView"
            icon="platform:/plugin/uk.ac.gda.beamline.i08.shared/icons/status.png"
            id="uk.ac.gda.beamline.i08_1.views.I08_1StatusView"
            name="Status">
      </view>
   </extension>

</plugin>
