[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Start GDA Client
Type=Application
Exec=/dls/b18/bin/client.sh
TryExec=
Icon=/dls/b18/software/gda/config/Desktop/.icons/gda.ico
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=Start GDA Client
GenericName[en_GB]=Start GDA Client
Comment[en_GB]=Start GDA Client
