[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=View GDA Log File
Type=Application
Exec=tail -f -n 2000 /dls/b18/logs/gda_server.log
TryExec=
Icon=
X-GNOME-DocPath=
Terminal=true
Name[en_GB]=View GDA Log File
GenericName[en_GB]=View GDA Log File
Comment[en_GB]=View GDA Log File
