<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">


	<context:property-placeholder
		location="file:${gda.config}/properties/beamline.properties,
		file:${gda.config}/logging/live/log.properties,
		file:${gda.config}/epics/live/epics.properties,
		file:${gda.config}/properties/live/java.properties,
		file:${gda.config}/properties/gda.properties" />

	<bean class="gda.configuration.epics.EpicsConfiguration">
		<constructor-arg value="${gda.config}/epics/live/BL11I-gda-interface.xml" />
<!-- 		<constructor-arg value="/dls_sw/work/R3.14.12.3/ioc/BL11J/BL/data/${gda.epics.beamline.name}-gda-interface.xml" /> -->
	</bean>

<!--  Optic Hutch, EH1  -->	
<!--	<import resource="BPM1.xml"/>-->
<!--	<import resource="BPM2.xml"/>-->
<!-- 	<import resource="BPM3.xml"/> -->
<!-- 	<import resource="CyberStarBlower.xml"/> -->
	<import resource="D1.xml"/>
	<import resource="D2.xml"/>
	<import resource="D3.xml"/>
	<import resource="D4.xml" />
	<import resource="D5.xml"/>
	<import resource="DCM.xml"/>
<!-- 	<import resource="DCMxtal.xml"/> -->
<!-- 	<import resource="ETL.xml"/> -->
	<import resource="ExperimentHutchShutter.xml"/>
	<import resource="FastShutter.xml"/>
	<import resource="FrontEndAperture.xml"/>
	<import resource="FrontEndShutter.xml"/>
	<import resource="GBC.xml"/>
	<import resource="GV1.xml"/>
	<import resource="GV2.xml"/>
	<import resource="GV3.xml"/>
	<import resource="GV4.xml"/>
	<import resource="GV5.xml"/>
	<import resource="GV6.xml"/>
	<import resource="Ic3.xml"/>
	<import resource="Ic4.xml"/>
	<import resource="Ic5.xml"/>
	<import resource="ID.xml"/>
	<import resource="Ie.xml"/>
	<import resource="Io.xml"/>
	<import resource="etl1.xml"/>
	<import resource="etl2.xml"/>
<!-- 	<import resource="LakeShore.xml"/> -->
<!-- 	<import resource="LargeSampleTable.xml"/> -->
	<import resource="M1.xml"/>
	<import resource="MachineStatus.xml"/>
<!-- 	<import resource="MCSSis3820.xml"/> -->
<!-- 	<import resource="MRIFurnace.xml"/> -->
	<import resource="OpticalTable.xml"/>
<!-- 	<import resource="OxfordCryoStream.xml"/> -->
<!-- 	<import resource="OxfordCryoStream2.xml"/> -->
<!-- 	<import resource="PhenixCryostat.xml"/> -->
	<import resource="S1.xml"/>
	<import resource="S2.xml"/>
	<import resource="S3.xml"/>
	<import resource="S4.xml"/>
	<import resource="S5.xml"/>
	<import resource="Scaler1.xml"/>
	<import resource="Scaler2.xml"/>
<!-- 	<import resource="SmallSampleTable.xml"/> -->
<!-- 	<import resource="StoeFurnace.xml"/> -->

<!-- LDE Hutch -->
	<import resource="ES2Shutter.xml"/>
	<import resource="S6.xml"/>
	<import resource="D6.xml"/>
	<import resource="IE2.xml"/>
	<!-- Ion chamber 2 -->
	<import resource="Ic6.xml"/>
<!-- 	<import resource="FastShutter.xml"/> -->
	<import resource="S7.xml"/>
	<import resource="LS.xml"/>
	<import resource="MS1.xml"/>
	<import resource="MS2.xml"/>
	<import resource="MS3.xml"/>
	<import resource="MS3_hthp.xml"/>
	<import resource="MS4.xml"/>
	<import resource="SS1.xml"/>
	<import resource="SS2.xml"/>
	<import resource="SS3.xml"/>
	<import resource="SS4.xml"/>
	<import resource="SS5.xml"/>
	<import resource="RS.xml"/>
	<import resource="BSTP1.xml"/>
	<import resource="butler.xml"/>
	<import resource="detectorArm.xml"/>
	<import resource="Spinner.xml"/>
	<import resource="Table1.xml"/>
<!-- 	<import resource="RobotNX100.xml"/> -->
	<import resource="DummyMotors.xml"/>
<!-- 	<import resource="Mar345.xml"/> -->
	
	<import resource="../main_common.xml"/>
	<import resource="GDAMetadata.xml"/>
	<import resource="MachineStatus.xml" />
	<import resource="devices/devices.xml"/>
	<import resource="../_common/server.xml"/>
</beans>
