<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties
				</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties
				</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties
				</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties
				</value>
			</list>
		</property>
	</bean>


	<import resource="GDAMetadata.xml" />
	<import resource="ID.xml" />
	<import resource="DummyMotors.xml" />
	<import resource="PGM.xml" />
	<import resource="SD1.xml" />
	<import resource="SD3.xml" />
	<import resource="SD6.xml" />
	<import resource="SD10.xml" />
	<import resource="SM1.xml" />
	<import resource="SM3.xml" />
	<import resource="SM5.xml" />
	<import resource="SM6.xml" />
	<import resource="SS1.xml" />
	<import resource="SS2.xml" />
	<import resource="SS3.xml" />
	<import resource="SS4.xml" />
	<import resource="SS7.xml" />
	<import resource="topup.xml" />
	<import resource="shutters.xml" />
	<import resource="dummy_endstation.xml" />

	<import resource="../main_common.xml" />
</beans>
