[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=gda_start_logpanel
TryExec=
Icon=/usr/share/icons/Bluecurve/48x48/apps/icon-logbook.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=gda.log
GenericName[en_GB]=GDA Log Panel
Comment[en_GB]=Start GDA log panel
