<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA for Diamond Light Source Beamline I09-2">
         <property
               name="appName"
               value="GDA for Diamond Light Source Beamline I09-2">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="aboutText"
               value="GDA for DLS SISA I09-2.&#x0A;&#x0A;Build id: &#x0A;&#x0A;Copyright © 2009 Diamond Light Source Ltd.&#x0A;&#x0A;http://www.opengda.org">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.beamline.i09-2.dld.live.stream.view.LiveImageXY"
            name="DLD live image XY"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.beamline.i09-2.dld.live.stream.view.AccumImageXY"
            name="DLD accum image XY"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.gda.client.live.stream.controls.camera.state.EpicsCameraState">
         <variable
               name="i09-2.dld.live.stream.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i09-2.dld.live.stream.view.LiveImageXY?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Star camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i09-2.dld.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.start.PVname"
                  value="BL09K-EA-D-01:cam1:Acquire">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i09-2.dld.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.stop.PVname"
                  value="BL09K-EA-D-01:cam1:Acquire">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.gda.beamline.i09-2.dld.live.stream.view.LiveImageXY">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/crosshairs.png"
               id="uk.ac.gda.beamline.i09-2.dld.liveimagexy.stream.view.crosshair.toolbar.command"
               label="Crosshair"
               style="pulldown"
               tooltip="Crosshair operations">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i09-2.dld.live.stream.view.AccumImageXY?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Star camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i09-2.dld.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.start.PVname"
                  value="BL09K-EA-D-01:cam1:Acquire">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i09-2.dld.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.stop.PVname"
                  value="BL09K-EA-D-01:cam1:Acquire">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.gda.beamline.i09-2.dld.live.stream.view.AccumImageXY">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/crosshairs.png"
               id="uk.ac.gda.beamline.i09-2.dld.accumimagexy.stream.view.crosshair.toolbar.command"
               label="Crosshair"
               style="pulldown"
               tooltip="Crosshair operations">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.gda.beamline.i09-2.dld.liveimagexy.stream.view.crosshair.toolbar.command">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/add.png"
               label="Add"
               style="push"
               tooltip="Add crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Add">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/cross.png"
               label="Remove"
               style="push"
               tooltip="Remove crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Remove">
            </parameter>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/save.png"
               label="Save"
               style="push"
               tooltip="Save crosshair position">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Save">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Visible"
               style="toggle"
               tooltip="Make crosshair visible">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Visible">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Moveable"
               style="toggle"
               tooltip="Make crosshair movable">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Moveable">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.gda.beamline.i09-2.dld.accumimagexy.stream.view.crosshair.toolbar.command">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/add.png"
               label="Add"
               style="push"
               tooltip="Add crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Add">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/cross.png"
               label="Remove"
               style="push"
               tooltip="Remove crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Remove">
            </parameter>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/save.png"
               label="Save"
               style="push"
               tooltip="Save crosshair position">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Save">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Visible"
               style="toggle"
               tooltip="Make crosshair visible">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Visible">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Moveable"
               style="toggle"
               tooltip="Make crosshair movable">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Moveable">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i09_2.perspectives.DLDPerspective"
            icon="icons/delaylinedetector.png"
            id="uk.ac.gda.beamline.i09-2.perspectives.DLD"
            name="DLD">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i09_2.startup.EarlyStartup">
      </startup>
   </extension>

<!--   
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="uk.ac.gda.beamline.i09.splashHandlers.BrowserSplashHandler"
            id="uk.ac.gda.beamline.i09.splashHandlers.browser">
      </splashHandler>
      <splashHandlerProductBinding
            productId="uk.ac.gda.beamline.i09.product"
            splashId="uk.ac.gda.beamline.i09.splashHandlers.browser">
      </splashHandlerProductBinding>
   </extension>
-->
</plugin>
