<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gda.rcp.views.JythonTerminalView"
            id="uk.ac.gda.beamline.i11.terminalView"
            name="Terminal"
            restorable="true">
      </view>
   </extension>

</plugin>
