<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.diamond.ac.uk/schema/gda/corba
           http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">

	<import resource="file:${gda.config}/xml/server-simulated.xml" />
<!-- 	<import resource="file:${gda.config}/xml/server-epics.xml" /> -->

	<import resource="file:${gda.config}/xml/detectors-dummy.xml" />
<!-- 	<import resource="file:${gda.config}/xml/detectors-live.xml" /> -->
	<import resource="file:${gda.config}/xml/detectors-common.xml" />

	<import resource="file:${gda.config}/xml/server-scannables.xml" />
	<import resource="file:${gda.config}/xml/server-sampleenvironments.xml" />
	<import resource="file:${gda.config}/xml/server-datawriterconfig.xml" />
	<import resource="file:${gda.config}/xml/server-core.xml" />

	<bean class="uk.ac.gda.remoting.server.GdaRmiServiceExporter">
		<property name="serviceName" value="gda/qexafs_energy" />
		<property name="service" ref="qexafs_energy" />
		<property name="serviceInterface"
			value="uk.ac.gda.exafs.ui.views.scalersmonitor.IQexafsScannableState" />
	</bean>

	<corba:export namespace="b18" />
</beans>