<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />

	<bean id="visitPathConstructor" class="gda.data.ObservablePathConstructor">
		<property name="template" value="${gda.data.scan.datawriter.datadir}" />
		<property name="gdaMetadata" ref="GDAMetadata" />
	</bean>
	
	<bean id="dataPointCache" class="gda.scan.SortedScanDataPointCache"/>

	<!--enable types supported by the PropertyEditors listed in the GdaPropertyEditorRegistrar class -->
	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

	<beans profile="eh2" >
		<import resource="eh2/*.xml" />
	</beans>
</beans>
