<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="Diamond Light Source Beamline I15">
         <property
               name="appName"
               value="Diamond Light Source Beamline I15">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i15.I15ScanPerspective"
            id="uk.ac.gda.beamline.I15ScanPerspective"
            name="I15 Scan Perspective">
      </perspective>
      <perspective
            class="gda.rcp.EmptyPerspective"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.gda.beamline.I15ScanningPerspective"
            name="I15 Scanning Perspective">
      </perspective>
      <perspective
            class="uk.ac.diamond.daq.mapping.ui.experiment.MappingPerspective"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.gda.beamline.I15MappingPerspective"
            name="I15 Mapping Perspective">
      </perspective>
      <perspective
            class="gda.rcp.EmptyPerspective"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.gda.beamline.I15LaserHeatingPerspective"
            name="I15 Laser Heating Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.gda.beamline.I15LaserHeatingPerspective">
         <view
               id="gda.rcp.jythonterminalview"
               ratio="0.5f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="gda.rcp.views.scriptchooserview"
               visible="true"
               closeable="true"
               minimized="false"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"/>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               ratio="0.12f"
               relationship="left"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_downstream_cam#MJPEG"
               ratio="0.24f"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_upstream_cam#MJPEG"
               ratio="0.5f"
               relationship="right"
               relative="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_downstream_cam#MJPEG"/>
         <view
               id="uk.ac.gda.client.liveplotview"
               ratio="0.33f"
               relationship="right"
               relative="gda.rcp.jythonterminalview"/>
         <view
               id="org.dawb.workbench.views.dataSetView"
               relationship="right"
               ratio="0.5f"
               relative="uk.ac.gda.client.liveplotview"/>
         <view
               id="uk.ac.gda.epics.adviewer.twodArrayView:pv//pil3//BL15I-EA-PILAT-03@"
               relationship="stack"
               relative="org.dawb.workbench.views.dataSetView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.ac.gda.beamline.i15.category"
            name="Data Acquisition - I15">
      </category>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:mar"
            name="Mar Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//mpx//BL15I-EA-DET-18@"
            name="MPX Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pe"
            name="PE Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.MJPegView"
            id="uk.ac.gda.epics.adviewer.mpegview:pe"
            name="PE MJPeg View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//psl//BL15I-EA-PSL-01@"
            name="PSL Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.MJPegView"
            id="uk.ac.gda.epics.adviewer.mpegview:pv//psl//BL15I-EA-PSL-01@"
            name="PSL MJPeg View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//pil3//BL15I-EA-PILAT-03@"
            name="Pilatus Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.MJPegView"
            id="uk.ac.gda.epics.adviewer.mpegview:pv//pil3//BL15I-EA-PILAT-03@"
            name="Pilatus MJPeg View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_upstream_cam#EPICS_ARRAY"
            name="Upstream Cam Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_upstream_cam#MJPEG"
            name="Upstream Cam MJPeg View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_downstream_cam#EPICS_ARRAY"
            name="Downstream Cam Array View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.client.live.stream.view.LiveStreamView:LH_downstream_cam#MJPEG"
            name="Downstream Cam MJPeg View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.epics.adviewer/icons/picture.png"
            restorable="true">
      </view>
      <view
            class="org.eclipse.scanning.event.ui.view.StatusQueueView"
            id="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=org.eclipse.scanning.api.event.scan.ScanBean;queueName=org.eclipse.scanning.status.set;topicName=org.eclipse.scanning.status.topic;submissionQueueName=org.eclipse.scanning.submission.queue;partName=Scan Queue"
            name="Scan Queue View"
            category="uk.ac.gda.beamline.i15.category"
            icon="platform:/plugin/uk.ac.gda.client/icons/plan/system-monitor.png"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detector views (Deprecated/Obsolete, avoid using)">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Mar345 (mar) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:mar">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Merlin (mpx) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//mpx//BL15I-EA-DET-18@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Perkin Elmer (pe) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pe">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Perkin Elmer (pe) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview:pe">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Photonic Science (psl) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//psl//BL15I-EA-PSL-01@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Photonic Science (psl) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview:pv//psl//BL15I-EA-PSL-01@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Pilatus 3 300k (pil3) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//pil3//BL15I-EA-PILAT-03@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Pilatus 3 300k (pil3) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview:pv//pil3//BL15I-EA-PILAT-03@">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Queue Views">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Scan Queue"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.scanning.event.ui.queueView:beanBundleName=org.eclipse.scanning.api;beanClassName=org.eclipse.scanning.api.event.scan.ScanBean;queueName=org.eclipse.scanning.status.set;topicName=org.eclipse.scanning.status.topic;submissionQueueName=org.eclipse.scanning.submission.queue;partName=Scan Queue">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
