<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties</value>
			</list>
		</property>
	</bean>

	<import resource="../_common/server.xml"/>

	<!-- ADSIM detectors need to be configured with a short form hostname, since HOSTNAME is an FQDN we
		 need to strip off the domain, if we haven't been configured with an explicit WORKSTATION variable.
	 -->
	<bean id="ADSIM_HOST" class="java.lang.String">
	    <constructor-arg type="java.lang.String" value="${WORKSTATION:#{'${HOSTNAME}'.split('\.')[0]}}"/>
	</bean>

	<import resource="device/all.xml"/>
<!-- transient devices not needed in dummy
	<import resource="transient/all.xml"/>
 -->
	<import resource="metadata.xml"/>
	<import resource="terminal_logger.xml"/>

	<import resource="../../p45/dummy/server.xml"/>

	<!-- No Dummy FileRegistrar -->

	<corba:export namespace="${gda.factory.factoryName}" />

	<!-- SingletonRegistrationPostProcessor not needed in dummy
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	 -->
</beans>