<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">


	<import resource="file:${gda.config}/devices/live/dac3.xml"/>
	<import resource="file:${gda.config}/devices/live/I0eh1.xml"/>
	<import resource="file:${gda.config}/devices/live/I0eh2.xml"/>
	<import resource="file:${gda.config}/devices/live/I0oh2.xml"/>
	<import resource="file:${gda.config}/devices/live/Ioeh1.xml"/>
	<import resource="file:${gda.config}/devices/live/Ioeh2.xml"/>
	<import resource="file:${gda.config}/devices/live/Iooh2.xml"/>

	<!-- do not remove anything below here -->
	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="${gda.factory.factoryName}" />

</beans>
