<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I08 Beamline">
         <property
               name="appName"
               value="GDA I08 Beamline">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i08.perspectives.ExperimentPerspective"
            id="uk.ac.gda.microscopy.ExperimentPerspective"
            name="Microscopy Experiment">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.gda.microscopy.ExperimentPerspective">

         <view
               closeable="false"
               id="gda.rcp.jythonterminalview"
               minimized="false"
               moveable="true"
               ratio="0.95"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
<!--         
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.TestView"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.nano.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
-->         
         <view
               closeable="false"
               id="gda.rcp.jythoneditorview"
               moveable="true"
               ratio="0.4"
               relationship="right"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.client.liveplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="gda.rcp.jythoneditorview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.exafs.ui.dashboardView"
               moveable="true"
               ratio="0.60"
               relationship="bottom"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="gda.rcp.views.baton.BatonView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.qos.logback.beagle.view.BeagleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               visible="true">
         </view>
            
      </perspectiveExtension>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="energy"
            tooltip="Scannable for monitoring the monochromator energy setting">
      </Scannable>
      <Scannable
            name="sc_MicroFocusSampleX"
            tooltip="Sample Stage X Axis">
      </Scannable>
      <Scannable
            name="sc_MicroFocusSampleY"
            tooltip="Sample Stage Y axis">
      </Scannable>
      <Scannable
            name="sc_sample_z"
            tooltip="MicroFocus sample Stage z axis">
      </Scannable>
      <Scannable
            name="sc_sample_thetacoarse"
            tooltip="MicroFocus sample stage theta coarse">
      </Scannable>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
  
   <extension
         point="org.eclipse.ui.views">
      <!--stickyView
            closeable="true"
            id="uk.ac.gda.beamline.i08.cameraView"
            moveable="true">
      </stickyView>
      <stickyView
            closeable="true"
            id="uk.ac.gda.client.microfocus.views.SamplePositionView"
            moveable="true">
      </stickyView>
      <stickyView
            closeable="true"
            id="uk.ac.gda.exafs.ui.views.scalersmonitor"
            moveable="true">
      </stickyView-->
   </extension>
  
  
</plugin>
