<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

	<bean id="unpausableDetectorsList" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="java.lang.String">
				<value>BL18I-ML-SCAN-02</value>
				<value>BL18I-ML-SCAN-03</value>
			</list>
		</constructor-arg>
	</bean>
	
<!-- 	Xspress3MCAMappingMonitor will stop MCA plugin on Xspress3 for any scans that use these detectors/malcolm blocks -->
	<bean id="xspress3DetectorNames" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="java.lang.String">
				<value>BL18I-ML-SCAN-01</value>
				<value>BL18I-ML-SCAN-03</value>
				<value>BL18I-ML-SCAN-06</value>
				<value>Xspress3Acquire</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="snapshotDetectors" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="BL18I-ML-SCAN-01" value-ref="VM"/>
				<entry key="BL18I-ML-SCAN-02" value-ref="VM"/>
				<entry key="BL18I-ML-SCAN-03" value-ref="VM"/>
				<entry key="BL18I-ML-SCAN-06" value-ref="VM"/>
			</map>
		</constructor-arg>
	</bean>
</beans>