<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA K11 Beamline">
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="Diamond Beamline K11&#x0A;&#x0A;Based on GDA See &lt;http://www.opengda.org/&gt;">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="appName"
               value="GDA K11 Beamline">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.daq.beamline.k11.perspective.PointAndShoot"
            icon="icons/target.png"
            id="uk.ac.diamond.daq.beamline.k11.perspective.PointAndShootPerspective"
            name="Point and Shoot">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.ac.diamond.daq.beamline.k11.view.ExperimentSetup"
            icon="icons/flask--pencil.png"
            id="uk.ac.diamond.daq.beamline.k11.experiment"
            name="Experiment"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.daq.beamline.k11.view.DiffractionScanSelection"
            icon="icons/scanner--pencil.png"
            id="uk.ac.diamond.daq.beamline.k11.scanSetup"
            name="Scan Selection"
            restorable="true">
      </view>
      <view
      		allowMultiple="false"
      		class="uk.ac.diamond.daq.experiment.ui.plan.PlanProgressPlotView"
      		icon="icons/system-monitor.png"
      		id="uk.ac.diamond.daq.experiment.ui.plan.progressPlotView"
      		name="Plan Progress Plot View"
      		restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.daq.beamline.k11.perspective.PointAndShootPerspective">
            <hiddenMenuItem
            id="org.eclipse.ui.run">
      </hiddenMenuItem>
      <hiddenMenuItem
            id="navigate">
      </hiddenMenuItem>
      <hiddenMenuItem
            id="project">
      </hiddenMenuItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.workbench.navigate">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.debug.ui.launchActionSet">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.dawb.tango.extensions.shared.memory">
      </hiddenToolBarItem>
      <hiddenMenuItem
            id="org.eclipse.search.menu">
      </hiddenMenuItem>
      <hiddenMenuItem
            id="file">
      </hiddenMenuItem>
      <hiddenMenuItem
            id="edit">
      </hiddenMenuItem>
      <hiddenToolBarItem
            id="newWizardDropDown">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.edit.text.gotoLastEditPosition">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.navigate.backwardHistory">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.file.save">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.file.saveAll">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.search.OpenSearchDialogPage">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.navigate.next">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.navigate.previous">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="uk.ac.diamond.scisoft.analysis.rcp.plotting.actions.showPlotViewToolbarCommand">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.navigate.forwardHistory">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.userstorage.accounts">
      </hiddenToolBarItem>
      <hiddenToolBarItem
            id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
      </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
</plugin>
