<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
				<value>file:${gda.facility.dir}/properties/${gda.mode}/${gda.mode}_facility_java.properties</value>
				<value>file:${gda.facility.dir}/properties/_common/common_facility_java.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath:gda/spring/propertyeditors/registration.xml" />

    <bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata"/>
	
	<bean id="Ring" class="gda.spring.FindableEpicsDeviceFactoryBean">
		<property name="recordPvs">
			<map>
				<entry key="Current" value="SR-DI-DCCT-01:SIGNAL" />
				<entry key="FastCurrent" value="SR21C-DI-DCCT-01:SIGNAL" />
				<entry key="TimeUntilRefill" value="SR-CS-FILL-01:COUNTDOWN" />
				<entry key="BeamMode" value="CS-CS-MSTAT-01:MODE" />
			</map>
		</property>
		<property name="dummyMode" value="true"></property>
	</bean>
	
<!--MLL IS NOT CONNECTED 	<import resource="../../../devices/mll.xml"/>	
 -->	
 	<bean id="Beamline" class="gda.spring.FindableEpicsDeviceFactoryBean">
		<property name="recordPvs">
			<map>
				<entry key="Top" value="BL13J" />
			</map>
		</property>
		<property name="dummyMode" value="true"></property>
	</bean>	

	<import resource="../../../devices/dummy/maxipix_tango.xml"/>
	<import resource="../../../devices/dummy/tfg2.xml"/>
	
	<import resource="../../../devices/dummy/undulator.xml"/>
	<import resource="../../../devices/dummy/front_end.xml"/>

<!-- start of internal building -->

	<import resource="../../../devices/dummy/s1_motors.xml"/>
	<import resource="../../../devices/dummy/filter_motors.xml"/>
	
	<import resource="../../../devices/dummy/gas_bremsstrahlung1.xml"/>
	
	<import resource="../../../devices/dummy/m1.xml"/>

	<import resource="../../../devices/dummy/d1.xml"/>

	<import resource="../../../devices/dummy/absorbers1.xml"/>

	<import resource="../../../devices/dummy/d2.xml"/>

	<import resource="../../../devices/dummy/absorbers2.xml"/>

	<import resource="../../../devices/dummy/s2_motors.xml"/>

	<import resource="../../../devices/dummy/d3.xml"/>

	<import resource="../../../devices/dummy/absorbers3.xml"/>	

<!-- End of internal Building/ Start of external Building -->

	<import resource="../../../devices/dummy/optics_hutch4_shutter.xml"/>
	
	<import resource="../../../devices/dummy/absorbers4.xml"/>	

	<import resource="../../../devices/dummy/qcm_motors.xml"/>

	<import resource="../../../devices/dummy/experiment_hutch_shutter.xml"/>

	<import resource="../../../devices/dummy/d4.xml"/>

	<import resource="../../../devices/dummy/s4_motors.xml"/>
	
	<import resource="../../../devices/dummy/s5_motors.xml"/>
	<import resource="../../../devices/dummy/m2_motors.xml"/>
	<import resource="../../../devices/dummy/pin_motors.xml"/>
	<import resource="../../../devices/dummy/diff_motors.xml"/>

	<import resource="../../../devices/dummy/diffractometer_motors.xml"/>

	<import resource="../../../devices/dummy/s6_motors.xml"/>	

	<import resource="../../../devices/dummy/sample_stage_t1_motors.xml"/>
	<!-- <import resource="../../../devices/dummy/g1_motors.xml"/> -->
	<import resource="../../../devices/dummy/ion_chamber.xml" />	
	<import resource="../../../devices/dummy/sample_stage_camera.xml"/>
	<import resource="../../../devices/dummy/float1.xml"/>
	<import resource="../../../devices/dummy/float2.xml"/>
	<import resource="../../../devices/dummy/float3.xml"/>
	
	<import resource="../../../devices/dummy/s7_motors.xml"/>

	<bean id="fs" class="gda.device.enumpositioner.DummyEnumPositioner">
		<property name="positions" value="Open, Closed"/>
	</bean>

	<import resource="../../../devices/dummy/pco1_ndplugins.xml"/>
	<import resource="../../../devices/dummy/pco1.xml"/>
	<import resource="../../../devices/dummy/merlin.xml"/>
	
	<import resource="../../../devices/dummy/pie725_raster.xml"/>

	<import resource="../_common/server.xml"/>	
	
</beans>
