<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder/>

	<!-- Include the following lines to run with simulated area detector -->
	<import resource="file:${gda.config}/devices/dummy/adSimulator.xml"/>
    <!-- <import resource="file:${gda.config}/devices/dummy/pco1_ndplugins_sim.xml"/> -->

	<!-- Include the following line to run with dummy area detector -->
    <import resource="file:${gda.config}/devices/dummy/pco1_ndplugins.xml"/>
	
	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="${gda.factory.factoryName}" />
	
</beans>
