<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder />

	<import resource="file://${gda.facility.dir}/servers/dummy/sim_area_detector.xml" />
	<import resource="file:${gda.config}/devices/dummy/pco1_ndplugins_sim.xml" />
	<import resource="file://${gda.facility.dir}/servers/dummy/malcolmsims.xml" />

	<!-- Include the following line to run with dummy area detector -->
	<!-- <import resource="file:${gda.config}/devices/dummy/pco1_ndplugins.xml"/> -->

	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

</beans>