<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/gda http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd
		http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd">

	<import resource="b21_server_beans.xml" />
	<import resource="devices/devices.xml" />
	<import resource="../_common/*.xml" />
</beans>

