<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="bssc.xml" />
	<import resource="datawriter.xml" />
	<import resource="metadata.xml" />
	<import resource="ncddetectors.xml" />
	<import resource="devices/devices.xml" />
	<import resource="../_common/*.xml" />
	<import resource="devices/simulated_detector/*.xml"/>
	<beans profile="pilatus" >
		<import resource="pilatus2m_saxs.xml" />
	</beans>
</beans>

