[Desktop Entry]
Encoding=UTF-8
Name=gda-client
Type=Application
Exec=GDA_StartClient
Icon=/dls/i07/software/gda/config/Desktop/icons/cgda.png
Icon[en_GB]=/dls/i06/software/gda/config/Desktop/icons/cgda.png
Terminal=false
Name[en_GB]=Start GDA Client
GenericName[en_GB]=Start GDA Client
Comment[en_GB]=Start GDA Client
Categories=X-ogda;
