<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
                      http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices.xml" />
    <import resource="file:${gda.config}/servers/main/${gda.mode}/detectors.xml" />

<!--  xspress2.xml is a copy of either xspress2_9element.xml or xspress2_36element.xml as done by B18_9elements_gda852 script. imh 25/7/2017-->
    <import resource="file:${gda.config}/servers/main/${gda.mode}/xspress2.xml" />
<!--    <import resource="file:${gda.config}/servers/main/${gda.mode}/xspress4daserver.xml" /> -->

	<import resource="file:${gda.config}/servers/main/detectors.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/xmap.xml" />

    <import resource="file:${gda.config}/servers/main/${gda.mode}/xspress3.xml" />
    <import resource="file:${gda.config}/servers/main/${gda.mode}/mythen.xml" />
    <import resource="file:${gda.config}/servers/main/${gda.mode}/medipix.xml" />
    <import resource="file:${gda.config}/servers/main/medipix.xml" />

<!--     <import resource="file:${gda.config}/servers/main/${gda.mode}/xspress4.xml" /> -->
<!--     <import resource="file:${gda.config}/servers/main/xspress4.xml" /> -->

	<import resource="file:${gda.config}/servers/main/${gda.mode}/epics-cameras.xml" />
	<import resource="file:${gda.config}/servers/main/epics-cameras.xml" />

	<import resource="file:${gda.config}/servers/main/${gda.mode}/stanfords.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/ion-chambers.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/scannables.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/qexafs.xml" />
	<import resource="file:${gda.config}/servers/main/scannables.xml" />
	<import resource="file:${gda.config}/servers/main/continuous_scannables.xml" />
	<import resource="file:${gda.config}/servers/main/datawriter.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/metadata.xml" />
	<import resource="file:${gda.config}/servers/main/${gda.mode}/core.xml" />
	<import resource="file:${gda.config}/servers/main/core.xml" />

<!-- 	<import resource="file:${gda.config}/servers/main/${gda.mode}/hiden.xml" /> -->

	<import resource="file:${gda.config}/servers/main/${gda.mode}/robot.xml" />
	<import resource="file:${gda.config}/servers/main/robot.xml" />

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />
</beans>

