<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="GDAMetadata.xml"/>
	<import resource="commandServer.xml"/>
	<import resource="dataWriter.xml" />
	<import resource="ldeDataCollection.xml" />
	<import resource="datareductionscannable.xml" />
	<import resource="MachineStatus.xml" />
	<import resource="wavelength.xml" />
	<import resource="BeamInfo.xml" />
	<import resource="BeamlineInfo.xml" />
	<import resource="devices/devices.xml"/>
	<import resource="commandQueueProcessor.xml" />
	<import resource="EnergyLUT.xml" />
	<import resource="processing.xml" />

	<bean id="RCPController" class="uk.ac.diamond.daq.server.rcpcontroller.RCPControllerImpl"/>
	<bean id="highestExistingFileMonitor" class="gda.device.detectorfilemonitor.impl.SimpleHighestExistingFileMonitor" />
	<bean id="dataPointCache" class="gda.scan.SortedScanDataPointCache"/>
</beans>

