<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder />
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="GDAMetadata.xml"/>
	<import resource="commandServer.xml"/>
	<import resource="wavelength.xml" />
	<import resource="RCPController.xml" />
	<import resource="dataFileMonitor.xml" />
	<import resource="scanDataPointServer.xml" />
	<import resource="BeamInfo.xml" />
	<import resource="BeamlineInfo.xml" />
	<import resource="devices/devices.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />
	<import resource="commandQueueProcessor.xml" />
</beans>

