<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder />
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<import resource="GDAMetadata.xml"/>
	<import resource="commandServer.xml"/>
	<import resource="dataWriter.xml" />
	<import resource="MachineStatus.xml" />
	<import resource="wavelength.xml" />
	<import resource="RCPController.xml" />
	<import resource="dataFileMonitor.xml" />
	<import resource="scanDataPointServer.xml" />
	<import resource="BeamInfo.xml" />
	<import resource="BeamlineInfo.xml" />
	<import resource="devices/devices.xml"/>
	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />
	<import resource="commandQueueProcessor.xml" />
	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="i11-1" />
	<import resource="EnergyLUT.xml" />
</beans>

