<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I18 Beamline">
         <property
               name="appName"
               value="GDA I18 Beamline">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i18.StartupService">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.exafs.ui.XasScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/XasParametersIcon.png"
            id="uk.ac.gda.exafs.ui.XasScanParametersEditor"
            name="XAS Scan Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXasContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.XanesScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/XanesParametersIcon.png"
            id="uk.ac.gda.exafs.ui.XanesScanParametersEditor"
            name="ANGLE Scan Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXanesContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.client.microfocus.ui.editors.MicroFocusScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            id="uk.ac.gda.client.microfocus.ui.editors.MicroFocusScanParametersEditor"
            name="MicroFocus Scan">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.I18SampleParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/SampleParametersIcon.png"
            id="uk.ac.gda.exafs.ui.I18SampleParametersEditor"
            name="Sample Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getI18SampleContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.DetectorParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/DetectorParametersIcon.png"
            id="uk.ac.gda.exafs.ui.DetectorParametersEditor"
            name="DetectorParameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getDetectorContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.OutputParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/OutputParametersIcon.png"
            id="uk.ac.gda.exafs.ui.OutputParametersEditor"
            name="Output Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getOutputContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.detector.vortex.VortexParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/ParametersEditorIcon.png"
            id="uk.ac.gda.exafs.ui.VortexParametersEditor"
            name="Vortex Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getVortexContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.detector.xspress.XspressParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/ParametersEditorIcon.png"
            id="uk.ac.gda.exafs.ui.XspressParametersEditor"
            name="Xspress Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXspressContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.QEXAFSParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            id="uk.ac.gda.exafs.ui.QEXAFSParametersEditor"
            name="QEXAFS Parameters">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.I18SampleParametersDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getI18SampleContent"
            name="Sample Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.DetectorDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getDetectorContent"
            name="Detector Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.OutputDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getOutputContent"
            name="Output Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XasDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXasContent"
            name="XAS Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XanesDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXanesContent"
            name="XANES Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.microfocus.ui.describers.MicroFocusScanParametersDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent"
            name="MicroFocus Scan Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.QEXAFSParametersDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getQexafsContent"
            name="QEXAFS Bean File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.exafs.XasScanParameters"
            describer="uk.ac.gda.exafs.ui.describers.XasDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.XanesScanParameters"
            describer="uk.ac.gda.exafs.ui.describers.XanesDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.microfocus.MicroFocusScanParameters"
            describer="uk.ac.gda.microfocus.ui.describers.MicroFocusScanParametersDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.i18.I18SampleParameters"
            describer="uk.ac.gda.exafs.ui.describers.I18SampleParametersDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.DetectorParameters"
            describer="uk.ac.gda.exafs.ui.describers.DetectorDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.OutputParameters"
            describer="uk.ac.gda.exafs.ui.describers.OutputDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.QEXAFSParameters"
            describer="uk.ac.gda.exafs.ui.describers.QEXAFSParametersDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.vortex.VortexParameters"
            describer="uk.ac.gda.exafs.ui.describers.VortexDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.xspress.XspressParameters"
            describer="uk.ac.gda.exafs.ui.describers.XspressDescriber">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="energy"
            tooltip="Scannable for monitoring the monochromator energy setting">
      </Scannable>
      <Scannable
            name="sc_MicroFocusSampleX"
            tooltip="Sample Stage X Axis">
      </Scannable>
      <Scannable
            name="sc_MicroFocusSampleY"
            tooltip="Sample Stage Y axis">
      </Scannable>
      <Scannable
            name="sc_sample_z"
            tooltip="MicroFocus sample Stage z axis">
      </Scannable>
      <Scannable
            name="sc_sample_thetacoarse"
            tooltip="MicroFocus sample stage theta coarse">
      </Scannable>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
  
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            id="uk.ac.gda.beamline.i18.MapView"
            name="MapPlot"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            id="uk.ac.gda.beamline.i18.McaView"
            name="MCA Plot"
            restorable="true">
      </view>
      <category
            id="uk.ac.gda.beamline.i18.microfocus"
            name="microfocus">
      </category>
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.gda.beamline.i18.views.CameraView"
            id="uk.ac.gda.beamline.i18.cameraView"
            name="Camera View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.gda.microfocus.display.detectorfile">
      <detectorfile
            path="$gda.config/templates/Xspress_Parameters.xml"></detectorfile>
      <detectorfile
            path="$gda.config/templates/Vortex_Parameters.xml">
      </detectorfile>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.exafs.ExafsFolderEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
             <command
                  commandId="uk.ac.gda.client.exafs.CopyMICROFOCUSCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="MICROFOCUS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.experimentdefinition.ExperimentRunEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyMICROFOCUSCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="Microfocus File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.gda.microfocus.display.default.detectorfile">
      <defaultDetectorFile
            path="$gda.config/templates/Detector_Parameters.xml">
      </defaultDetectorFile>
   </extension>
   <extension
         point="uk.ac.gda.microfocus.xScannableName">
      <xscannable
            name="sc_MicroFocusSampleX">
      </xscannable>
   </extension>
   <extension
         point="uk.ac.gda.microfocus.yScannableName">
      <yscannable
            name="sc_MicroFocusSampleY">
      </yscannable>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i18.startup.EarlyStartup">
      </startup>
   </extension>
   <extension
         point="uk.ac.gda.client.experimentdefinition">
      <experimentobjectmanager
            class="uk.ac.gda.exafs.ui.data.ScanObjectManager">
      </experimentobjectmanager>
      <validator
            class="gda.exfas.ui.validation.I18Validator">
      </validator>
      <editormanager
            class="gda.exfas.ui.I18ExperimentEditorManager">
      </editormanager>
      <templatesLocation
            folderName="${gda.config}/templates">
      </templatesLocation>
     <!-- <editormanager
            class="gda.exfas.ui.I18ExperimentEditorManager">
      </editormanager>-->
   </extension>
   <extension
         point="uk.ac.gda.microfocus.trajectory.counterTimerName">
      <TrajectoryCounterTimerName
            name="raster_counterTimer01">
      </TrajectoryCounterTimerName>
   </extension>
   <extension
         point="uk.ac.gda.microfocus.trajectory.xScannableName">
      <TrajectoryXscannableName
            name="continuousSampleX">
      </TrajectoryXscannableName>
   </extension>
   <extension
         point="uk.ac.microfocus.elementlist.refresh">
      <ElementListViewIDList
            viewId="uk.ac.gda.client.microfocus.XspressElementListView">
      </ElementListViewIDList>
      <ElementListViewIDList
            viewId="uk.ac.gda.client.microfocus.VortexElementListView">
      </ElementListViewIDList>
   </extension>
  <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.exafs.XasScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyXASCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getXasContent"
            includeInNew="true"
            name="XAS Scan"
            template="XAS_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.XanesScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getXanesContent"
            includeInNew="true"
            name="XANES Scan"
            template="ANGLE_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.microfocus.MicroFocusScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyMICROFOCUSCommand"
            contentType="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent"
            includeInNew="true"
            name="Micro Focus"
            template="MicroFocus_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.QEXAFSParameters"
            commandId="uk.ac.gda.client.exafs.CopyQEXAFSCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getQexafsContent"
            includeInNew="true"
            name="QEXAFS Scan"
            template="QEXAFS_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.i18.I18SampleParameters"
            commandId="uk.ac.gda.client.exafs.CopySampleCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getI18SampleContent"
            includeInNew="true"
            name="I18 Sample"
            template="Sample_Parameters"
            type="Sample">
      </describer> 
      <describer
            bean="uk.ac.gda.beans.exafs.SampleElements"
            includeInNew="false"
            name="Sample Elements"
            template="Sample_Elements"
            type="UNREGISTERED">
      </describer>    
      <describer
            bean="uk.ac.gda.beans.exafs.DetectorParameters"
            commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getDetectorContent"
            includeInNew="true"
            name="Detector"
            template="Detector_Parameters"
            type="Detector">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.OutputParameters"
            commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getOutputContent"
            includeInNew="true"
            name="Output"
            template="Output_Parameters"
            type="Output">
      </describer>
   </extension>
  <extension
        point="uk.ac.gda.microfocus.zScannableName">
     <zscannable
           name="sc_sample_z">
     </zscannable>
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="uk.ac.gda.exafs.ui.actions.I18DataCollectionModeHandler"
           commandId="uk.ac.gda.client.exafs.dataCollectionCommand">

		<activeWhen>
			<with variable="activeContexts">
				<iterate
					ifEmpty="false"
					operator="or">
					<equals value="I18 product"/>
				</iterate>
			</with>
		</activeWhen>
		
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           id="I18 product"
           name="The I18 product context"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
  <extension
        id="offline_product"
        point="org.eclipse.core.runtime.products">
     <product
           application="uk.ac.gda.client.application"
           name="GDA I18 Beamline Dummy Client">
        <property
              name="appName"
              value="GDA I18 Beamline Dummy Client">
        </property>
     </product>
  </extension>
  
</plugin>
