<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension 
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.exafs.ui.B18SampleParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/SampleParametersIcon.png"
            id="uk.ac.gda.exafs.ui.B18SampleParametersEditor"
            name="Sample Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getB18SampleContent">
         </contentTypeBinding>
      </editor>
    </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.B18SampleParametersDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getB18SampleContent"
            name="Sample Bean File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.beamline.b18.MythenControlView"
            id="uk.ac.gda.beamline.b18.mythencontrol"
            name="Mythen Controller"
            restorable="true">
      </view>      
      <view
            class="uk.ac.gda.exafs.ui.dialogs.SpreadsheetView"
            id="uk.ac.gda.exafs.ui.spreadsheetview"
            name="&apos;Spreadsheet view&apos; scan generator"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:xspress2ViewFactory"
			id="uk.ac.gda.exafs.ui.views.xspress2View"
            name="Xspress2 view"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:xspress3ViewFactory"
			id="uk.ac.gda.exafs.ui.views.xspress3View"
            name="Xspress3 view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:medipix"
            name="Medipix view"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.detectors.DetectorRateViewFactory:ionchamberRates"
	        icon="platform:/plugin/uk.ac.gda.client.exafs/icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.detectors.ionchamberRates"
            name="Ion chamber rates"
	        restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.detectors.DetectorRateViewFactory:xspress2Rates"
	        icon="platform:/plugin/uk.ac.gda.client.exafs/icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.detectors.xspress2Rates"
            name="Xspress2 detector rates"
	        restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.dialogs.SpreadsheetView"
            id="uk.ac.gda.exafs.ui.dialogs.SpreadsheetView"
            name="Spreadsheet view"
            restorable="true">
      </view>   
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA B18 Beamline">
         <property
               name="appName"
               value="GDA B18 Beamline">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>    
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.b18.StartupService">
      </startup>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="energy"
            tooltip="Scannable for monitoring the monochromator energy setting">
      </Scannable>
      <Scannable
            name="topup"
            tooltip="The time before the next topup">
      </Scannable>
      <Scannable
            name="ringCurrent">
      </Scannable>
      <Scannable
            name="ringEnergy">
      </Scannable>
      <Scannable
            name="oh_shutter"
            tooltip="The shutter to the optics hutch hutch">
      </Scannable>
      <Scannable
            name="expt_shutter"
            tooltip="The shutter to the experimental hutch hutch">
      </Scannable>
   </extension>
   <extension
         point="uk.ac.diamond.scisoft.analysis.data.set.filter">
      <pattern
            regularExpression="xspress2system_element_\d+">
      </pattern>
      <pattern
            regularExpression="Element \d+">
      </pattern>
      <pattern
            regularExpression="xmapMca_.*">
      </pattern>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.exafs.ExafsFolderEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyQEXAFSCommand"
                  icon="icons/QexafsParametersIcon.png"
                  label="QEXAFS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.exafs.ExafsRunEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyQEXAFSCommand"
                  icon="icons/QexafsParametersIcon.png"
                  label="QEXAFS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:uk.ac.gda.beamline.b18.softxray">
         <command
               commandId="uk.ac.gda.beamline.b18.softxray.startcommand"
               label="start"
               style="push"
               tooltip="start monitoring">
         </command>
         <command
               commandId="uk.ac.gda.beamline.b18.softxray.stopcommand"
               label="stop"
               style="push"
               tooltip="stop monitoring">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Detector views">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="XSpress2"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.exafs.ui.views.xspress2View">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="XSpress3"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.exafs.ui.views.xspress3View">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Medipix"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:medipix">
               </parameter>
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Show spreadsheet view"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="uk.ac.gda.exafs.ui.dialogs.SpreadsheetView">
            </parameter>
         </command>
      </menuContribution>      
   </extension>
    <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.exafs.b18.B18SampleParameters"
            describer="uk.ac.gda.exafs.ui.describers.B18SampleParametersDescriber">
      </bean>
   </extension>

   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.exafs.b18.B18SampleParameters"
            commandId="uk.ac.gda.client.exafs.CopySampleCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getB18SampleContent"
            includeInNew="true"
            name="B18 Sample"
            template="B18Sample_Parameters"
            type="Sample">
      </describer>
   </extension>
      <extension
         point="uk.ac.gda.client.experimentdefinition">
      <experimentobjectmanager
            class="uk.ac.gda.exafs.ui.data.ScanObjectManager">
      </experimentobjectmanager>
      <validator 
      		class="gda.exafs.validation.B18Validator">
      </validator>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
            	id="uk.ac.gda.beamline.b18.softxray"
            	name="SoftXRayViewCommands">
   		 </category>
         <command
               categoryId="uk.ac.gda.beamline.b18.softxray"
               defaultHandler="uk.ac.gda.beamline.b18.StartHandler"
               id="uk.ac.gda.beamline.b18.softxray.startcommand"
               name="Start Monitoring">
         </command>
         <command
               categoryId="uk.ac.gda.beamline.b18.softxray"
               defaultHandler="uk.ac.gda.beamline.b18.StopHandler"
               id="uk.ac.gda.beamline.b18.softxray.stopcommand"
               name="Stop Monitoring">
         </command>      
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="uk.ac.gda.client.experimentdefinition.experimentperspective">
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.switchScanType">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.OpenFolderCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.text.gotoLastEditPosition">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.undo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.redo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.newWizard">
            </hiddenToolBarItem>
            <hiddenMenuItem
                  id="uk.ac.gda.beamline.b18.hiddenMenuItem1">
            </hiddenMenuItem>
            <hiddenToolBarItem
                  id="gda.rcp.views.baton.SwitchUser">
            </hiddenToolBarItem>
         </perspectiveExtension>
         <perspectiveExtension
               targetID="org.diamond.exafs.ui.PlottingPerspective">
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.switchScanType">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.OpenFolderCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.text.gotoLastEditPosition">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.undo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.redo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.newWizard">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="gda.rcp.views.baton.SwitchUser">
            </hiddenToolBarItem>
         </perspectiveExtension>
      </extension>
      <extension 
      		point="org.eclipse.ui.perspectives">
        <perspective
            class="uk.ac.gda.beamline.b18.LiveViewPerspective"
            icon="icons/application_form.png"
            id="uk.ac.gda.beamline.b18.LiveViewPerspective"
            name="Live view perspective">
      	</perspective>
      </extension>
</plugin>
