<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    
    <!-- enable this if you want log message appear on local console -->
     
    <appender name="LOGSERVER" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>b16-control.diamond.ac.uk</RemoteHost>
        <Port>6000</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>
    <logger name="gda">
        <level value="INFO"/>
        <!--<appender-ref ref="FILE"/>-->
    </logger>
    <logger name="gda.device.corba.impl">
        <level value="INFO"/>
    </logger>
    <logger name="gda.device.temperature">
        <level value="INFO"/>
    </logger>
    <logger name="gda.jython.corba.impl">
        <level value="INFO"/>
    </logger>    
    <!--logger name="gda.device.detector.IPPserver">
        <level value="DEBUG"/>
    </logger--> 
    
    
    <logger name="gda.analysis.DataSet">
        <level value="ERROR"/>
    </logger>
    <logger name="gda.analysis.ScanFileHolder">
        <level value="ERROR"/>
    </logger>
    
    	<logger name="org.apache.commons.configuration">
		<level value="WARN" />
	</logger>
	
	<logger name="org.castor">
		<level value="WARN" />
	</logger>
	
	<logger name="org.exolab.castor">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
    <root>
        <level value="ALL"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSERVER"/>
    </root>
    <consolePlugin />
</configuration>
