<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata"/>
	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!--  object to provide recording of metadata in Nexus files -->
	<bean id="metashop" class="gda.data.metadata.NXMetaDataProvider">
		<property name="name" value="metashop"/>
	</bean>

	<import resource="file://${gda.facility.dir}/servers/_common/file_registrar.xml" />
	<import resource="file://${gda.facility.dir}/servers/${gda.mode}/icat_xml_creator.xml" />

	<import resource="file://${gda.core.dir}/servers/_common/plot_server.xml" />

	<import resource="devices/common_devices.xml"/>

	<import resource="jython_server_facade.xml" />
	<import resource="common_nxplugins.xml"/>
	<import resource="nexus_datawriter.xml"/>

	<!-- Machine Status Scannables -->
	<import resource="file://${gda.facility.dir}/servers/_common/machine_status.xml" />

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />
</beans>
