<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="file:${gda.config}/servers/main/_common/detectors/example_detectors.xml"/>
	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

	<bean id="unpausableDetectorsList" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="java.lang.String">
				<value>Xspress3Acquire</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="xspress3DetectorNames" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="java.lang.String">
				<value>Xspress3Acquire</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="snapshotDetectors" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="Xspress3Acquire" value-ref="VM"/>
			</map>
		</constructor-arg>
	</bean>
</beans>
