<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.2.xsd">
	<import resource="scannable/all.xml" />
	<import resource="nxmetadata.xml" />
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="commonBeamlineDevicesConfiguration" />
		<property name="targetMethod" value="addAdditionalDeviceNames" />
		<property name="arguments">
			<list>
				<value>s4</value>
				<value>s5</value>
				<value>s6</value>
				<value>m4</value>
				<value>rasor</value>
				<value>lakeshore340</value>
			</list>
		</property>
	</bean>
	<bean id="nexusDataWriterConfiguration" class="gda.data.scan.datawriter.NexusDataWriterConfiguration">
		<property name="nexusTemplateFiles">
			<list>
<!-- 				<value>${gda.config}/nexus/templates/NXxas_template.yaml</value> -->
			</list>
		</property>
	</bean>
</beans>