<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
		
	<import resource="diagnostics/index.xml" />
	<import resource="detectors/index.xml" />
	<import resource="energy/index.xml" />
	<import resource="mirrors/index.xml" />
	<import resource="shutters/index.xml" />
	<import resource="slits/index.xml" />
	<import resource="stages/index.xml" />
	<import resource="spectrometer/index.xml" />
	
	<import resource="datawriter.xml" />
	<import resource="logging_script_controller.xml" />
	<import resource="metadata.xml" />
	<import resource="solstice.xml" />
	<import resource="beam_watchdogs_i18.xml" />
	
	<import resource="file:${gda.config}/servers/main/${gda.mode}/unsorted_devices.xml" />
	<import resource="unsorted_scannables.xml" />
	
	<import resource="beam_readiness.xml" />

	<!-- Need to import core.xml last so all other objects are configured before the Jython server -->
	<import resource="file:${gda.config}/servers/main/${gda.mode}/core.xml" />
	<import resource="core.xml" />

	<!-- ensures topup watchdog is disabled during excalibur scans -->
	<bean id="UnpausableDetectorsWatchdogMonitor" class="uk.ac.diamond.daq.scanning.UnpausableDetectorsWatchdogMonitor" init-method="addScanParticipant" >
		<property name="unpausableDetectors" ref="unpausableDetectorsList">
		</property>
		<property name="watchdogsToDisable">
			<list>
				<value>topup_watchdog</value>
			</list>
		</property>
	</bean>
	
	<bean id="Xspress3MappingMonitor" class="uk.ac.gda.devices.detector.xspress3.fullCalculations.Xspress3MCAMappingMonitor" init-method="addScanParticipant">
		<property name="xspress3Controller" ref="xspress3Controller" />
		<property name="detectorNames" ref="xspress3DetectorNames"/>
	</bean>
	
	<bean id="vmaSnapshotCollector" class="uk.ac.diamond.daq.scanning.DetectorCollectionScannable" init-method="register">
		<property name="name" value="vmaSnapshotCollector" />
		<property name="detector" ref="mjpegVmaDetector"/>
	</bean>
	
	<bean id="mjpegVmaDetector" class="gda.device.detector.MjpegDetector">
		<property name="urlString" value="http://bl18i-di-serv-01.diamond.ac.uk:8081/DCAM.CAM1.mjpg.mjpg"/>
	</bean>

</beans>
