<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gda.exafs.ui.I20SampleParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/SampleParametersIcon.png"
            id="gda.exafs.ui.I20SampleParametersEditor"
            name="Sample Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getSampleContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.I20OutputParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/OutputParametersIcon.png"
            id="uk.ac.gda.exafs.ui.I20OutputParametersEditor"
            name="I20 Output Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getI20OutputContent">
         </contentTypeBinding>
      </editor>
    </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.I20SampleDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getSampleContent"
            name="Sample Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.I20OutputDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getI20OutputContent"
            name="I20 Output Bean File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA I20 Beamline">
         <property
               name="appName"
               value="GDA I20 Beamline">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://uk.ac.gda.beamline.i20/uk.ac.gda.beamline.i20.I20Startup">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="uk.ac.gda.client.experimentdefinition.FolderEditorContribution"
            targetID="uk.ac.gda.client.experimentdefinition.FolderEditor">
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyOutputCommand"
               icon="icons/OutputParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLOutputCommandHandlerEditorAction"
               label="Output File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template output file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyDetectorCommand"
               icon="icons/DetectorParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLDetectorCommandHandlerEditorAction"
               label="Detector File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template detector file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopySampleCommand"
               icon="icons/SampleParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLSampleCommandHandlerEditorAction"
               label="Sample File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template Sample file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXANESCommand"
               icon="icons/XanesParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXANESCommandHandlerEditorAction"
               label="XANES File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XANES file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXASCommand"
               icon="icons/XasParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXASCommandHandlerEditorAction"
               label="XAS File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XAS file">
         </action>
      </editorContribution>
      <editorContribution
            id="uk.ac.gda.client.exafs.ExafsRunEditorContribution"
            targetID="gda.gui.eclipse.editors.scan.experimentdefinition.ExperimentRunEditor">
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyOutputCommand"
               icon="icons/OutputParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLOutputCommandHandlerEditorAction"
               label="Output File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template output file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyDetectorCommand"
               icon="icons/DetectorParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLDetectorCommandHandlerEditorAction"
               label="Detector File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template detector file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopySampleCommand"
               icon="icons/SampleParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLSampleCommandHandlerEditorAction"
               label="Sample File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template Sample file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXANESCommand"
               icon="icons/XanesParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXANESCommandHandlerEditorAction"
               label="XANES File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XANES file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXASCommand"
               icon="icons/XasParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXASCommandHandlerEditorAction"
               label="XAS File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XAS file">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="bragg1"
            tooltip="Beam energy based on angle of 1st mono crystal pair">
      </Scannable>
      <Scannable
            name="shutter1"
            tooltip="The shutter to the experimental hutch">
      </Scannable>
      <Scannable
            name="topup"
            tooltip="The time before the next topup">
      </Scannable>
      <Scannable
            name="wigglerGap"
            tooltip="Current wiggler gap">
      </Scannable>
      <Scannable
            name="ringCurrent">
      </Scannable>
      <Scannable
            name="ringEnergy">
      </Scannable>
   </extension>
   <extension
         point="uk.ac.diamond.scisoft.analysis.data.set.filter">
      <pattern
            regularExpression="xspress2system_element_\d+">
      </pattern>
      <pattern
            regularExpression="Element \d+">
      </pattern>
      <pattern
            regularExpression="xmapMca_.*">
      </pattern>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:uk.ac.gda.client.experimentdefinition.FolderEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXESCommand"
                  icon="icons/XesParametersIcon.png"
                  label="XES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.experimentdefinition.ExperimentRunEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXESCommand"
                  icon="icons/XesParametersIcon.png"
                  label="XES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="uk.ac.gda.beamline.i20.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="uk.ac.gda.beamline.i20.switchExptModeCommand"
               icon="icons/switch_experiment.png"
               label="Switch data collection mode"
               style="push"
               tooltip="Switch from collecting EXAFS/XANES experiments to XES and vica versa">
            <visibleWhen>
                  <test
                        property="gda.authentication.isStaff" value="true">
                  </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.exafs.i20.I20SampleParameters"
            describer="uk.ac.gda.exafs.ui.describers.I20SampleDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.i20.I20OutputParameters"
            describer="uk.ac.gda.exafs.ui.describers.I20OutputDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.i20.MedipixParameters"
            describer="uk.ac.gda.exafs.ui.describers.MedipixDescriber">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.client.experimentdefinition">
      <experimentobjectmanager
            class="uk.ac.gda.exafs.ui.data.ScanObjectManager">
      </experimentobjectmanager>
      <validator
      	class="gda.exafs.validation.I20Validator">
      </validator>
      <editormanager
        class="gda.exafs.ui.I20ExperimentEditorManager">
      </editormanager>
      <templatesLocation
            folderName="${gda.config}/var/templates">
      </templatesLocation>
   </extension>
  <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.exafs.i20.I20SampleParameters"
            commandId="uk.ac.gda.client.exafs.CopySampleCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getSampleContent"
            includeInNew="true"
            name="I20 Sample"
            template="Sample_Parameters"
            type="Sample">
      </describer> 
      <describer
            bean="uk.ac.gda.beans.exafs.i20.I20OutputParameters"
            commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getI20OutputContent"
            includeInNew="true"
            name="Output"
            template="Output_Parameters"
            type="Output">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.i20.MedipixParameters"
            includeInNew="true"
            name="Medipix parameters"
            template="Medipix_Parameters"
            type="MedipixParameters">
      </describer>
   </extension>
   
      <!--
     
     <extension
         point="uk.ac.gda.exafs.xspress.pixel.map">
      <entry pixel="0=43"/>
	  <entry pixel="1=46"/>
	  <entry pixel="2=32"/>
	  <entry pixel="3=37"/>
	  <entry pixel="4=25"/>
	  <entry pixel="5=28"/>
	  <entry pixel="6=16"/>
	  <entry pixel="7=19"/>
		
	  <entry pixel="8= 42"/>
	  <entry pixel="9= 47"/>
	  <entry pixel="10=33"/>
	  <entry pixel="11=38"/>
	  <entry pixel="12=24"/>
	  <entry pixel="13=29"/>
	  <entry pixel="14=17"/>
	  <entry pixel="15=20"/>
		
	  <entry pixel="16=41"/>
	  <entry pixel="17=44"/>
	  <entry pixel="18=34"/>
	  <entry pixel="19=39"/>
	  <entry pixel="20=27"/>
	  <entry pixel="21=31"/>
	  <entry pixel="22=18"/>
	  <entry pixel="23=21"/>
		
	  <entry pixel="24=40"/>
	  <entry pixel="25=45"/>
	  <entry pixel="26=35"/>
	  <entry pixel="27=36"/>
	  <entry pixel="28=26"/>
	  <entry pixel="29=30"/>
	  <entry pixel="30=23"/>
	  <entry pixel="31=22"/>
		
	  <entry pixel="32=55"/>
	  <entry pixel="33=49"/>
	  <entry pixel="34=61"/>
	  <entry pixel="35=59"/>
	  <entry pixel="36=7"/>
	  <entry pixel="37=3"/>
	  <entry pixel="38=8"/>
	  <entry pixel="39=9"/>
		
	  <entry pixel="40=54"/>
	  <entry pixel="41=48"/>
	  <entry pixel="42=60"/>
	  <entry pixel="43=56"/>
	  <entry pixel="44=6"/>
	  <entry pixel="45=2"/>
	  <entry pixel="46=13"/>
	  <entry pixel="47=10"/>
		
	  <entry pixel="48=53"/>
	  <entry pixel="49=51"/>
	  <entry pixel="50=63"/>
	  <entry pixel="51=57"/>
	  <entry pixel="52=5"/>
	  <entry pixel="53=1"/>
	  <entry pixel="54=14"/>
	  <entry pixel="55=11"/>
		
	  <entry pixel="56=52"/>
	  <entry pixel="57=50"/>
	  <entry pixel="58=62"/>
	  <entry pixel="59=58"/>
	  <entry pixel="60=4"/>
	  <entry pixel="61=0"/>
	  <entry pixel="62=15"/>
	  <entry pixel="63=12"/>
      
   </extension>
   
   -->
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.beamline.i20.ui.handlers.SwitchExperimentModeHandler"
            id="uk.ac.gda.beamline.i20.switchExptModeCommand"
            name="Switch expt mode">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gda.exafs.ui.XESPlottingPerspective"
            id="org.diamond.exafs.ui.XESPlottingPerspective"
            name="XES Plot">
      </perspective>
      <perspective
            class="uk.ac.gda.ui.views.synoptic.SynopticPerspective"
            id="uk.ac.gda.beamline.i20.SynopticPerspective"
            name="Synoptic views">
      </perspective>
   </extension>  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.gda.client.preferences.gdaroot"
            class="gda.exafs.ui.preferencepages.I20SampleReferenceWheelPreferencePage"
            id="gda.exafs.ui.preferences.i20samplewheelPreferencePage"
            name="Reference Sample Wheel">
      </page>
   </extension>
	<extension
	      name="tst"
	      point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="menu:window?after=showView">
	      <menu
	            label="Detectors">
	         <command
	               commandId="org.eclipse.ui.views.showView"
	               label="medipix"
	               style="push">
	            <parameter
	                  name="org.eclipse.ui.views.showView.viewId"
	                  value="uk.ac.gda.epics.adviewer.twodArrayView:medipix">
	            </parameter>
	         </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="Vortex"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.exafs.ui.views.vortexView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XSpress4"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.exafs.ui.views.xspress4View">
             </parameter>
          </command>
	      </menu>
       <menu
             label="Synoptic views">
           <command
                commandId="org.eclipse.ui.views.showView"
                label="Beamline overview (XES)"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.beamlineOverview">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XES stage"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xesStageView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="Sample stage"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.sampleStageView">
             </parameter>
          </command>
                    <command
                commandId="org.eclipse.ui.views.showView"
                label="Xas table"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xasTable">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XES Crystal Analysers"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xesCrystalView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="ATN5 filters"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.hutchFilterView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XES Calibration View"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xesCalibrationView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XES Offsets View"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xesOffsetsView">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="XES Simulated Positions View"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.ui.views.synoptic.xesSimulatedPositionsView">
             </parameter>
          </command>
       </menu>
       <menu
             label="Detector rates">
          <command
                commandId="org.eclipse.ui.views.showView"
                label="Xspress4 rates"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.exafs.ui.views.detectors.xspress4DetectorRates">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="I1 rates"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.exafs.ui.views.detectors.ionchamberI1Rates">
             </parameter>
          </command>
          <command
                commandId="org.eclipse.ui.views.showView"
                label="Ionchamber rates"
                style="push">
             <parameter
                   name="org.eclipse.ui.views.showView.viewId"
                   value="uk.ac.gda.exafs.ui.views.detectors.ionchamberRates">
             </parameter>
          </command>
       </menu>
	   </menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.views">
      <view
          allowMultiple="true"
          class="uk.ac.gda.ui.views.synoptic.SynopticView"
          id="uk.ac.gda.ui.views.synoptic.SynopticView"
          name="Synoptic View"
          restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.detectors.DetectorRateViewFactory:xspress4DetectorRates"
            icon="platform:/plugin/uk.ac.gda.client.exafs/icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.detectors.xspress4DetectorRates"
            name="Xspress4 detector rates"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.detectors.DetectorRateViewFactory:ionchamberRates"
            icon="platform:/plugin/uk.ac.gda.client.exafs/icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.detectors.ionchamberRates"
            name="Ion chamber rates"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.detectors.DetectorRateViewFactory:ionchamberI1Rates"
            icon="platform:/plugin/uk.ac.gda.client.exafs/icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.detectors.ionchamberI1Rates"
            name="I1 Ion chamber rates"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:vortexViewFactory"
            id="uk.ac.gda.exafs.ui.views.vortexView"
            name="XMap view"
            restorable="true">
      </view>
      <view
            class="gda.rcp.views.ViewFactoryFinder:xspress4ViewFactory"
            id="uk.ac.gda.exafs.ui.views.xspress4View"
            name="Xspress4 view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:medipix"
            name="Medipix view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.dialogs.SpreadsheetView"
            id="uk.ac.gda.exafs.ui.spreadsheetview"
            name="&apos;Spreadsheet view&apos; scan generator"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.OverviewButtonsView"
            id="uk.ac.gda.ui.views.synoptic.beamlineOverview"
            name="Beamline overview"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesOffsetsView"
            id="uk.ac.gda.ui.views.synoptic.xesOffsetView"
            name="XES offset view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.SampleStageView"
            id="uk.ac.gda.ui.views.synoptic.sampleStageView"
            name="Sample stage view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XasTableView"
            id="uk.ac.gda.ui.views.synoptic.xasTable"
            name="XAS table view (T1)"
            restorable="true">
      </view>
      <view
             class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesCrystalAnalysersView"
             id="uk.ac.gda.ui.views.synoptic.xesCrystalView"
             name="XES Crystal Analyser View"
             restorable="true">
      </view>
             <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesCalibrationView"
            id="uk.ac.gda.ui.views.synoptic.xesCalibrationView"
            name="XES Calibration view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.HutchFilterView"
            id="uk.ac.gda.ui.views.synoptic.hutchFilterView"
            name="ATN5 view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesStageView"
            id="uk.ac.gda.ui.views.synoptic.xesStageView"
            name="XES Stage view"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesCalibrationView"
            id="uk.ac.gda.ui.views.synoptic.xesCalibrationView"
            name="XES Calibration View"
            restorable="true">
      </view>
       <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesOffsetsView"
            id="uk.ac.gda.ui.views.synoptic.xesOffsetsView"
            name="XES Offsets View"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.ui.views.synoptic.SynopticViewFactory:uk.ac.gda.ui.views.synoptic.XesSimulatedPositionsView"
            id="uk.ac.gda.ui.views.synoptic.xesSimulatedPositionsView"
            name="XES Simulated Positions View"
            restorable="true">
      </view>
 </extension>
</plugin>
