<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="Diamond Beamline I13">
         <property
               name="appName"
               value="Diamond Beamline I13">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>         
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="Diamond Beamline I13 &#x0A;&#x0A;Based on GDA See &lt;http://www.opengda.org/&gt;">
         </property>    
      </product>
   </extension>
  
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="primaryToc.xml"
            primary="true">
      </toc>
   </extension> 
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="I13 Manuals"
            visible="true"
            id="gda.rcp.help.i13.manuals">
         <action
               id="gda.rcp.help.beamlinemanual"
               label="Beamline Manual"
               menubarPath="help/helpStart"               
               style="push">
               <class class="org.eclipse.help.ui.browser.LaunchURL">
                    <parameter name="url" value="http://confluence.diamond.ac.uk/display/I13Tech/I13-1+Data+Acquisition+User+Guide" />
               </class>               
        	</action>
         <action
               id="gda.rcp.help.elog"
               label="ELog - Send Feedback"
               menubarPath="help/helpStart"               
               style="push">
                <class class="org.eclipse.help.ui.browser.LaunchURL">
                    <parameter name="url" value="https://elog.pri.diamond.ac.uk/" />
               </class>               
        	</action>          
         <action
               id="gda.rcp.help.reportabug"
               label="Report A Problem"
               menubarPath="help/helpStart"               
               style="push">
                <class class="org.eclipse.help.ui.browser.LaunchURL">
                    <parameter name="url" value="http://jira.diamond.ac.uk/secure/CreateIssue.jspa?pid=10120"/>
               </class>               
        	</action>        	
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="I13J Views"
            id="uk.ac.gda.beamline.i13j"/>
            
                       <view
                 allowMultiple="false"
                 category="uk.ac.gda.beamline.i13j"
                 class="gda.rcp.views.ViewFactory:statusView"
                 icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png"
                 id="uk.ac.gda.beamline.i13j.views.StatusView"
                 name="Status">
      </view>
                       <view
                             allowMultiple="false"
                             category="uk.ac.diamond.scisoft.analysis.rcp"
                             class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
                             icon="icons/chart_curve.png"
                             id="uk.ac.gda.beamline.i13j.DetectorPlot"
                             name="Detector Image"
                             restorable="true">
                       </view>
   </extension>  
   <extension id="d1 views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:d1"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.d1AreaDetectorProfileView"
            name="d1 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:d1"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.d1AreaDetectorArrayView"
            name="d1 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:d1"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.d1AreaDetectorLiveView"
            name="d1 Live">
      </view>                       
   </extension>
   <extension id="d2 views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:d2"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.d2AreaDetectorProfileView"
            name="d2 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:d2"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.d2AreaDetectorArrayView"
            name="d2 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:d2"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.d2AreaDetectorLiveView"
            name="d2 Live">
      </view>                       
   </extension>
   <extension id="d3 views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:d3"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.d3AreaDetectorProfileView"
            name="d3 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:d3"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.d3AreaDetectorArrayView"
            name="d3 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:d3"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.d3AreaDetectorLiveView"
            name="d3 Live">
      </view>                       
   </extension>
   <extension id="d4 views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:d4"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.d4AreaDetectorProfileView"
            name="d4 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:d4"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.d4AreaDetectorArrayView"
            name="d4 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:d4"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.d4AreaDetectorLiveView"
            name="d4 Live">
      </view>                       
   </extension>
   <extension id="float1 veiws"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:float1"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.float1AreaDetectorProfileView"
            name="Float1 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:float1"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.float1AreaDetectorArrayView"
            name="Float1 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:float1"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.float1AreaDetectorLiveView"
            name="Float1 Live">
      </view> 
   </extension>

   <extension id="Float2 views"
         point="org.eclipse.ui.views">
                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:float2"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.float2AreaDetectorProfileView"
            name="Float2 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:float2"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.float2AreaDetectorArrayView"
            name="Float2 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:float2"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.float2AreaDetectorLiveView"
            name="Float2 Live">
      </view>                       
   </extension>

   <extension id="Float3 views"
         point="org.eclipse.ui.views">
                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:float3"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.float3AreaDetectorProfileView"
            name="Float3 Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:float3"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.float3AreaDetectorArrayView"
            name="Float3 Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:float3"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.float3AreaDetectorLiveView"
            name="Float3 Live">
      </view>                       
   </extension>

   <extension id="excalibur views"
         point="org.eclipse.ui.views">
                            
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:excalibur"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i13j.excaliburAreaDetectorProfileView"
            name="excalibur Image Histogram">
      </view>                       
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:excalibur"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i13j.excaliburAreaDetectorArrayView"
            name="excalibur Raw">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i13j"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:excalibur"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i13j.excaliburAreaDetectorLiveView"
            name="excalibur Live">
      </view>                       
                                  
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i13j.perspectives.DataCollectionPerspective"
            icon="icons/releng_gears.gif"
            id="uk.ac.gda.beamline.i13j.perspectives.DataCollectionPerspective"
            name="Data Collection">
      </perspective>
      <perspective
            class="uk.ac.diamond.scisoft.analysis.rcp.DataExplorationPerspective"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.beamline.i13j.perspectives.DataExplorer"
            name="Data Explorer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <perspectiveShortcut
                  id="uk.ac.gda.beamline.i13j.perspectives.DataCollectionPerspective">
            </perspectiveShortcut>
      </perspectiveExtension>
   </extension>    
   
   <extension point="org.eclipse.ui.menus">   
	<menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="uk.ac.gda.client.mx.mainControls">
            <command
                  commandId="uk.ac.gda.client.datadispenser.controller.command"
                  label="Data Dispenser"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
</extension>
<extension id="float2 menus" point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float2AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float2">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float2AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float2AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float2AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float2AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float2">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float2AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float2AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    
</extension>


<!-- menus for float1 -->
<extension
      id="float1 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float1AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float1">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float1AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float1AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float1AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float1AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float1">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float1AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float1AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    



</extension>

<!-- menus for float3 -->
<extension
      id="float3 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float3AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float3">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float3AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float3AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float3AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.float3AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float3">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="float3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float3AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.float3AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    

</extension>


<!-- menus for d1 -->
<extension
      id="d1 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d1AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d1">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d1AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d1AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d1AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d1AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d1">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d1">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d1AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d1AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    

</extension>


<!-- menus for d2 -->
<extension
      id="d2 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d2AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d2">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d2AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d2AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d2AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d2AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d2">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d2">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d2AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d2AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    

</extension>


<!-- menus for d3 -->
<extension
      id="d3 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d3AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d3">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d3AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d3AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d3AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d3AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d3">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d3">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d3AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d3AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    

</extension>


<!-- menus for d4 -->
<extension
      id="d4 menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d4AreaDetectorProfileView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d4">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d4">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d4AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d4AreaDetectorArrayView">
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d4">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorLiveView.gif"
          label="Show Live"
          style="push">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d4AreaDetectorLiveView">
       </parameter>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.d4AreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d4">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="d4">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d4AreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.d4AreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    


</extension>




<!-- menus for excalibur -->

<extension
      id="excalibur menus"
      point="org.eclipse.ui.menus">   

 <menuContribution
       allPopups="false"
       locationURI="toolbar:uk.ac.gda.beamline.i13j.excaliburAreaDetectorLiveView">
    <command
          commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
          label="Fit Image to Window"
          style="push"
          tooltip="Fit Image to Window">
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
          label="Set Exposure"
          style="push"
          tooltip="Set Exposure">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="excalibur">
       </parameter>
    </command>
    <command
          commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
          label="Rescale Live Image"
          style="push"
          tooltip="Rescale Live Image">
       <parameter
             name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
             value="excalibur">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorProfileView.gif"
          label="Show Histogram"
          style="push"
          tooltip="Show Histogram ">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.excaliburAreaDetectorProfileView">
       </parameter>
    </command>
    <command
          commandId="org.eclipse.ui.views.showView"
          icon="icons/AreaDetectorImageView.gif"
          label="Show Raw Image"
          style="push"
          tooltip="Show Raw Image">
       <parameter
             name="org.eclipse.ui.views.showView.viewId"
             value="uk.ac.gda.beamline.i13j.excaliburAreaDetectorArrayView">
       </parameter>
    </command>
 </menuContribution>                    

   </extension>
</plugin>
