[Desktop Entry]
Encoding=UTF-8
Icon=www
Type=Link
URL=http://i12-webcam05.diamond.ac.uk/view/index.shtml
Name[en_GB]=EH1 Sample table view(low light)
Name=EH1 Sample table view(low light)
