<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.2.xsd">

	<import resource="GDAMetadata.xml"/>
	<import resource="commandQueueProcessor.xml"/>
	<import resource="xRayWatchdog.xml"/>

	<import resource="terminal_logger.xml"/>
	<import resource="dataWriter.xml"/>

	<import resource="devices/_all.xml"/>
	<import resource="nxmetadata.xml"/>
	
	<import resource="commandServer.xml" />
	<import resource="beanAdder.xml"/>

</beans>
