<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda" xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.1.xsd
		http://www.diamond.ac.uk/schema/gda/gda
		http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">


	<import resource="plotServer.xml"/>	

	<import resource="GDAMetadata.xml"/>
	<import resource="scanDataPointServer.xml"/>
	<import resource="commandQueueProcessor.xml"/>
	
	<import resource="commandServer.xml" />
	<import resource="terminal_logger.xml"/>
	<import resource="dataArchieval.xml"/>
	<import resource="dataWriter.xml"/>

	<import resource="devices/_all.xml"/>
	<bean class="gda.spring.FindableNameSetterPostProcessor" />
	
	<corba:export namespace="${gda.factory.factoryName}" />
	
</beans>
