<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="I10 Beamline product">
         <property
               name="appName"
               value="I10 Beamline product">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i10.I10ScanPerspective"
            id="uk.ac.gda.beamline.I10ScanPerspective"
            name="I10 Scan Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D1 Diagnostic Camera (d1dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d1dcam//BL10I-DI-PHDGN-01@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D1 Diagnostic Camera (d1dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d1dcam//BL10I-DI-PHDGN-01@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D2 Diagnostic Camera (d2dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d2dcam//BL10I-DI-PHDGN-02@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D2 Diagnostic Camera (d2dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d2dcam//BL10I-DI-PHDGN-02@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D3 Diagnostic Camera (d3dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d3dcam//BL10I-DI-PHDGN-03@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D3 Diagnostic Camera (d3dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d3dcam//BL10I-DI-PHDGN-03@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D4 Diagnostic Camera (d4dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d4dcam//BL10I-DI-PHDGN-04@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D4 Diagnostic Camera (d4dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d4dcam//BL10I-DI-PHDGN-04@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D6 Diagnostic Camera (d6dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d6dcam//BL10I-DI-PHDGN-05@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="D6 Diagnostic Camera (d6dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//d6dcam//BL10I-DI-PHDGN-05@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="DJ1 Diagnostic Camera (dj1dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//dj1dcam//BL10J-DI-PHDGN-01@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="DJ1 Diagnostic Camera (dj1dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//dj1dcam//BL10J-DI-PHDGN-01@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="DJ3 Diagnostic Camera (dj3dcam) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//dj3dcam//BL10J-DI-PHDGN-02@DCAM@">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="DJ3 Diagnostic Camera (dj3dcam) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//dj3dcam//BL10J-DI-PHDGN-02@DCAM@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Princeton Instruments (pixis) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//pixis//BL10I-EA-PIXIS-01@//pixisSuffixService">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Princeton Instruments (pixis) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//pixis//BL10I-EA-PIXIS-01@//pixisSuffixService">
               </parameter>
            </command>

         </menu>
      </menuContribution>
   </extension>
</plugin>
