<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA for Diamond Light Source Beamline I10">
         <property
               name="appName"
               value="GDA for Diamond Light Source Beamline I10">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,595,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i10.perspectives.I10ScanPerspective"
            id="uk.ac.gda.beamline.i10.perspectives.I10ScanPerspective"
            name="Scan">
      </perspective>
      <perspective
            class="uk.ac.gda.beamline.i10.perspectives.AreaDetectorPerspective"
            id="uk.ac.gda.beamline.i10.perspectives.areadetector"
            name="Experiment">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i10.pimte.live.stream.view.LiveStreamView?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.freezecommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_freeze_blue.png"
               label="Freeze"
               style="toggle"
               tooltip="Enable/disable image update">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pimte.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Star camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pimte.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pimte.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.gda.beamline.i10.pimte.live.stream.view.LiveStreamView">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/crosshairs.png"
               id="uk.ac.gda.beamline.i10.pimte.live.stream.view.crosshair.toolbar.command"
               label="Crosshair"
               style="pulldown"
               tooltip="Crosshair operations">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i10.pixis.live.stream.view.LiveStreamView?before=uk.ac.gda.client.live.stream.view.reset ">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.freezecommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_freeze_blue.png"
               label="Freeze"
               style="toggle"
               tooltip="Enable/disable image update">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pixis.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.startcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_play_blue.png"
               label="Start"
               style="push"
               tooltip="Star camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pixis.live.stream.active">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.stopcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/control_stop_blue.png"
               label="Stop"
               style="push"
               tooltip="Stop camera acquisition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="i10.pixis.live.stream.active">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="platform:/plugin/uk.ac.gda.client.live.stream/icons/camera.png"
               label="Snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="uk.ac.gda.beamline.i10.pixis.live.stream.view.LiveStreamView">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/crosshairs.png"
               id="uk.ac.gda.beamline.i10.pixis.live.stream.view.crosshair.toolbar.command"
               label="Crosshair"
               style="pulldown"
               tooltip="Crosshair operations">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.gda.beamline.i10.pimte.live.stream.view.crosshair.toolbar.command">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/add.png"
               label="Add"
               style="push"
               tooltip="Add crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Add">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/cross.png"
               label="Remove"
               style="push"
               tooltip="Remove crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Remove">
            </parameter>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/save.png"
               label="Save"
               style="push"
               tooltip="Save crosshair position">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Save">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Visible"
               style="toggle"
               tooltip="Make crosshair visible">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Visible">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Moveable"
               style="toggle"
               tooltip="Make crosshair movable">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Moveable">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.gda.beamline.i10.pixis.live.stream.view.crosshair.toolbar.command">
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/add.png"
               label="Add"
               style="push"
               tooltip="Add crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Add">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/cross.png"
               label="Remove"
               style="push"
               tooltip="Remove crosshair">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Remove">
            </parameter>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               icon="platform:/plugin/uk.ac.gda.client.live.stream.controls/icons/save.png"
               label="Save"
               style="push"
               tooltip="Save crosshair position">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Save">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Visible"
               style="toggle"
               tooltip="Make crosshair visible">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Visible">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.client.live.stream.controls.crosshair"
               label="Moveable"
               style="toggle"
               tooltip="Make crosshair movable">
            <parameter
                  name="uk.ac.gda.client.live.stream.controls.crosshairParameter"
                  value="Moveable">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="dummy_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="I10 GDA Client for Dummy Mode">
         <property
               name="appName"
               value="I10 GDA Client for Dummy Mode">
         </property>
         <property
               name="aboutText"
               value="GDA I10 Client&#x0A;&#x0A;The GDA project is an open-source framework for creating customised data acquisition software for science facilities such as neutron and x-ray sources. The software is Java/Eclipse-based, free and released under the GPLv3.&#x0A;&#x0A;It is based on the Generic Data Acquisition (GDA) software developed at Diamond Light Source. The GDA was initially developed at SRS Daresbury but since 2003 it has been adopted by Diamond Light Source who took over as the principal developer. The team at Diamond have developed the GDA for the majority of Diamond beamlines across all the scientific techniques at Diamond. GDA is the evolution of that project and is intended to be applicable for any beamline on any synchrotron facility.&#x0A;&#x0A;See &lt;http://www.opengda.org/&gt;">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.beamline.i10.EarlyStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="gda.rcp.views.ViewFactory:statusView"
            icon="icons/Status.png"
            id="uk.ac.gda.beamline.i10.statusView"
            name="Beamline Status"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.beamline.i10.pimte.live.stream.view.LiveStreamView"
            name="PIMTE"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.client.live.stream.view.LiveStreamView"
            id="uk.ac.gda.beamline.i10.pixis.live.stream.view.LiveStreamView"
            name="PIXIS"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.gda.client.live.stream.controls.camera.state.EpicsCameraState">
         <variable
               name="i10.pimte.live.stream.active"
               priorityLevel="workbench">
         </variable>
         <variable
               name="i10.pixis.live.stream.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
</plugin>
