<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA for Diamond Light Source Beamline I07">
         <property
               name="appName"
               value="GDA for Diamond Light Source Beamline I07">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="GDA for DLS Beamline I07&#x0A;&#x0A;Build id: &#x0A;&#x0A;Copyright © 2009 Diamond Light Source Ltd.&#x0A;&#x0A;http://www.opengda.org">
         </property>
         <property
               name="preferenceCustomization"
               value="platform:/plugin/uk.ac.gda.beamline.i07/plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="uk.ac.gda.sixd.ExperimentPerspective">
         <view
               closeable="true"
               id="gda.rcp.jythonterminalview"
               minimized="false"
               moveable="true"
               ratio="0.35"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.client.liveplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.diamond.scisoft.analysis.rcp.views.ImageExplorerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.client.liveplotview">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.sixd.views.AreaDetectorView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="uk.ac.gda.client.liveplotview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.sixd.views.Pilatus1"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.sixd.views.Pilatus2"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.sixd.views.Pilatus3"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.sixd.views.Excalibur"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
<!--
         <view
               id="uk.ac.gda.sixd.views.ImageView"
               minimized="false"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
-->
         <view
               id="uk.ac.gda.rcp.views.dashboardView"
               moveable="true"
               ratio="0.60"
               relationship="bottom"
               relative="gda.rcp.jythonterminalview"
               closeable="true"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="gda.rcp.views.baton.BatonView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.rcp.views.dashboardView"
               showTitle="true"
               closeable="true"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.rcp.views.dashboardView"
               showTitle="true"
               closeable="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="uk.ac.gda.client.sixd.I07ScanPerspective">
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Merlin Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//Merlin//BL07I-EA-DET-10@">
               </parameter>
            </command>
         </menu>
         <menu
               label="Fluorescence detectors">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="XMap"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.exafs.ui.views.detectors.FluorescenceDetectorConfigurationView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="xmapFluorescenceDetector">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:uk.ac.gda.sixd.views.ImageExplorerView">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.GridOverviewAction"
               icon="icons/eye.png"
               label="Overview Action"
               style="toggle"
               tooltip="Switch to Overview mode">
               <parameter
               		name="uk.ac.diamond.scisoft.analysis.command.sourceView"
               		value="uk.ac.gda.sixd.views.ImageExplorerView">
               	</parameter>
         </command>
      </menuContribution>      
      <menuContribution
            locationURI="toolbar:uk.ac.gda.sixd.views.ImageExplorerView">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.DemoGridViewSelectionAction"
               icon="icons/monitor.png"
               label="Demo Action"
               style="push"
               tooltip="Give selection to server">
               <parameter
               		name="uk.ac.diamond.scisoft.analysis.command.sourceView"
               		value="uk.ac.gda.sixd.views.ImageExplorerView">
               	</parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=file">
         <menu
               id="uk.ac.gda.client.sixd.I07ScanPerspective.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="uk.ac.gda.client.sixd.command.newpymodule"
                  label="New Jython Script"
                  style="push">
            </command>
            <command
                  commandId="org.dawnsci.datavis.model.fileopen"
                  label="Open Datafile..."
                  mnemonic="."
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.sixd.command.openscript"
                  label="Open Script..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All..."
                  style="push">
            </command>
            <command
                  commandId="org.dawnsci.datavis.model.fileclose"
                  label="Close"
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="org.dawnsci.datavis.importseparator"
                  visible="true">
            </separator>
            <separator
                  name="org.dawnsci.datavis.recentseparator"
                  visible="true">
            </separator>
            <separator
                  name="org.dawnsci.datavis.actionsseparator"
                  visible="true">
            </separator>
            <menu
               id="org.dawnsci.datavis.file.transfer"
               label="Transfer">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="uk.ac.gda.client.sixd.I07ScanPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
            <separator
                  name="org.dawnsci.datavis.restartseparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="uk.ac.gda.client.sixd.I07ScanPerspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="uk.ac.gda.client.sixd.I07ScanPerspective.plot"
               label="Plot"
               mnemonic="P">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="uk.ac.gda.client.sixd.I07ScanPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.exafs.ui.views.detectors.FluorescenceDetectorConfigurationView"
            id="uk.ac.gda.beamline.i07.FluorescenceDetector"
            name="Xmap Fluorescence Detector"
            restorable="true">
      </view>
      <category
            id="uk.ac.gda.sixd.views.SixdCategory"
            name="Surface and Interface X-ray Diffraction">
      </category>
      <view
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.gda.sixd.views.XrrView"
            icon="icons/sixd_16.png"
            id="uk.ac.gda.sixd.views.XrrView"
            name="X-ray Reflectivity"
            restorable="true">
      </view>
      <view
            name="Image Viewer"
            id="uk.ac.gda.sixd.views.ImageView"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/map_magnify.png"
            allowMultiple="false"
            restorable="true">
      </view>
      <view
            name="Area Detector"
            id="uk.ac.gda.sixd.views.AreaDetectorView"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            allowMultiple="false"
            restorable="true">
      </view>
      <view
            name="Area Detector 2I"
            id="uk.ac.gda.sixd.views.AreaDetectorView2"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            allowMultiple="false"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.ImageExplorerView"
            icon="icons/map_magnify.png"
            id="uk.ac.gda.sixd.views.ImageExplorerView"
            name="Image Explorer"
            restorable="true">
      </view>
      <e4view
            class="uk.ac.gda.sixd.views.I07LoadedFilePart"
            icon="platform:/plugin/org.dawnsci.datavis.view/icons/ui-layered-pane.png"
            id="uk.ac.gda.sixd.views.I07LoadedFilePart"
            name="Data Files"
            restorable="true">
      </e4view>
      <e4view
            class="uk.ac.gda.sixd.views.I07DatasetPart"
            icon="platform:/plugin/org.dawnsci.datavis.view/icons/ui-layered-pane.png"
            id="uk.ac.gda.sixd.views.I07DatasetPart"
            name="Datasets"
            restorable="true">
      </e4view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            id="uk.ac.gda.sixd.views.Excalibur"
            name="Excalibur"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            id="uk.ac.gda.sixd.views.Pilatus1"
            name="Pilatus 1"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            id="uk.ac.gda.sixd.views.Pilatus2"
            name="Pilatus 2"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.sixd.views.SixdCategory"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/detector2D_02_16.png"
            id="uk.ac.gda.sixd.views.Pilatus3"
            name="Pilatus 3"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.client.sixd.commands.ScriptDirOpenFileHandler"
            id="uk.ac.gda.client.sixd.command.openscript"
            name="Open script file">
      </command>
      <command
            defaultHandler="uk.ac.gda.client.sixd.commands.NewJythonModuleHandler"
            id="uk.ac.gda.client.sixd.command.newpymodule"
            name="New Jython Script">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.sixd.perspectives.SixdExperimentPerspective"
            fixed="true"
            id="uk.ac.gda.sixd.ExperimentPerspective"
            name="Surface and Interface X-ray Diffraction Experiment">
      </perspective>
      <perspective
            class="uk.ac.gda.sixd.perspectives.SixdScriptingPerspective"
            id="uk.ac.gda.sixd.ScriptingPerspective"
            name="Surface and Interface X-ray Diffraction Scripting">
      </perspective>
      <perspective
            class="uk.ac.gda.sixd.perspectives.I07ScanPerspective"
            icon="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png"
            id="uk.ac.gda.client.sixd.I07ScanPerspective"
            name="I07 Scan Perspective">
      </perspective>
   </extension>
   <extension
         id="uk.ac.diamond.scisoft.analysis.rcp.ExplorerViewDefault"
         name="Default"
         point="uk.ac.diamond.scisoft.analysis.rcp.ExplorerViewRegister">
         <ViewRegister
         	ViewName="Area Detector">
         </ViewRegister>
   </extension>
</plugin>
