<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA for Diamond Light Source Beamline I07">
         <property
               name="appName"
               value="GDA for Diamond Light Source Beamline I07">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="aboutText"
               value="GDA for DLS Beamone i07.&#x0A;&#x0A;Build id: &#x0A;&#x0A;Copyright © 2009 Diamond Light Source Ltd.&#x0A;&#x0A;http://www.opengda.org">
         </property>    
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="uk.ac.gda.sixd.ExperimentPerspective">
         <view
               closeable="false"
               id="uk.ac.gda.sixd.views.terminalView"
               minimized="false"
               moveable="true"
               ratio="0.95"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="gda.dal.sdsview"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="gda.rcp.jythoneditorview"
               moveable="true"
               ratio="0.3"
               relationship="right"
               relative="uk.ac.gda.sixd.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.client.xyplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="gda.rcp.jythoneditorview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.diamond.scisoft.analysis.rcp.views.ImageExplorerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.client.xyplotview">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.sixd.views.AreaDetectorView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="uk.ac.gda.client.xyplotview"
               showTitle="true"
               visible="true">
         </view>
<!--
         <view
               id="uk.ac.gda.sixd.views.ImageView"
               minimized="false"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.AreaDetectorView">
         </view>
-->
         <view
               id="uk.ac.gda.exafs.ui.dashboardView"
               moveable="true"
               ratio="0.60"
               relationship="bottom"
               relative="uk.ac.gda.sixd.views.terminalView"
               closeable="true"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="gda.rcp.views.baton.BatonView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               closeable="true"
               visible="true">
         </view>
         <view
               id="ch.qos.logback.beagle.view.BeagleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               closeable="true"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.exafs.ui.dashboardView"
               showTitle="true"
               closeable="true"
               visible="true">
         </view>
<!--         
         <view
               closeable="false"
               id="gda.rcp.ScriptScanController"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="top"
               relative="ch.qos.logback.beagle.view.BeagleView"
               showTitle="false"
               visible="true">
         </view>
-->
         
         <view
               closeable="false"
               id="gda.rcp.jythoncontrollerview"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="top"
               relative="ch.qos.logback.beagle.view.BeagleView"
               showTitle="false"
               visible="true">
         </view>
        
      </perspectiveExtension>
      <perspectiveExtension
            targetID="uk.ac.gda.sixd.ScriptingPerspective">
         <view
               id="uk.ac.gda.sixd.views.JythonConsoleView"
               minimized="false"
               relationship="stack"
               relative="uk.ac.gda.sixd.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.qos.logback.beagle.view.BeagleView"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="uk.ac.gda.sixd.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="uk.ac.gda.beamline.i07.splashHandlers.BrowserSplashHandler"
            id="uk.ac.gda.beamline.i07.splashHandlers.browser">
      </splashHandler>
      <splashHandlerProductBinding
            productId="uk.ac.gda.beamline.i07.product"
            splashId="uk.ac.gda.beamline.i07.splashHandlers.browser">
      </splashHandlerProductBinding>
   </extension>
-->
   <extension point="org.eclipse.ui.views">
      <category
             id="uk.ac.gda.beamline.i07.areaDetector"
             name="AreaDetector">
      </category>

      <!-- fastpil1-->
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:fastpil1"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i07.fastpil1AreaDetectorProfileView"
            name="Fastpil1 Image Profile View">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:fastpil1"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i07.fastpil1AreaDetectorArrayView"
            name="Fastpil1 Image View">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:fastpil1"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i07.fastpil1AreaDetectorLiveView"
            name="Fastpil1 Live View">
      </view>
      
      <!-- fastpil 3-->
      
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.HistogramViewCreator:fastpil3"
            icon="icons/AreaDetectorProfileView.gif"
            id="uk.ac.gda.beamline.i07.fastpil3AreaDetectorProfileView"
            name="Fastpil3 Image Profile View">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayViewCreator:fastpil3"
            icon="icons/AreaDetectorImageView.gif"
            id="uk.ac.gda.beamline.i07.fastpil3AreaDetectorArrayView"
            name="Fastpil3 Image View">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.beamline.i07.areaDetector"
            class="uk.ac.gda.epics.adviewer.views.MJPegViewCreator:fastpil3"
            icon="icons/AreaDetectorLiveView.gif"
            id="uk.ac.gda.beamline.i07.fastpil3AreaDetectorLiveView"
            name="Fastpil3 Live View">
      </view>

   </extension>

   <extension point="org.eclipse.ui.menus">

      <!-- fastpil 1-->
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i07.fastpil1AreaDetectorLiveView">
         <command
               commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
               label="Zoom To Fit"
               style="push"
               tooltip="Zoom To Fit">
         </command>
         <command
               commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
               label="Set Exposure"
               style="push"
               tooltip="Set Exposure">
            <parameter
                  name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
                  value="fastpil1">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
               label="Set LiveView Scale"
               style="push"
               tooltip="Set LiveView Scale">
            <parameter
                  name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
                  value="fastpil1">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/AreaDetectorProfileView.gif"
               label="Show Profile View"
               style="push"
               tooltip="Show Profile ">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="uk.ac.gda.beamline.i07.fastpil1AreaDetectorProfileView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/AreaDetectorImageView.gif"
               label="Show Image View"
               style="push"
               tooltip="Show Full Image">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="uk.ac.gda.beamline.i07.fastpil1AreaDetectorArrayView">
            </parameter>
         </command>
     </menuContribution>

      <!-- fastpil 3-->
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.beamline.i07.fastpil3AreaDetectorLiveView">
         <command
               commandId="uk.ac.gda.epics.adviewer.command.zoomToFit"
               label="Zoom To Fit"
               style="push"
               tooltip="Zoom To Fit">
         </command>
         <command
               commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
               label="Set Exposure"
               style="push"
               tooltip="Set Exposure">
            <parameter
                  name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
                  value="fastpil3">
            </parameter>
         </command>
         <command
               commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
               label="Set LiveView Scale"
               style="push"
               tooltip="Set LiveView Scale">
            <parameter
                  name="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
                  value="fastpil3">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/AreaDetectorProfileView.gif"
               label="Show Profile View"
               style="push"
               tooltip="Show Profile ">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="uk.ac.gda.beamline.i07.fastpil3AreaDetectorProfileView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/AreaDetectorImageView.gif"
               label="Show Image View"
               style="push"
               tooltip="Show Full Image">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="uk.ac.gda.beamline.i07.fastpil3AreaDetectorArrayView">
            </parameter>
         </command>
      </menuContribution>

   </extension>  
</plugin>
