[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/dls_sw/i22/bin/RapidDisplay
TryExec=
Icon=redhat-graphics.png
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=RapidDisplay
GenericName[en_GB]=
Comment[en_GB]=Run Image display on VME crate
