[Desktop Entry]
Encoding=UTF-8
Name=Connect to VG Scienta PC
Type=Application
Exec=vgspc
Icon=/usr/share/pixmaps/tsclient.png
Icon[en_GB]=/usr/share/pixmaps/tsclient.png
Terminal=false
Name[en_GB]=5. Connect to VG Scienta PC
GenericName[en_GB]=Connect to VG Scienta PC
Comment[en_GB]=Connect to VG Scienta PC
Categories=X-ogda;