<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-2.0.xsd
		http://www.diamond.ac.uk/schema/gda/corba
		http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<!-- This gda.data.ObservablePathConstructor should only be in live -->
	<bean id="terminallog_path_provider" class="gda.data.ObservablePathConstructor">
		<property name="template" value="${gda.data.scan.datawriter.datadir}/gdaterminal.log" />
		<property name="gdaMetadata" ref="GDAMetadata" />
	</bean>

	<import resource="device/all.xml"/>

	<import resource="../_common/server.xml"/>

	<import resource="metadata.xml"/>

	<bean id="IcatXMLCreator" class="gda.data.fileregistrar.IcatXMLCreator">
			<property name="directory" value="/dls/${gda.instrument}/var/dropZone" />
			<property name="filePrefix" value="${gda.instrument}" />
	</bean>
	
	<!-- Copy FileRegistrar xml files for debugging unknown instrument problems. -->
	<bean id="file_registrar_debug" class="gda.data.fileregistrar.FileRegistrar">
		<constructor-arg ref="IcatXMLCreator" />
	</bean>

	<bean id="DefaultDataWriterFactory" class="gda.data.scan.datawriter.DefaultDataWriterFactory">
		<property name="name" value="DataWriterFactory" />
		<property name="dataWriterExtenders">
			<list>
				<ref bean="file_registrar" />
				<ref bean="file_registrar_debug" />
			</list>
		</property>
	</bean>

	<bean id="Ring" class="gda.spring.FindableEpicsDeviceFactoryBean">
		<property name="recordPvs">
			<map>
				<entry key="Top" value="" />
				<entry key="Current" value="SR-DI-DCCT-01:SIGNAL" />
				<entry key="FastCurrent" value="SR21C-DI-DCCT-01:SIGNAL" />
				<entry key="TimeUntilRefill" value="SR-CS-FILL-01:COUNTDOWN" />
				<entry key="BeamMode" value="CS-CS-MSTAT-01:MODE" />
			</map>
		</property>
		<property name="dummyMode" value="false"/>
	</bean>

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
	<!-- corba export must be the final bean. Later beans are not exported via Corba -->
	<corba:export namespace="${gda.factory.factoryName}" />
</beans>