<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder/>

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata"/>

	<import resource="../_common/required_at_start.xml"/>

	<import resource="motor/atten.xml" />
	<import resource="motor/dcm.xml" />
	<import resource="motor/diag.xml" />
	<import resource="motor/id.xml" />
	<import resource="motor/m1.xml" />
	<import resource="motor/m2.xml" />
	<import resource="motor/p2.xml" />
	<import resource="motor/pa.xml" />
	<import resource="motor/ppr.xml" />
	<import resource="motor/qsys.xml" />
	<import resource="motor/s1.xml" />
	<import resource="motor/s2.xml" />
	<import resource="motor/s3.xml" />
	<import resource="motor/s4.xml" />
	<import resource="motor/s5.xml" />
	<import resource="motor/s6.xml" />
	<import resource="motor/s7.xml" />
	<import resource="motor/sixc.xml" />
	<import resource="motor/sixcbase.xml" />
	<import resource="motor/sixcsample.xml" />

	<import resource="transient/kbmbase.xml" />

	<import resource="../_common/scannable/motors.xml" />
	<import resource="../live/epics/pie725_raster.xml" />
	<import resource="../live/epics/detector/labcam.xml" />

	<import resource="monitor/currentamps.xml" />
	<import resource="monitor/machine.xml" />
	<import resource="monitor/sixc.xml" />

	<import resource="detector/vortex.xml" />

	<bean id="script_paths" parent="common_script_paths_with_diffcalc_and_epics"/>

	<bean id="beamline_test_suite" class="gda.jython.ScriptProject">
		<property name="path" value="${gda.config}/scripts/livetest/startUp"/>
		<property name="name" value="Scripts: I16 Tests" />
		<property name="type" value="CONFIG" />
	</bean>

	<bean id="common_script_paths_with_diffcalc_and_epics" class="gda.jython.ScriptPaths" parent="common_script_paths_with_diffcalc">
		<property name="projects">
			<list merge="true">
				<ref bean ="beamline_test_suite" />
			</list>
		</property>
		<property name="startupScript" value="${gda.config}/scripts/localStation.py" />
	</bean>

	<bean id="command_server" parent="abstract_command_server">
		<property name="jythonScriptPaths" ref="script_paths"/>
		<property name="stopJythonScannablesOnStopAll" value="false" />
		<property name="disableBatonControlOverVisitMetadataEntry" value="true" />
	</bean>

	<bean id="terminallog_path_provider" class="gda.data.SimpleObservablePathProvider"/>

	<import resource="../_common/terminal_logger.xml" />
	<import resource="../_common/abstract_command_server.xml"/>

	<!-- dummy only -->

	<import resource="../_common/nxmetadata.xml" />

<!-- 	<import resource="../live/epics/detector/pilatus100k.xml" /> -->


	<bean id="DefaultDataWriterFactory" class="gda.data.scan.datawriter.DefaultDataWriterFactory">
		<property name="name" value="DefaultDataWriterFactory" />
		<property name="dataWriterExtenders">
			<list>
			</list>
		</property>
	</bean>

	<!-- Exports objects over RMI -->
	<bean class="uk.ac.gda.remoting.server.RmiAutomatedExporter" />
</beans>
