<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            description="GDA for Diamond Light Source Beamline I06 - Nanoscience"
            name="I06 Nanoscience GDA">
         <property
               name="appName"
               value="GDA for I06 Nanoscience">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutImage"
               value="icons/schematic_i06_sm.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="2,215,598,15">
         </property>
         <property
               name="startupMessageRect"
               value="4,195,598,20">
         </property>    
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
<!--      <perspectiveExtension targetID="uk.ac.diamond.gda.rcp.ExperimentPerspective" -->
      <perspectiveExtension targetID="uk.ac.gda.beamline.i06.perspective.Peem">
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.33"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="gda.rcp.views.baton.BatonView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.client.liveplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.nano.views.ImageExplorerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.client.liveplotview">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.nano.views.PeemImageView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="uk.ac.gda.client.liveplotview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="gda.rcp.jythonterminalview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.RegionalisedScanView"
               moveable="true"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="uk.ac.gda.beamline.i06.perspective.Experiment">
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.58"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="gda.rcp.views.baton.BatonView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.gda.client.liveplotview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="gda.rcp.jythonterminalview"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="top"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.RegionalisedScanView"
               moveable="true"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>         
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.SuperConductingMagnet"
               moveable="true"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.DiffractionAndDichroismView"
               moveable="true"
               relationship="stack"
               relative="gda.rcp.jythonterminalview"
               showTitle="true"
               visible="true">
         </view>
<!--         
         <view
               closeable="true"
               id="uk.ac.gda.nano.views.TestView"
               moveable="true"
               relationship="stack"
               relative="uk.ac.gda.nano.views.terminalView"
               showTitle="true"
               visible="true">
         </view>
-->
      </perspectiveExtension>

   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.beamline.i06.view.I06TerminalView"
            id="uk.ac.gda.beamline.i06.terminalView"
            name="I06 Terminal"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.gda.epics.adviewer.views.TwoDArrayView"
            id="uk.ac.gda.epics.adviewer.twodArrayView:pv//PCO//BL06I-EA-DET-01@"
            name="PCO Array View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.beamline.i06.perspective.Peem"
            id="uk.ac.gda.beamline.i06.perspective.Peem"
            name="Peem Perspective">
      </perspective>
      <perspective
            class="uk.ac.gda.beamline.i06.perspective.Experiment"
            id="uk.ac.gda.beamline.i06.perspective.Experiment"
            name="Experiment Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="PCO Array"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView:pv//PCO//BL06I-EA-DET-01@">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <!-- This won't work in 8.38, requires 8.40 or later
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=showView">
         <menu
               label="Area Detectors">

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="PCO 2000 (pco) Array View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.twodArrayView">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//pco//BL06I-EA-DET-01@">
               </parameter>
            </command>

            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="PCO 2000 (pco) Live (MJPeg) View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="uk.ac.gda.epics.adviewer.mpegview">
               </parameter>
               <parameter
                     name="org.eclipse.ui.views.showView.secondaryId"
                     value="pv//pco//BL06I-EA-DET-01@">
               </parameter>
            </command>

         </menu>
      </menuContribution>
   </extension>
   -->
</plugin>
