<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.diamond.ac.uk/schema/gda/corba
           http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
           http://www.diamond.ac.uk/schema/gda/gda
           http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd">

	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!--  GDA configuration split up by part type with the rest being in core -->
	<import resource="I10-core.xml" />
	<import resource="scannable/all-scannables.xml"/>
	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/i10-shared/servers/main/common/scannable/all-scannables.xml"/>
	<import resource="I10-command-server.xml"/>
</beans>