<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.diamond.ac.uk/schema/gda/corba
           http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
           http://www.diamond.ac.uk/schema/gda/gda
           http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.0.xsd">

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/mt-config/servers/main/common/required_at_start.xml"/>

	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/mt-config/servers/main/common/abstract_command_server.xml"/>

	<bean id="beamline_shared_config_script_project" class="gda.jython.ScriptProject">
		<property name="path"
			value="${gda.install.git.loc}/gda-mt.git/configurations/i10-shared/scripts" />
		<property name="name" value="Scripts: I10 Shared Config" />
		<property name="type" value="CONFIG" />
	</bean>

	<bean id="script_paths" class="gda.jython.ScriptPaths" parent="abstract_common_script_paths">
		<property name="projects">
			<list merge="true">
				<ref bean="diffcalc_script_project" />
				<ref bean="beamline_shared_config_script_project" />
			</list>
		</property>
	</bean>

	<bean id="command_server" parent="abstract_command_server">
		<property name="jythonScriptPaths" ref="script_paths"/>
		<property name="stopJythonScannablesOnStopAll" value="false" />
		<property name="disableBatonControlOverVisitMetadataEntry" value="false" />
	</bean>

	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/mt-config/servers/main/common/terminal_logger.xml" />

	<import resource="device/all.xml"/>
	<import resource="scannable/all.xml"/>
	<import resource="file:${gda.install.git.loc}/gda-mt.git/configurations/i10-shared/servers/main/common/scannable/all.xml"/>

	<corba:export namespace="${gda.factory.factoryName}" />

	<bean class="gda.spring.SingletonRegistrationPostProcessor" />
</beans>