<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true"> <!-- Add debug="true" in here to log logback configuration -->

    <!-- include file is relative to the application directory -->

    <!-- Console                                                                               servers/log/common/logSharedWithClients.xml -->
    <!-- <include file=                 "../workspace_git/gda-mt.git/configurations/i15-config/servers/log/common/logSharedWithClients.xml"/> -->
    <include file="/dls_sw/i15/software/gda/workspace_git/gda-mt.git/configurations/i15-config/servers/log/common/logSharedWithClients.xml"/>

	<!-- address where the messages from Object Servers send to - the LogServer-->
    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>6000</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="SOCKET"/>
        <appender-ref ref="Console"/>
    </root>
    <consolePlugin />
</configuration>
