<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
         <view
            category="uk.ac.gda.client.general.category"
            class="uk.ac.gda.rcp.views.dashboard.DashboardView"
            icon="icons/sample.gif"
            id="uk.ac.gda.rcp.views.dashboardView"
            name="Polling Dashboard"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.gda.client.preferences.gdaroot"
            class="uk.ac.gda.rcp.views.dashboard.DashboardPreferencePage"
            id="uk.ac.gda.rcp.views.dasboard.dashboardPreferences"
            name="Polling Dashboard">
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.AddScannableHandler"
            id="uk.ac.gda.rcp.views.dashboard.actions.AddScannableCommand"
            name="Add Scannable">
      </command>
      <command
            defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.DeleteServerObjectHandler"
            id="uk.ac.gda.rcp.views.dashboard.actions.DeleteServerObjectCommand"
            name="Remove Scannable">
      </command>
      <command
            defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.DashboardPreferencesAction"
            id="uk.ac.gda.rcp.views.dashboard.actions.DashboardPreferences"
            name="Preferences">
      </command>
      <command
            defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.ResetServerObjectsHandler"
            id="uk.ac.gda.rcp.views.dashboard.actions.ResetServerObjectsCommand"
            name="Reset">
      </command>
      <command
            defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.ClearServerObjectsHandler"
            id="uk.ac.gda.rcp.views.dashboard.actions.ClearServerObjectsCommand"
            name="Clear">
      </command>
    <command
          defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.MoveUpHandler"
          id="uk.ac.gda.rcp.views.dashboard.actions.DashUpCommand"
          name="Dash Item Up">
    </command>
    <command
          defaultHandler="uk.ac.gda.rcp.views.dashboard.actions.MoveDownHandler"
          id="uk.ac.gda.rcp.views.dashboard.actions.DashDownCommand"
          name="Dash Item Down">
    </command>
</extension>
<extension   point="org.eclipse.ui.menus">
    <menuContribution
       locationURI="toolbar:uk.ac.gda.rcp.views.dashboardView">
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.AddScannableCommand"
          icon="icons/monitor_add.png"
          label="Add scannable"
          style="push"
          tooltip="Add scannable">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DeleteServerObjectCommand"
          icon="icons/cross.png"
          label="Delete scannable"
          style="push"
          tooltip="Delete monitor">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashUpCommand"
          icon="icons/arrow_up.png"
          label="Move Up"
          style="push"
          tooltip="Move selected scannable up">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashDownCommand"
          icon="icons/arrow_down.png"
          label="Move Down"
          style="push"
          tooltip="Move selected scannable down">
    </command>
 </menuContribution>
 <menuContribution
       locationURI="popup:uk.ac.gda.rcp.views.dashboardView">
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.AddScannableCommand"
          icon="icons/monitor_add.png"
          label="Add scannable"
          style="push"
          tooltip="Add scannable">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DeleteServerObjectCommand"
          icon="icons/cross.png"
          label="Delete scannable"
          style="push"
          tooltip="Delete monitor">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashUpCommand"
          icon="icons/arrow_up.png"
          label="Move Up"
          style="push"
          tooltip="Move selected scannable up">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashDownCommand"
          icon="icons/arrow_down.png"
          label="Move Down"
          style="push"
          tooltip="Move selected scannable down">
    </command>
    <separator
          name="uk.ac.gda.client.exafs.separator4"
          visible="true">
    </separator>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.ResetServerObjectsCommand"
          label="Reset"
          style="push"
          tooltip="Reset to default view">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.ClearServerObjectsCommand"
          icon="icons/page_delete.png"
          label="Clear"
          style="push"
          tooltip="Clear all server objects">
    </command>
    <separator
          name="uk.ac.gda.client.exafs.separator1"
          visible="true">
    </separator>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashboardPreferences"
          label="Preferences..."
          style="push">
    </command>
 </menuContribution>
 <menuContribution
       locationURI="menu:uk.ac.gda.rcp.views.dashboardView">
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.ResetServerObjectsCommand"
          label="Reset"
          style="push"
          tooltip="Reset to default view">
    </command>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.ClearServerObjectsCommand"
          icon="icons/page_delete.png"
          label="Clear"
          style="push"
          tooltip="Clear all server objects">
    </command>
    <separator
          name="uk.ac.gda.client.exafs.separator1"
          visible="true">
    </separator>
    <command
          commandId="uk.ac.gda.rcp.views.dashboard.actions.DashboardPreferences"
          label="Preferences..."
          style="push">
    </command>
 </menuContribution>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="uk.ac.gda.rcp.views.dashboard.PreferenceInitializer">
   </initializer>
</extension>
</plugin>
