<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="file://${gda.facility.dir}/servers/dummy/sim_area_detector.xml" />

	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

	<bean id="tomographyStageGroup" class="uk.ac.diamond.daq.stage.StageGroup">
		<constructor-arg name="name" value="Tomography" />
		<constructor-arg name="stages">
			<list>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Base Y" />
					<constructor-arg name="scannable" ref="tomo_y" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Rotation" />
					<constructor-arg name="scannable" ref="tomo_rot" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Center X" />
					<constructor-arg name="scannable" ref="tomo_centring_x" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Center Z" />
					<constructor-arg name="scannable" ref="tomo_centring_z" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
			</list>
		</constructor-arg>
	</bean>
				
	<bean id="tr6StageGroup" class="uk.ac.diamond.daq.stage.StageGroup">
		<constructor-arg name="name" value="TR6" />
		<constructor-arg name="stages">
			<list>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="X" />
					<constructor-arg name="scannable" ref="base_x" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Y" />
					<constructor-arg name="scannable" ref="tr6_y" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="Rotaion" />
					<constructor-arg name="scannable" ref="tr6_rot" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
			</list>
		</constructor-arg>
	</bean>
				
	<bean id="plaformStageGroup" class="uk.ac.diamond.daq.stage.StageGroup">
		<constructor-arg name="name" value="Platform" />
		<constructor-arg name="stages">
			<list>
				<bean class="uk.ac.diamond.daq.stage.Stage">
					<constructor-arg name="name" value="X" />
					<constructor-arg name="scannable" ref="base_x" />
					<constructor-arg name="increment" value='#{ T(java.lang.Double).parseDouble("0.5")}' />
				</bean>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="diadStageGroupService" class="uk.ac.diamond.daq.stage.impl.DefaultStageGroupService">
		<constructor-arg name="stageGroups">
			<list>
				<ref bean="tomographyStageGroup" />
				<ref bean="tr6StageGroup" />
				<ref bean="plaformStageGroup" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="diadMultipleStagePositioningService" class="uk.ac.diamond.daq.stage.impl.DefaultMultipleStagePositioningService">
		<constructor-arg name="stageGroups">
			<list>
				<ref bean="tomographyStageGroup" />
				<ref bean="tr6StageGroup" />
				<ref bean="plaformStageGroup" />
			</list>
		</constructor-arg>
		<constructor-arg name="stageGroupService" ref="diadStageGroupService" />
	</bean>
</beans>